<?php if( isset( $datas[0] ) ){ $stt = 0; ?>
    <?php foreach( $datas as $lich ){ $stt = $stt + 1; ?>
        <div id="<?php echo $model."_".$lich['Lichhop']['id']; ?>" class="div1NoiDungTraLoi ContainLinkHoverXoa">
        <?php echo $stt.". ".$lich['Lichhop']['tieude']." _ ".$lich['Lichhop']['noidung']." _ ".$lich['Lichhop']['chutri']; ?>
        <?php if(isset($admin)){ ?>
            <em class="linkHoverXoa" style="margin-left : 44px;"><?php echo $this->Js->link( __("Edit"), "/admin/lichhops/sua_ngay/".$lich['Lichhop']['id']."/".$ngay,
                    array( 'before' => '$(\'#loading\').show()',
                           'update' => '#window_content', 'title' => __('Sửa lịch này'),
                           'success' => "$(\"#loading\").hide();window_show();upload_iframe_window( 'lichhop_".$ngay."', 'tinymce' );"
                    ) );
            ?>| <a href="javascript:void(0)" onclick="xoa_ajax('<?php echo $model ?>',<?php echo $lich[$model]["id"] ?>)">Del</a></em>
        <?php } ?>
        </div>
    <?php } ?>
<?php } ?>