Tháng:&nbsp;<?php echo $this->Form->month("Thang.select", array("onchange" => "get_tuan_cua_thang(this.value)")); ?>
&nbsp;&nbsp;&nbsp;
<?php foreach($tuans as $key => $tuan){
    $title = date("d/m/Y", strtotime($tuan[0])).'->'.date("d/m/Y", strtotime($tuan[1]));
        echo '<span title="'.$title.'"><a href="/admin/'.$controller.'/index/'.$tuan[0].'/'.$tuan[1].'">Tuần '.($key+1).'</a></span>&nbsp;|&nbsp;';
}
echo "của tháng <font color='red'>".$thang."</font>"; ?>