<legend>Thêm mới</legend>

<?php echo $this->Session->flash(); ?>

<?php echo $this->Form->create($model, array( 'type' => 'file' )); ?>

<div style="width:445px" id="LichhopThemForm_update_if_error">


    <table class="CssTable" border="0" cellpadding="2" cellspacing="2">
    <input id="LichhopThoigian" type="hidden" name="data[Lichhop][thoigian]" value="<?php echo $ngay; ?>">
        <tr>
            <td>Thời gian (*):</td>
            <td><?php echo $this->Form->input($model.'.tieude', array('style' => 'width:285px'));?></td>
        </tr>
        <tr>
            <td>Nội dung (*):</td>
            <td><?php echo $this->Form->input($model.".noidung",  array("rows" => 1, "cols" => 40, "label" => false));?></td>
        </tr>
        <tr>
            <td>Người thực hiện (*):</td>
            <td><?php echo $this->Form->input($model.'.chutri', array('style' => 'width:285px' ));?></td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <input id="commentForm" title="Lưu" value=" Lưu " class="Button" type="submit">
                </center>
            </td>
        </tr>

    </table>
</div>


<?php echo $this->Form->end(); ?>