<?php if($idngonngu == 1){ ?>
<div  style="color:#C5BFBF;	font-family: tahoma;font-size: 14px; background: url(<?php echo WEBSITE; ?>/img/8step/bgemail.jpg) no-repeat scroll 0 0 ; height: 494px; width: 700px;">
		<div style ="height: 1px;    margin-top: 40px;   width: 146px;"></div>
		<div style=" background-color: #231F20; border-radius: 14px 14px 14px 14px; color: #C5BFBF;  font-family: tahoma;   font-size: 14px; position: absolute;   margin-left: 102px;    margin-top: 40px;top:40px;    min-height: 407px;    width: 506px; ">
			<table style="margin-left: 10px; line-height: 2;float: left;margin-top: 11px;">
			<tr>
				<td><b style="color: #C5BFBF">
					<?php if ($id_cty == 1) {
						echo "VTCO Dear Distinguished Client!";
					}
					if ($id_cty == 2) {
						echo "DDACONS Dear Distinguished Client!";
					}
					if ($id_cty == 3) {
					echo "SPACE Dear Distinguished Client!";
					}
					if ($id_cty == 9) {
					echo "KIDOHU Dear Distinguished Client!";
					}
					if ($id_cty == 10) {
					echo "LAS92 Dear Distinguished Client!";
					}
					if ($id_cty == 11) {
					echo "SCC Dear Distinguished Client!";
					}?>
				</b></td>
			</tr>
			<tr>
				<td style="color: #C5BFBF">

					We would like to express our sincere thanks to you for your support and confidence.<br/>
					Your opinion means a great deal to us.<br/>If you were pleased with our service, or would like to make some suggestions on how we can improve it. <br/> we would like to hear what you think.
				</td>
			</tr>
			<tr>
				<td>
					<a  href="<?php echo WEBSITE; ?>/smiles/khachhang/<?php echo $id_smiles; ?>">
						<img src="<?php echo WEBSITE; ?>/img/8step/camon.png" style="margin-left: 160px;  min-height: 70px; width: 150px;" />
					</a>
				</td>
			</tr>
			<tr>
				<td style="color: #C5BFBF">
					Please kindly give us some advice and suggestions at: <a style="color:#89A1CC" href="<?php echo WEBSITE; ?>/smiles/khachhang_en/<?php echo $id_smiles; ?>"><?php echo WEBSITE; ?>/smiles/khachhang_en/<?php echo $id_smiles; ?></a>
				</td>
			</tr>
		</table>
	</div>
</div>
<?php }else{?>
	<div  style="color:#C5BFBF;	font-family: tahoma;font-size: 14px; background: url(<?php echo WEBSITE; ?>/img/8step/bgemail.jpg) no-repeat scroll 0 0 ; height: 494px; width: 700px;">
		<div style ="height: 1px;    margin-top: 40px;   width: 146px;"></div>
		<div style=" background-color: #231F20; border-radius: 14px 14px 14px 14px; color: #C5BFBF;  font-family: tahoma;   font-size: 14px; position: absolute;   margin-left: 102px;    margin-top: 40px;top:40px;    min-height: 407px;    width: 506px; ">
			<table style="margin-left: 10px; line-height: 2;float: left;margin-top: 11px;">
			<tr>
				<td><b style="color: #C5BFBF">
					<?php if ($id_cty == 1) {
						echo "VTCO xin chào quý khách hàng!";
					}
					if ($id_cty == 2) {
						echo "DDACONS xin chào quý khách hàng!";
					}
					if ($id_cty == 3) {
					echo "SPACE xin chào quý khách hàng!";
					}
					if ($id_cty == 9) {
					echo "KIDOHU xin chào quý khách hàng!";
					}
					if ($id_cty == 10) {
					echo "LAS92 xin chào quý khách hàng!";
					}
					if ($id_cty == 11) {
					echo "SCC xin chào quý khách hàng!";
					}?>
				</b></td>
			</tr>
			<tr>
				<td style="color: #C5BFBF">
					Công ty chúng tôi xin chân thành cảm ơn sự ủng hộ và tin tưởng của quý khách hàng đã giành cho chúng tôi.<br> Ý kiến của Quý khách hàng có ý nghĩa rất lớn với chúng tôi. <br>Chúng tôi rất muốn nghe những gì quý khách nghĩ.
				</td>
			</tr>
			<tr>
				<td style="color: #C5BFBF">
					Xin vui lòng đóng góp ý kiến tại tại địa chỉ website:<br/> <a style="color:#89A1CC" href="<?php echo WEBSITE; ?>/smiles/khachhang/<?php echo $id_smiles; ?>"><?php echo WEBSITE; ?>/smiles/khachhang/<?php echo $id_smiles; ?></a>
				</td>
			</tr>
			<tr><div style="height:35px;"></div></tr>
			<tr>
				<td>
					<a  href="<?php echo WEBSITE; ?>/smiles/khachhang/<?php echo $id_smiles; ?>">
						<img src="<?php echo WEBSITE; ?>/img/8step/camon.png" style="margin-left: 160px;  min-height: 70px; width: 150px;" />
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<?php }?>
<div style="margin-left: 14px; margin-top: 70px;">
	<?php if ($id_cty == 1) {?>
		<!-- bat dau email vtco -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">VTCO INVESTMENT CO.,LTD</span></span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-vtco.jpg"><img src="http://vtco.com.vn/images/Email-vtco.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386 -123</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:vantruong@vtco.com.vn" rel="nofollow" target="_blank">vantruong@vtco.com.vn</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://vtco.com.vn" rel="nofollow">vtco.com.vn</a></span></font></div>
		<!-- ket thuc email vtco -->
		<?php }elseif($id_cty == 2){?>
		<!-- 	//bắt đầu email DDA -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">DDA TECHNICAL JSC.</span></span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-dda.jpg"><img src="http://vtco.com.vn/images/Email-dda.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386 -136</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:info@ddacons.com" rel="nofollow" target="_blank">info@ddacons.com</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://ddacons.com" rel="nofollow">ddacons.com</a></span></font></div>
		<!-- //ket thuc email DDA -->
		<?php }elseif ($id_cty == 3) {?>
		<!-- Bat dau email space -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">SPACE INVESTMENT JSC.</span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-space.jpg"><img src="http://vtco.com.vn/images/Email-space.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386 </font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:info@spaceaa.com" rel="nofollow" target="_blank">info@spaceaa.com</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://spaceaa.com" rel="nofollow">spaceaa.com</a></span></font></div>
		<!-- Ket thuc email Space -->
		<?php }elseif ($id_cty == 9) {?>
		<!-- bat dau email kidohu -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">KIDOHU JOINT STOCK COMPANY - KIDOHU</span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-kidohu.jpg"><img src="http://vtco.com.vn/images/Email-kidohu.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:info@kidohu.com" rel="nofollow" target="_blank">info@kidohu.com</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://kidohu.com" rel="nofollow">kidohu.com</a></span></font></div>
		<!-- ket thuc email kidohu -->
		<?php }elseif ($id_cty == 10) {?>
	<!-- bat dau email las 92 -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">LAS92 JOINT STOCK COMPANY - LAS92</span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-las92.jpg"><img src="http://vtco.com.vn/images/Email-las92.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386 -154</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:info@las92.com" rel="nofollow" target="_blank">info@las92.com</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://las92.com" rel="nofollow">las92.com</a></span></font></div>
		<!-- ket thuc email las 92 -->
		<?php }elseif ($id_cty == 11) { ?>
		<!-- bat dau email scc -->
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			&nbsp;</p>
		<p style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<em><span style="font-size:9pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thanks and Best Regards,</span></em></p>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<span style="font-size:14pt;"><span style="font-family: georgia,serif;">SUN CUNSULTANT COMPANY - SCC</span></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<a href="http://vtco.com.vn/images/Email-scc.jpg"><img src="http://vtco.com.vn/images/Email-scc.jpg" style="width: 157px; height: 106px;" /></a></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-size: 13.3333px; font-family: serif; color: rgb(0, 0, 0); font-weight: 400; font-style: normal;">
			<p>
				<font size="3"><strong>[A]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; 246/9 Binh Quoi</span> - W.28, Binh Thanh Dist., HCMC </font></p>
		</div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[T]</strong><span> &nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 83556 5386 -149</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[F]</strong><span><strong> </strong>&nbsp;&nbsp;&nbsp;&nbsp; </span>+ 84 </font><font size="3">83556 1230</font></div>
		<div class="yiv1973317218yiv968348237MsoNormal" style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[E]</strong><span><strong> </strong>&nbsp; &nbsp;&nbsp; </span><a href="mailto:info@sccsingapore.com" rel="nofollow" target="_blank">info@sccsingapore.com</a></font></div>
		<div style="font-family: serif; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal;">
			<font size="3"><strong>[W]</strong><span>&nbsp; &nbsp;&nbsp; http://<a href="http://sccsingapore.com" rel="nofollow">sccsingapore.com</a></span></font></div>
		<!-- ket thuc email scc -->



		<?php } ?>
</div>
