/*-------------------------
    Simple reset
--------------------------*/

/*
*{
    margin:0;
    padding:0;
}
*/

/*-------------------------
    General Styles
--------------------------*/


/*html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);

    min-height:900px;
}
*/
/*body{
    font:15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
}*/

/*a, a:visited {
    outline:none;
    color:#389dc1;
}
*/
/*a:hover{
    text-decoration:none;
}*/

/*section, footer, header, aside{
    display: block;
}*/


/*----------------------------
    The file upload form
-----------------------------*/


#upload{
   /* font-family:'PT Sans Narrow', sans-serif;*/
   /* background-color:#373a3d;*/

   /* background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);*/

   /* width:250px;
    padding:30px;*/
    /*border-radius:3px;*/

    /*margin:200px auto 100px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

#drop{
 /*   background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;*/
    text-align: center;
    /*text-transform: uppercase;*/

    /*font-size:16px;*/
    font-weight:bold;
    /*color:#7f858a;*/
}

#drop a{
    background-color:#3B5998;
    padding:12px 26px;
    color:#fff;
    border-radius:2px;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a#clickUploadFileMoi{
    background-color: #0F8522;
    padding: 7px 14px;
    font-weight: normal;
}

#drop a:hover, #drop a#clickUploadFileMoi:hover{
    background-color:#0986a3;
    text-decoration: none;
}

#drop input[type^="file"]{
    display:none;
}

#upload ul{
    list-style:none;
    margin:10px;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding: 3px;
    height: 27px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 241px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 44px;
    line-height: 16px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 10px;
    right: 14px;
    cursor:pointer;
}

#upload ul li div{
    position: absolute;
    left: -24px;
    top: -12px;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


/*----------------------------
    The Demo Footer
-----------------------------*/


/*footer{
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}*/

/*#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
*/