<div id="mainWrapper">
    <?php echo $this->element('front/header') ?>
<div id="titleBar">
		<p>
			Contact Us
		</p>
	</div>

	<div id="mainContainer">
		<div id="contentLeftPanel">
			<ul class="contentNavigation">
				<li></li>
				<li></li>
                <li></li>
                <li></li>
			</ul>
		</div>
		
		<div id="contentRightPanel" class="contact" style="position:relative">
			<div class="contentText">
			  
             
              
              <div>
<p><img src="/img/line.jpg" width="600" height="1" /></p>
  	      <table width="100%" border="0" cellspacing="0" cellpadding="5">
  	        <tr>
  	          <td align="left" valign="top"><em>Mailing:</em> One Dock Street, 
              Stamford, CT 06902 </td>
            </tr>
  	        <tr>
  	          <td align="left" valign="top"><em>Phone: </em>203-967-3456</td>
            </tr>
  	        <tr>
  	          <td align="left" valign="top"><em>FAX:</em> 203-353-1863</td>
            </tr>
  	        
  	        <tr>
  	          <td align="left" valign="top"><iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;client=firefox-a&amp;q=One+Dock+Street,+Stamford,+CT+06902&amp;ie=UTF8&amp;hq=&amp;hnear=1+Dock+St,+Stamford,+Connecticut+06902&amp;gl=us&amp;t=m&amp;ll=41.048482,-73.537073&amp;spn=0.016182,0.047121&amp;z=14&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?hl=en&amp;client=firefox-a&amp;q=One+Dock+Street,+Stamford,+CT+06902&amp;ie=UTF8&amp;hq=&amp;hnear=1+Dock+St,+Stamford,+Connecticut+06902&amp;gl=us&amp;t=m&amp;ll=41.048482,-73.537073&amp;spn=0.016182,0.047121&amp;z=14&amp;source=embed" style="color:#ccc;text-align:left">View Larger Map</a></small></td>
            </tr>
  	        </table>
  	     	
		
			  
              <p>
                <style type="text/css">div.error{color:red; font-size:10px; font-family:verdana, ariel}</style><form id="contactform"  name="contactform" method="post" action="contact.php">			  </p>
              <p><strong>Send A Message</strong></p>
              <div>
  	      <table width="68%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                      <td width="15%" align="right" valign="top"><em>Name:</em></td>
                      <td width="85%" valign="top"><label>
                        <input class="text" type="text" name="name" value="" id="contactform_name"  /><div id="e_contactform_name" class="error"></div>                      </label></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top"><em>Email:</em></td>
                      <td valign="top"><label>
                        <input class="text" type="text" name="email" value="" id="contactform_email"  /><div id="e_contactform_email" class="error"></div>                      </label></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top"><em>Message:</em></td>
                      <td valign="top"><div id="e_contactform_message" class="error"></div><script type="text/javascript">var message_F;</script><textarea  name="message" id="contactform_message" ></textarea></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input class="submit" type="submit" value="Submit" name="contactform_submit" id="contactform_submit" /></td>
                    </tr>
                </table>
  	      <p>
  	        </form>		
              </div>
              
              <p><img src="/img/11.jpg"  alt="quote" width="200" height="396" style="position:absolute; right:0; top:0"/></p>
			  
			</div>
		</div>
		<p>&nbsp;</p>
    </div>
<script>
	$(document).ready(function() {
		$('#contactform").attr('action', 'contact.php?q=email');
	});
</script>
</div>


<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2183733.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
</body>
</html>
<style type="text/css">
	input.text, textarea{width:400px; border:1px solid #CCC; padding:3px}
	textarea{width:400px; height:100px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px}
	
	.topMenuHighLighter7{
		background: #BBB;
		padding:3px 10px 5px !important; 
	}
	#sliderBar{display:none}
	#contentRightPanel{display:block !important}
</style>
