<script type="text/javascript">
	var data_thanhvien_thongbao = new Array();
	var data_thanhvien_phanhoi = new Array();
</script>
<?php if( isset($user_giaoviecs) ){

	if(isset($user_giaoviecs[100])){

		$tmp = array('Task', 'Taskkientruc', 'Ddatask', 'Taskthinghiem', 'Taskketcauvt', 'Thicongtask', 'Hntask', 'Cnmttask');
			if( !in_array( $model, $tmp ) )
			{ ?>
				<span id="span_id_user_giaoviec_all">
					<b style="color:red">Gửi thông báo đến tất cả mọi người !</b>
					<input type="hidden" value="1" name="data[Nguoinhanloinhan][check_thongbao_gv_all]">
					&nbsp;&nbsp;<img style="cursor:pointer" src="/img/icon/toggle_delete.png" onclick="xoa_chon_user_giaoviec('all')" title="Bỏ" />
				</span>
	<?php }
	}else{
		foreach( $user_giaoviecs as $user_giaoviec ){ ?>
			<span>
				<?php echo $this->element("avatar_view",array(
					"dataUser" => $user_giaoviec["Nguoitao"],
					'link' => 'javascript:void(0)'
				));
					echo $this->Form->hidden("Nguoinhanloinhan.".$user_giaoviec["Nguoitao"]["id"].".user_id", array("value" => $user_giaoviec["Nguoitao"]["id"]));
					echo $this->Form->hidden("Nguoinhanloinhan.".$user_giaoviec["Nguoitao"]["id"].".yeucau_phanhoi", array("value" => 0));
				?>
				<img id="img_xoa_thongbao_<?php echo $user_giaoviec["Nguoitao"]["id"]; ?>" style="cursor:pointer" src="/img/icon/toggle_delete.png" onclick="xoa_chon_user_giaoviec(this);" title="Bỏ người này" />,&nbsp;
			</span>

			<script type="text/javascript">
				data_thanhvien_thongbao["<?php echo $user_giaoviec['Nguoitao']['id']; ?>"] = <?php echo $user_giaoviec['Nguoitao']['id']; ?>;
			</script>
	<?php }
	}
} ?>