<?php foreach( $datas as $tmp ){
		$traloi = $tmp['Comment'];
		$traloi["Nguoitao"] = $tmp["Nguoitao"];
?>
<div rel_id="<?php echo $traloi['id']; ?>" class="div1NoiDungTraLoi" id="Comment_<?php echo $traloi['id']; ?>">
	<div class="ContainLinkDeleteComment content_traloi <?php if( isset($traloi["quantrong"]) && $traloi["quantrong"] ){ ?>BackgroundImportant<?php } ?>">
		<?php echo $this->element("avatar_view",array(
				"created" => date('d/m/Y H:i', strtotime($traloi["created"])),
				"dataUser" => $traloi["Nguoitao"]
		)); ?>:
		<?php if( (strtotime($traloi["created"]) + 129600) > strtotime("now") ){ ?>
			<img src="/img/icon_new.png" />
		<?php } ?>
		<?php
		echo $this->Thumbnail->make_links_blank($traloi["noidung"]);
		if (isset($traloi["noidung_attach"]) && strlen(trim($traloi["noidung_attach"])) > 0)
			echo '<br><b>Attached files:</b>'.$traloi["noidung_attach"];

		//diult them ngay 25/11/2013 de chuyen tin nhan qua tin nhan quan trong

		if(isset($kiemtra) && $kiemtra == 1)
		{
			if(in_array(AuthComponent::user('id'), array(138,351)))
			{
				?>
					<?php

					echo $this->Js->link( "Chuyển về tin nhắn chính", "/comments/sua/".$congtrinh_id.'/'.$item_id.'/Task/'.$traloi['id'],
						array( 'before' => '$(\'#loading\').show()',
							"update" => "#window_content",
								"title" => "Chuyển về tin nhắn chính",
							   'success' => "$(\"#loading\").hide();window_show();"
						) );
			}
		}
		// diult ket thuc doan code them ngay 25/11/2013 de chuyen tin nhan qua tin nhan quan trong

		if(isset($admin) || AuthComponent::user('id') == $traloi["nguoitao"]){ ?>
			<em class="LinkDeleteComment"><a href="javascript:void(0)" onclick="xoa_ajax('Comment',<?php echo $traloi['id']; ?>,'<?php echo $model_loinhan;?>')">Xóa</a></em>
		<?php } ?>

		<!--LIKE-->
		<?php if( $model_loinhan == 'Loinhanngoaikhoavt' ){ ?>

		<?php echo "<div id=\"Comment_liked_".$traloi["id"]."\" class=\"ClickLikeDiv\" style=\"font-size: 11px;margin-top: 3px;\">";

			$string_like = "";
			if( !($traloi["like"] > 0) )
			{
				$traloi["like"] = 0;
			}

			$string_like_title = "";
			if( AuthComponent::user('id') == 4 )
			{
				$string_like_title = 'title="'.str_replace('_._', ' ', $traloi["like_people"]).'"';
			}
			$string_like = '<span '.$string_like_title.' class="LikeCount">Có <span class="NumCount">'.$traloi["like"].'</span> người thích</span> ';

			if ( !in_array( AuthComponent::user('username'), explode("_._", $traloi["like_people"]) ) ) {
				echo $string_like."<a title=\"Thích nội dung này\" class=\"ClickLike\" href=\"javascript:void(0)\" onclick=\"click_like('Comment', ".$traloi["id"].", ".$traloi["like"].", 1, 'comments')\">Thích</a>";
			}else{
				echo $string_like."<a title=\"Bỏ thích nội dung này\" class=\"ClickLike\" href=\"javascript:void(0)\" onclick=\"click_like('Comment', ".$traloi["id"].", ".$traloi["like"].", 0, 'comments')\">Bỏ thích</a>";
			}
			echo "</div>";
		?>

		<?php } ?>
		<!--END LIKE-->

		<?php if( isset($traloi["quantrong"]) && $traloi["quantrong"] ){ ?>
			<img class="StarImportant" src="/img/admin_star.png">
		<?php } ?>
	</div>
</div>
<?php } ?>
