<?php ?>
<div class="div1NoiDungTraLoi" id="Comment_<?php echo $data['id']; ?>">
	<div class="ContainLinkDeleteComment content_traloi">
		<?php echo $this->element("avatar_view",array(
			"created" => date("d/m/Y H:i"),
			"dataUser" => array(
				'id' => AuthComponent::user('id'),
				'username' => AuthComponent::user('username'),
				'realname' => AuthComponent::user('realname'),
				'avatar' => AuthComponent::user('avatar'),
				'codetbl_id' => AuthComponent::user('codetbl_id')
			)
		)); ?>:
		<img src="/img/icon_new.png" />
		<span id="Comment_noidung_<?php echo $data["id"] ?>">
		<?php echo $this->Thumbnail->make_links_blank($data["noidung"]) ?>
		</span>
		<?php if($data['trangthai'] == 5){
			if($data['model'] == 'Loinhanpkinhdoanh'){?>
			<em class="LinkDeleteComment"><a href="javascript:void(0)" onclick="xoa_ajax('Comment',<?php echo $data['id']; ?>,'Loinhanpkinhdoanh_noibo')">Xóa</a></em>
			<?php }elseif($data['model'] == 'Loinhanvibim') { ?>
			<em class="LinkDeleteComment"><a href="javascript:void(0)" onclick="xoa_ajax('Comment',<?php echo $data['id']; ?>,'Loinhanvibim_noibo')">Xóa</a></em>
			<?php }else{?>
			<em class="LinkDeleteComment"><a href="javascript:void(0)" onclick="xoa_ajax('Comment',<?php echo $data['id']; ?>,'Loinhanpkinhdoanh_noibo')">Xóa</a></em>
			<?php }
		}else{ ?>
		<em class="LinkDeleteComment"><a href="javascript:void(0)" onclick="sua_comment_ajax(<?php echo $data['id'] ?>,'<?php echo $data['model'];?>')">Sửa</a>&nbsp;|&nbsp;<a href="javascript:void(0)" onclick="xoa_ajax('Comment',<?php echo $data['id']; ?>,'<?php echo $data['model'];?>')">Xóa</a></em>
		<?php }?>
	</div>
</div>
