<legend>Chuyển trả lời tin sang lời nhắn chính</legend>

<?php echo $this->Session->flash(); ?>

<?php echo $this->Form->create();

	$link_img = '/img/icon/'.strtolower($model).'s_danhsachloinhan.png';
	if( !file_exists(APP.'webroot'.$link_img) )
	{
		$link_img = '/img/icon/tasks_danhsachloinhan.png';
	}
?>
	
	<?php if( $model == "Task" ){ ?>
	<div style="margin:5px">
		<?php echo $this->Form->input("Comment.quantrong", array( "type" => "checkbox", "label" => "Thông tin quan trọng"));?>
	</div>	
		<?php echo $this->element('../Comments/theo_hd'); 	
	} ?>
	
	<?php
		echo $this->Form->input($model.".congtrinh_id", array(
					 'div' => true,
					 'style' =>'margin-top: 8px',
					 'label' => false,
					 'type' => 'radio',
					 'legend' => false,
					 'options' => $dsctqt
					));  
	?>	
	<div style="text-align: center;margin-top: 15px;">
		<?php

				echo $this->Js->submit( "Lưu", array(
				'before' => '$("#loading").show()',
				"class" => "Button",
				//'success' => "handle_response_comment(data, '".$update_div."');" // HB_update_tinnhan()"
				'success' => "handle_response_sua_loinhan_task(data,$traloi_id);"
			));
		?>
	</div>    

<?php echo $this->Form->end(); ?>

<?php if( $model == 'Task' )
	{ ?>
		<span id="hide_send_all">&nbsp;</span>
<?php } ?>

<script type="text/javascript">
function  handle_response_sua_loinhan_task(data, congtrinh_id){	

	$("#window_content").dialog("close");
	$("#loading").hide();	
	$("#Comment_"+congtrinh_id).fadeOut();
	alert("Sửa thành công! Refesh (F5) để thấy kết quả.");
	}
</script>

