<div style="margin-left: 351px; margin-top: -21px;">
	<?php echo $this->Form->input('CongtrinhsKqtte.checkbox_TDHD', array(
			'type' => 'checkbox',
			'label' => 'Thêm vào theo dõi hợp đồng',
			'onclick' => 'them_theo_doi_hd(this.checked)'
	));?>
</div>
<div style="<?php if( !isset($this->data['CongtrinhsKqtte']) || $this->data['CongtrinhsKqtte']['checkbox_TDHD'] == 0 ){ ?>display: none<?php } ?>" id="TDHD_text_div">
	<div  style="margin-top: 3px;">
		<b>Ngày(*):</b>
		<?php echo $this->Form->input('CongtrinhsKqtte.ngay', array("style" => "width:140px;float:left", "readonly" => true )); ?>
							<?php echo $this->element("img_pop_calendar"); ?>
	</div>
	<div style="margin-top: 15px;">
		<b>Ghi Chú :</b>
		<?php echo $this->Form->input('CongtrinhsKqtte.ghichu', array(
					'rows' => 2,
					'style' => 'width:540px;',
					'maxlength' => 160,
					'onchange' => 'count_send_text_length()'
		));?>
	</div>
</div>




<script type="text/javascript">

	function them_theo_doi_hd(checked)
	{
		$("#TDHD_text_div").slideToggle();

		if( checked )
		{	

		}

		
	}
</script>