<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<!--<script type="text/javascript" src="/ckfinder/ckfinder.js"></script>-->

<?php if( !isset( $id_textarea ) )$id_textarea = $controller.'_textarea_id'; ?>

<script type="text/javascript">

CKEDITOR.replace( '<?php echo $id_textarea; ?>',
    {
        fullPage : false,
        //extraPlugins : 'docprops',
        height: 300,
        width: 800
    });
/*
// This is a check for the CKEditor class. If not defined, the paths must be checked.
if ( typeof CKEDITOR == 'undefined' )
{
    document.write(
        '<strong><span style="color: #ff0000">Error</span>: CKEditor not found</strong>.' +
        'This sample assumes that CKEditor (not included with CKFinder) is installed in' +
        'the "/ckeditor/" path. If you have it installed in a different place, just edit' +
        'this file, changing the wrong paths in the &lt;head&gt; (line 5) and the "BasePath"' +
        'value (line 32).' ) ;
}else
{
    var editor = CKEDITOR.replace( '' );
    editor.setData( '<p>Just click the <b>Image</b> or <b>Link</b> button, and then <b>&quot;Browse Server&quot;</b>.</p>' );

    // Just call CKFinder.setupCKEditor and pass the CKEditor instance as the first argument.
    // The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").

    // namnb 16 09 2011
    // CKFinder.setupCKEditor( editor, '../' ) ;
    CKFinder.setupCKEditor( editor, '/ckfinder/' ) ;

    // It is also possible to pass an object with selected CKFinder properties as a second argument.
    // CKFinder.setupCKEditor( editor, { basePath : '../', skin : 'v1' } ) ;
}*/

</script>