<?php $avatar = W_UPLOAD.$dataUser['avatar'];

    if( !isset($class) )$class = '';

    $link = "javascript:void(0)";
    // if(!isset($link) && isset($dataUser['id'])){
    //     $link = "/trangcanhan/xem/".$dataUser['id'];
    // }
    ?>
<span style="position:relative" class="AvatarViewParent"><!--ContainLinkHover-->
    <span class="AvatarView"><!--AvatarView linkHover-->
        <?php echo $this->Thumbnail->show( array( 'src' => $avatar,"w" => 80, "h" => 100 ));
            echo '<span class="UserPhongBan">H/Tên: <b>'.$dataUser['realname'].'</b></span>';
            if(isset($phongban[$dataUser['codetbl_id']]))echo '<span class="UserPhongBan" style="padding-top:0px;">P/Ban: <b>'.$phongban[$dataUser['codetbl_id']].'</b></span>';
            if(!isset($dataUser['tel']))$dataUser['tel'] = '';
            echo '<span class="UserPhongBan">SĐT: <b>'.$dataUser['tel'].'</b></span>';
            //if(!isset($dataUser['line_dienthoai']))$dataUser['line_dienthoai'] = '';
            //echo '<span class="UserPhongBan">Số nội bộ: <b>'.$dataUser['line_dienthoai'].'</b></span>';
        ?>
    </span>
    <a href="<?php echo $link; ?>" class="Avatar <?php echo $class; ?>"><?php echo $dataUser['username']; ?></a>
</span>
<?php if(isset($created)){echo "<em>(".$created.")</em>"; } ?>
