<div id="header">
	<?php if( date( "m" ) == "08" && date( "d" ) <= 10)
		{
			$url = "/img/birthday/birthday.swf";
			if( date("d") == "08" || date("d") == "09" || date("d") == "10" )$url = "/img/birthday/birthday_now.swf";
		}else{
			$url = "/img/birthday/now.swf";
		}
	?>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1000" height="225">
	  <param name="wmode" value="transparent">
	  <param name="movie" value="<?php echo $url; ?>" />
	  <param name="quality" value="high" />
	  <embed src="<?php echo $url; ?>" quality="high" wmode="transparent" 
	  		pluginspage="http://www.macromedia.com/go/getflashplayer" 
	  		type="application/x-shockwave-flash" width="1000" height="225"></embed>
	</object>
</div>