<!--<div id="BirthdayLogo">
	Sinh Nhật Công Ty
</div>
-->
<style>
	/*#BirthdayLogo{
		position: absolute;
		top:15px;
		left:20px;
	}*/
</style>

<?php if( $check_sinhnhat ){ ?>

	<div style="width:1000px; margin: 0 auto;">

		<?php if( $link == "02" ){ ?>
		<div style="margin-top:10px">
			<img style="width:1000px" src="/img/Logo-sinh-nhat-8-8.jpg">
		</div>

		<?php }else{ ?>

		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="MediaPlayer" height="380" width="1000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
			<param name="movie" value="/img/birthday/SN<?php echo $link; ?>_Space.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#869ca7" />
			<param name="albumStatus" value="true" />
			<param name="wmode" value="transparent" />
			<embed src="/img/birthday/SN<?php echo $link; ?>_Space.swf" quality="high" bgcolor="#869ca7" height="380" width="1000" name="MediaPlayer"
				align="middle" wmode="transparent" play="true" loop="false" quality="high"
				type="application/x-shockwave-flash"
				pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</object>

		<?php } ?>

	</div>


<?php } ?>