<div id="footer" style="position:relative">IKI STUDIO © <?php echo date('Y'); ?>
    <div style="position:absolute;bottom:2px;right:10px">
        <a href="/#">Home</a>
        &nbsp;|&nbsp;(<a href="/users/logout">Exit</a>)
    </div>
</div>
