<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.0.custom.min.css?v=1.1" />
<link rel="stylesheet" type="text/css" href="/css/main.css?v=1.8" />
<link rel="stylesheet" type="text/css" href="/css/calendar_popcalendar.css" />
<link rel="stylesheet" type="text/css" href="/js/fancyapps/source/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" href="/js/fancyapps/source/helpers/jquery.fancybox-buttons.css" />
<link rel="stylesheet" type="text/css" href="/js/fancyapps/source/helpers/jquery.fancybox-thumbs.css" />

<!-- <link href="/js/mini-upload-form/assets/css/style.css" rel="stylesheet" /> -->

<!--<link href="/css/jquery-ui.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet" >
<link href="/css/calendar_popcalendar.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css">-->
<!--<link rel="stylesheet" href="/css/jquery.lightbox-0.5.css">-->



<!-- Add fancyBox -->
<!--<link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/js/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/js/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />-->
