<div style="position:absolute;bottom:2px;right:0; <?php if(isset($noel)){ ?>background-color: rgba(243, 243, 243, 0.69);padding: 0 6px;<?php } ?>">
  Hi
      <span style="color:red; font-weight:bold"><?php echo $this->Session->read("Auth.User.realname"); ?></span>
  &nbsp;|&nbsp;<a href="/admin/users/doimatkhau">Change Pass</a>
  &nbsp;|&nbsp;<a target="_blank" href="https://mail.google.com"><img src="/img/icon/email.jpg" style="margin-bottom:-3px;"> IKI Mail</a>
  &nbsp;|&nbsp;(<a href="/admin/users/logout">Exit</a>)
</div>
