<div class="gopy_form">
	<div id="mainform" style="display: none;">
		<div id="GopyWindow">
			<a id="btn_gopy" class="gopy" href="javascript:void(0)">Bạn Ước Mơ</a>
			<div style="clear:both"></div>
			<div id="gopy_pn" class="color-f">
				<div style="float:left">
					<b>Bạn có một ý tưởng táo bạo, sáng kiến đột phá ?<br>
					Bạn muốn góp ý thẳng thắng, chân thành cho BGĐ ?<br>
					Bạn có một yêu cầu cần công ty đáp ứng ?<br>
					<span style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;===== HÃY GỬI NGAY ====</span></b>
				</div>
				<div style="float:right">
					<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
						codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="45" height="28">
					  <param name="wmode" value="transparent">
					  <param name="movie" value="/img/new.swf" />
					  <param name="quality" value="high" />
					  <embed src="/img/new.swf" quality="high" wmode="transparent" 
					  		pluginspage="http://www.macromedia.com/go/getflashplayer" 
					  		type="application/x-shockwave-flash" width="45" height="28"></embed>
					</object>
				</div>
			</div>
			<div style="display: none; color: #1704FC;clear:both;" id="ct_loading"></div>
			<textarea rows="8" cols="38" class="gopy_textarea" id="gopy_textarea"></textarea>
			<div style="margin-top: 5px;text-align:center">
				<input onclick="send_feedback()" type="Button" class="Button" value=" Lưu ước mơ ">
				<input href="/gopyvts/xemtatca" type="Button" class="Button BtnGo" value=" Xem tất cả ý kiến " style="margin-left:10px;">
			</div>
			<div id="btnCloseWindow">
				<img title="Đóng" src="/img/close.gif" style="cursor: pointer; margin: 0pt;" id="win_close" onclick="close_gopy()">
			</div>
		</div>
	</div>
	<a id="gopy_btn" class="gopy_btn" href="javascript:void(0)">
		<span id="icon_new_gopy"></span>
	</a>
</div>
<script type="text/javascript" src="/js/gopy.js"></script>