<?php //echo $this->Html->charset(); ?>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link rel="icon" type="image/x-icon" href="/iconiki.ico">
<link rel="shortcut icon" type="image/x-icon" href="/iconiki.ico">
<?php //echo $this->Html->meta('icon'); ?>

<title>IKI - Project Manager<?php if(isset($script_for_title))echo " - ".$script_for_title; ?></title>

<!-- Load jQuery Libs-->
<!--<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>-->
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/jquery/jquery-ui-1.10.0.custom.min.js"></script>

