<?php /*echo $this->Minify->script(array(
	'jquery/jquery.scrollTo-min',
	'tooltip/easyTooltip',
	'jquery/jquery.progressbar.min',
	'main',
	'popcalendar/popcalendar',
	'fancybox/source/jquery.fancybox.pack',
	'jquery/jquery.mousewheel.pack',
	'jquery/jquery.jscrollpane.min',
	'fancybox/source/helpers/jquery.fancybox-buttons',
	'fancybox/source/helpers/jquery.fancybox-media',
	'fancybox/source/helpers/jquery.fancybox-thumbs',
	'jquery/jquery.iframe-post-form',
	'HB/cufon-yui',
	'HB/HB'
));*/ ?>

<script type="text/javascript" src="/js/jquery/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/js/tooltip/easyTooltip.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.progressbar.min.js"></script>
<script type="text/javascript" src="/js/main.js?v=1.3"></script>
<!--<script  type="text/javascript" src="/js/congtrinh/jquery.dropcaptions.js"></script>
<script  type="text/javascript" src="/js/congtrinh/jquery-1.7.js"></script>
<script  type="text/javascript" src="/js/congtrinh/Tooltip.js"></script>-->

<!-- <script type="text/javascript" src="/js/jquery/jquery.mousewheel.pack.js"></script> -->
<script type="text/javascript" src="/js/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<script type="text/javascript" src="/js/jquery/jquery.jscrollpane.min.js"></script>
<!-- <script type="text/javascript" src="/js/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>-->
<script type="text/javascript" src="/js/fancyapps/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/fancyapps/source/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/js/fancyapps/source/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/js/fancyapps/source/helpers/jquery.fancybox-thumbs.js"></script>

<script type="text/javascript" src="/js/jquery/jquery.iframe-post-form.js"></script>
<!-- <script type="text/javascript" src="/js/HB/cufon-yui.js"></script> -->
<!-- <script type="text/javascript" src="/js/HB/HB.js"></script> -->

<link rel="stylesheet" href="/tinymce/jscripts/tiny_mce/themes/advanced/skins/o2k7/ui.css">
<script src="/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript" src="/js/tamsteps/tamstep.js"></script>

<?php if( isset( $noel ) ){ ?>

<script src="/js/tuyetroi.js"></script>

<?php } ?>

<script type="text/javascript" src="/js/popcalendar/popcalendar.js"></script>

<!-- UPLOAD FILE AJAX -->
<!-- jQuery File Upload Dependencies -->
<script src="/js/mini-upload-form/assets/js/jquery.knob.js"></script>
<script src="/js/mini-upload-form/assets/js/jquery.ui.widget.js"></script>
<script src="/js/mini-upload-form/assets/js/jquery.iframe-transport.js"></script>
<script src="/js/mini-upload-form/assets/js/jquery.fileupload.js"></script>

<script src="/js/jquery.cycle2.min.js"></script>
<script src="/js/jquery_form.js"></script><!-- upload ajax -->
