<div id="menu">
	<ul>
		<li><span class="Menu" style="background-color:#000000"><?php echo __("Menu"); ?></span></li>
		<?php foreach ($lefts as $valueleft => $left) { $checkSelected = false; ?>
		<li <?php if( $valueleft == 182 && $valueleft != 1543){ ?>style="margin-top: 19px;"<?php } ?>>
			<?php if ($valueleft != 1543 && $valueleft != 1546) { ?>
				<span class="Menu"><a href="javascript:void(0)" <?php if( isset($typeleft) && $valueleft == $typeleft ){ $checkSelected = true; ?>class="Selected"<?php } ?>>♦ <?php echo $left; ?></a></span>
				<?php if( $valueleft != 182){ ?>
						<ul>
						  <?php foreach( $tops as $valuetop => $top ){
								if( $valueleft == 171 && $valuetop < 174 ){ continue; }							
								if( $valueleft != 171 && $valuetop >= 174 &&  $valueleft != 1385 && $valuetop != 1386){ continue; }
								?>
									<li><span class="Menu">
									<a <?php if( $checkSelected && isset($type) && $valuetop == $type ){ ?>class="Selected"<?php } ?> href="/<?php echo $controller; ?>/index/<?php echo $valueleft;?>/<?php echo $valuetop;?>" >* <?php echo $top; ?></a></span></li>
						  <?php } ?>
						</ul>
				<?php } ?>
			<?php }elseif ($valueleft == 1543){?>
				<span class="Menu"><a href="/<?php echo $controller; ?>/index/<?php echo $valueleft;?>/1544" <?php if( isset($typeleft) && $valueleft == $typeleft ){ $checkSelected = true; ?>class="Selected"<?php } ?>>♦ <?php echo $left; ?></a></span>
			<?php }elseif ($valueleft == 1546){?>
				<span class="Menu"><a href="/<?php echo $controller; ?>/index/<?php echo $valueleft;?>/1545" <?php if( isset($typeleft) && $valueleft == $typeleft ){ $checkSelected = true; ?>class="Selected"<?php } ?>>♦ <?php echo $left; ?></a></span>
			<?php }?>
			
		 </li>
	  <?php } ?>
	</ul>
</div>
