<div id="menu">
	<ul>
		<li><span class="Menu" style="background-color:#000000"><?php echo __("Menu");?></span></li>
		<li><span class="Menu"><a href="/codetbls/chudautu" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "chudautu" ){ ?>class="Selected"<?php } ?>>♦ Chủ đầu tư</a></span></li>
		<li><span class="Menu"><a href="/codetbls/congty" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "congty" ){ ?>class="Selected"<?php } ?>>♦ Các công ty</a></span></li>
		<li><span class="Menu"><a href="/codetbls/loai" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "loai" ){ ?>class="Selected"<?php } ?>>♦ Loại CT</a></span></li>
		<li><span class="Menu"><a href="/codetbls/nhom" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "nhom" ){ ?>class="Selected"<?php } ?>>♦ Nhóm CT</a></span></li>
		<li><span class="Menu"><a href="/codetbls/hangmuc" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "hangmuc" ){ ?>class="Selected"<?php } ?>>♦ Hạng Mục CT</a></span></li>
		<li style="margin-top:15px;"><span class="Menu"><a href="/codetbls/nhomthanhvien" <?php if( $this->request->params["controller"] == "codetbls" && $this->request->params["action"] == "nhomthanhvien" ){ ?>class="Selected"<?php } ?>>♦ Nhóm thành viên</a></span></li>
	</ul>
</div>