<br><a onclick="disable_double_click_download(this);return false;" href="/uploaders/zipFilesAndDownload/<?php echo base64_encode($id_controller)."/".$controller; ?>"
	title="Download tất cả các file trên">Download</a> tất cả <?php echo $count_num_file;?> files