<a onclick="disable_double_click_download(this);return false;" href="/uploaders/download/<?php echo base64_encode($id_file); ?>" title="Download file này">
<?php echo $name_file; ?></a> <?php if(isset($dungluong_file)){
		echo '<em>('.$this->Number->toReadableSize($dungluong_file).')</em>';
	}
?>

<?php if( isset($file_xuat) && $model == "CongtrinhsFile" ){ ?>

	[<img id="download_outside_<?php echo $id_file; ?>" onclick="chon_download_outside_copy(<?php echo $id_file; ?>)" src="/img/icon/download_outside.png" style="width: 9px" title="Cho phép file này download từ bên ngoài" class="img_file_xuat">]

	<?php if(isset($admin) || (in_array(AuthComponent::user('id'), array(542, 558, 499, 531, 461, 571,22, 523,165,129,365,452,279,337,261,494, 466,446, 317, 483, 525, 500, 535, 575, 438, 4, 13, 156, 382, 175,175,482,481,411,409,480,351,493,507,538)))){ ?>
		<?php if( $file_xuat ){ ?>
			[<img style="opacity:0.3;width: 9px" src="/img/icon/file_xuat.png" title="File này đã chọn rồi">]
		<?php }else{ ?>
			[<img id="file_xuat_<?php echo $id_file; ?>" onclick="chon_file_xuat('<?php echo $model; ?>', <?php echo $id_file; ?>)" src="/img/icon/file_xuat.png" style="width: 9px" title="Chọn file này làm file xuất" class="img_file_xuat">]
		<?php } ?>
		<?php

			$arr_type_valid = [
				'xls'  => 'Excel',
				'xlsx' => 'Excel',
				'doc'  => 'Word',
				'docx' => 'Word',
				'pptx' => 'PowerPoint',
				'ppt'  => 'PowerPoint',
				'pdf'  => 'Word'
			];
			$ext = strtolower(substr(strrchr(basename($name_file),'.'),1));
			if (isset($arr_type_valid[$ext])) {
				if(in_array(AuthComponent::user('id'), array(4, 351))){ ?>
					[<a href="/uploaders/view/<?php echo $id_file; ?>" target="_blank"><img style="width:9px" src="/img/icon/icon_view.png" title="Xem online"></a>]
		<?php
				}
			} ?>



	<?php } ?>

	&nbsp;<span id="file_xuat_span_<?php echo $id_file; ?>" style="background-color: #E6EFC2; border-color: #C6D880; color: #529214;display:none">chọn thành công.</span>

<?php } ?>