<div class="file">
<?php foreach( $data["File"] as $key => $file ){ ?>
	<?php echo $key+1; ?>. <a href="/uploaders/download/<?php echo $file['id']; ?>" title="<?php echo __('Download file này'); ?>"><?php echo $file["name"]; ?></a><br>
<?php } ?>
<?php if(isset($data["File"][1])){?><br><a href="/uploaders/zipFilesAndDownload/<?php echo $data[$model]['id']."/".$controller; ?>" title="<?php echo __('Download tất cả các file trên'); ?>"><?php echo __("Download"); ?></a> tất cả <?php echo count($data["File"]);?> files<br><?php } ?>
</div>