<?php $this->Session->flash('auth');
	if (isset($message_error)) { ?><div id="error_message" class="message_error"><?php echo $message_error; ?></div><?php }
	if( isset($message_success)) { ?><div id="success_message" class="message_success"><?php echo $message_success; ?></div><?php }
	if( isset($message_notice)) { ?><div id="notice_message" class="message_notice"><?php echo $message_notice; ?></div><?php }
	if( isset($message_suggest)) { ?><div id="suggest_message" class="message_suggest"><?php echo $message_suggest; ?></div><?php } ?>
