<div id="header">
    <div id="DivNav" style="position:relative">
        <ul id="Nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/congtrinhs">Lists of Projects</a></li>
            <?php if(isset($admin)){ ?>
            <li><a href="/admin/mains/index/2">Pursued Projects</a></li>
            <?php } ?>
            <!-- 160712 Doan them -->
            <?php if(in_array(AuthComponent::user('id'), array(2, 3))) { ?>
            <li><a href="/admin/doitacs">DoiTac</a></li>
            <?php } ?>
            <!-- 160712 Doan them -->
            <li><a href="/admin/users">Users</a></li>
        </ul>
    </div>
</div>
