<div class="paging" style="text-align:left; margin-left:5px;">
<?php	if(!isset($add_js_more))$add_js_more = "";

		if(isset($update)){

			$success = '$("#loading").hide();$.scrollTo( "' . ( ( substr( trim( $update ), 0, 1 ) == '#' )?'':'' ) .$update.'", 300, {offset:-90} );'.$add_js_more;
			if( isset($no_scroll) )
			{
				$success = '$("#loading").hide();'.$add_js_more;
			}


			$this->Paginator->options(array(
				'update' => ( ( substr( trim( $update ), 0, 1 ) == '#' )?'':'' ) . $update,
				'evalScripts' => true,
				'before' => '$(\'#loading\').show()',
				'success' => $success
			));
		} ?>
	<?php if(isset($show_info) && is_string($show_info)){
			echo "Số ".$show_info." tìm thấy là <font color='red'>".$this->Paginator->counter(array('format' => __('%count%')))."</font> ".$show_info.".<br>";
			//echo "<p style='color:blue'>".$this->Paginator->counter(array(
			//	'format' => __('Trang %page%/%pages%, hiển thị %current% / tổng %count% kết quả, từ %start% -> %end%')
			//))."</p>";
		}
	?>
	<?php if( $this->Paginator->hasPage( null, 2 ) ){ ?>
		<?php echo $this->Paginator->first('<< '.__('Đầu')); // , array(), null, array('class'=>'disabled')  ?>
		<!--<span class="ThanhPhanChia">|</span>-->
		<?php echo $this->Paginator->numbers(array("separator" => ""));?>
		<!--<span class="ThanhPhanChia">|</span>-->
		<?php echo $this->Paginator->last(__('Cuối').' >>'); // , array(), null, array('class' => 'disabled') ?>
	<?php } ?>
</div>
<?php echo $this->Form->hidden( 'page', array('value' => 1) ); ?>
<?php echo $this->Js->writeBuffer(); ?>