<center><b>Công trình tìm kiếm thấy</b></center>
<?php if(isset($datascongtrinh)){ ?>

<table id="TooltipChitiet" class="CssTable" style="margin-left:10px;width: 95%;">
	<tr style=" font-size: 15px;  font-weight: bold;">
		<td>STT</td>
		<td>MSCT</td>
		<td>Tên công trình</td>
		<td></td>
	</tr>
	<?php 					
	$dem = 1;			
 	foreach( $datascongtrinh as $data){
 		echo "<tr>";
		echo '<td>';
			echo $dem;
		echo '</td>';
		echo '<td>';?>
			<a href="/congtrinhs/view/<?php echo $data['Congtrinh']['id'];?>"><?php echo $data['Congtrinh']['id'];?> </a>
			
		<?php echo '</td>';
		echo '<td>'; ?>
			<a href="/congtrinhs/view/<?php echo $data['Congtrinh']['id'];?>"><?php echo $data['Congtrinh']['tieude'];?></a>
		<?php	
		echo '</td>';
		echo '<td>';?>
			<a href="/congtrinhs/view/<?php echo $data['Congtrinh']['id'];?>">Xem</a>
		<?php 
		echo '</td>';
		$dem ++;
		echo '</tr>';
	}
	?>
</table>
<?php } ?>
