<cente><b>Thành Viên tìm kiếm thấy </b></center>

<?php if(isset($datausers)){ ?>

<table id="TooltipChitiet" class="CssTable" style="margin-left:10px;width: 95%;">
	<?php 					
		echo "<tr>";
		if (count($datausers) > 4 ) {  $i = 0; $j= 0;
			foreach( $datausers as $timnguoi){ //pr($timnguoi);
				if(($i==0) && ($j==0)){
					$i= $i + 1;
					$j = 0;
					//pr($i); pr($j);
					echo "<tr>";
				}else{	
					$i = $i;
					$j++;					
					if($j == 4)
					{
						$j = 0;
						$i++;
						echo "<tr>";
					}					
				}
				echo '<td>';
				echo $this->element('../Users/index_td', array('key_tmp' => 0, 'data' => $timnguoi, 'user' => $timnguoi['User'] ,'key' => $timnguoi['User']['id'], 'i' => $i, 'j' => $j));
				echo '</td>';	
				if($j == 3)
				{
					echo "</tr>";
				}		
				
			}
		}				
		else{
			echo "<tr>";
		 	foreach( $datausers as $timnguoi){
			echo '<td>';
			echo $this->element('../Users/index_td', array('key_tmp' => 0, 'data' => $timnguoi, 'user' => $timnguoi['User']));
			echo '</td>';					
			}
		}
		echo '</tr>';
		
	?>
</table>
<?php } ?>
