<style type="text/css">
.TenFolerchuafile{
	color: #059427;
}
#ChuthichUpload{
	color: #999;
	font-size: 10px;
	font-weight: normal;
	margin-left: 10px;
}
#KhongThuocThumuc{
	color: #999;
	font-size: 11px;
	font-weight: normal;
}
#chuthich{
	color: #6F6F6F;
	font-size: 12px;
	font-weight: normal;
}
</style>
<cente><b> File tìm kiếm thấy </b></center>
<table class="Data" style="margin-top: 6px">
	<tr>
		<td><b>STT</b></td>
		<td style="  max-width: 160px; min-width: 143px;"><b>Tên File</b></td>
		<td colspan="2"><b>Vị Trí Upfile</b></td>
		<td><b>Tiêu Đề</b></td>
		<td><b>Mô Tả </b></td>
		<td><b>Folder</b></td>		
		<td><b>Dung lượng</b></td>
		<td style="width: 30px;"><b>Ngày Up</b></td>
		

	</tr>
	<?php $STT = 0;	?>
	<?php foreach($data_file_all as $file){  $STT = $STT + 1 ;?>

	<tr class="TrData" id="Uploader_<?php echo $file['Uploader']['id']; ?>">

		<td><center><?php echo $STT ; ?></center></td>
		<td id="Td_Uploader_<?php echo $file["Uploader"]['id']; ?>">
			<div style = "width: 155px">
				<a href="/uploaders/download/<?php echo $file["Uploader"]['id']; ?>" title="<?php echo __('Download file này'); ?>">
					<?php echo $file["Uploader"]["name"]; ?>
				</a>

				<?php if( (strtotime($file["Uploader"]["created"]) + 129600) > strtotime("now")){ ?>
					<img src="/img/icon_new.png" />
				<?php } ?>
			</div>

			<div style = "width: 155px"><!--  class="LinkDownload" -->
			<input style = "display:none;width: 155px" id ="<?php echo  $file["Uploader"]['id'];?>" onclick ="copy_link(<?php echo  $file["Uploader"]['id'];?>)"
			value="<?php echo WEBSITE; ?>/uploaders/download/<?php echo $file["Uploader"]['id']; ?>">
			<em id ="em_<?php echo  $file["Uploader"]['id'];?>" onclick ="showTextBox('em_<?php echo  $file["Uploader"]['id'];?>',<?php echo  $file["Uploader"]['id'];?>)"><?php echo WEBSITE; ?>/uploaders/download/<?php echo $file["Uploader"]['id']; ?></em>
			<!--<em><?php //echo WEBSITE; ?>/uploaders/download/<?php //echo $file["Uploader"]['id']; ?></em>-->
			</div>

		</td>	
		<td>
			<?php if($file["Uploader"]['controller'] == 'users'){?>
			<a href="/trangcanhan/xem/<?php echo $file["Uploader"]['nguoitao'];?>">Trang cá nhân</a>	 
			</td><td colspan="3">
			<?php }else {?>
			<a href="/congtrinhs/view/<?php echo $file["CongtrinhsFile"]['congtrinh_id'];?>"><?php echo $file["CongtrinhsFile"]['loai'];?></a>

			<?php //echo $file["CongtrinhsFile"]['loai'];?>
		</td>
		<td><a href="/congtrinhs/view/<?php echo $file["CongtrinhsFile"]['congtrinh_id'];?>"><?php echo $file["CongtrinhsFile"]['Congtrinh']['tieude'];?></a></td>
		<td><?php echo $file["CongtrinhsFile"]['tieude'];?></td>		
		<td><?php echo $file["CongtrinhsFile"]['mota'];?> </td>
		<?php }?>	
		<td>
			<div>
				<a href="/uploaders/download/<?php echo $file["Uploader"]['id']; ?>" title="<?php echo __('Download file này'); ?>">
					download
				</a>
			</div>
		</td>
		<td><center><?php echo $this->Number->toReadableSize($file["Uploader"]["dungluong"]); ?></center></td>
		<td><center><?php echo date("d/m/Y H:i", strtotime($file["Uploader"]["created"])); ?></center></td>
	</tr>

	<?php } ?>
</table>


<script>
	function showTextBox(em_id,input_id) { // alert(em_id);
		document.getElementById(em_id).style.display = "none";
		document.getElementById(input_id).style.display = "block";
		var elem = document.getElementById(input_id);    
		  if(typeof elem !== 'undefined' && elem !== null) {   	   
		    document.getElementById(input_id).select();
		  }
	}
</script>