<?php if(isset($thongbaohethongs) && !empty($thongbaohethongs)){ ?>
<div id="ThongBaoHeThong">
	<table><tr><td style="padding-right: 0px;"><a href="/thongbaohethongs"><img src="/img/LumaRed.png"></a></td>
	<td style="padding-left: 0px;"><div style="width: 960px;background-color: #79C0D4;height:18px;margin-top: 8px; margin-left: 0px;">
		<marquee style="padding-top: 2px;" scrollamount="3" loop="3"><?php echo $this->Thumbnail->make_links_blank( $thongbaohethongs["Thongbaohethong"]["noidung"]); ?></marquee></div></td>
	</tr></table>
</div>
<?php } ?>
<script type="text/javascript">
	var marquee = null; $(function(){marquee = window.setTimeout("$('#ThongBaoHeThong').remove();window.clearTimeout(marquee)", 50000);});
</script>