<div style="float:left">
	<div style="text-align:right">
		<?php echo $this->Js->link( '<img style="cursor:pointer" src="/img/icon/upload_congtrinh.png"> Attach files của công trình này',
					'/congtrinhs_files/attach_file/'.(isset($congtrinh_id)?$congtrinh_id:''),
					array( 'before' => '$(\'#loading\').show()',
							'update' => '#window_content_2',
							'title' => 'Attach file vào tin',
							'success' => '$("#loading").hide();window_show_2();$("#window_content_2").parent("div").css("left", 384 + Math.floor(($(window).width() - 1060)/2));AttachFile_load_khoi_tao();',
							'escape' => false
					) );
			?>
	</div>
</div>
<style type="text/css">
#contain_attach_file li{
	list-style-type: decimal !important;
}
</style>
