<div>
	<div style="text-align:right">
		<?php echo $this->Js->link( '<img style="cursor:pointer" src="/img/icon/upload_file_loinhan_traloi.png"> Attach files',
					'/canhans/attach_file/'.(isset($congtrinh_id)?$congtrinh_id:''),
					array( 'before' => '$(\'#loading\').show()',
							'update' => '#window_content_2',
							'title' => 'Attach file vào tin',
							'success' => '$("#loading").hide();window_show_2();$("#window_content_2").parent("div").css("left", 384 + Math.floor(($(window).width() - 1060)/2));AttachFile_load_khoi_tao();',
							'escape' => false
					) );
			?>
	</div>
	<ul id="contain_attach_file" style="margin-left: 18px;">
		<?php if (isset($show_noidung_attach)) {
			foreach ($show_noidung_attach as $key => $value) {
				echo '<li id="chon_attach_file_nay_'.$value[0].'"><a style="color:blue !important!;" onclick="disable_double_click_download(this);return false;" href="/uploaders/download/'.$value[0].'" title="File được upload trong công trình có <b> MSCT: 2177</b>">'.$value[1].'</a> <em>('.$value[2].')</em><input type="hidden" name="data[Attach]['.$key.']" value="'.$value[0].'_._'.$value[1].'_._'.$value[2].'" id="Attach'.$key.'"> <img style="cursor: pointer; width: 12px; height: 12px;" src="/img/icon/toggle_delete_phanhoi.png" onclick="xoa_chon_attach_file('.$value[0].')" title="Bỏ file này">,&nbsp;</li>';
			}
		} ?>
	</ul>
</div>
<style type="text/css">
#contain_attach_file li{
	list-style-type: decimal !important;
}
</style>
