<?php if(isset($view_file_uploaded)){
		echo $this->Upload->vt_edit($view_file_uploaded);
	}else{
		echo $this->Upload->vt_edit();
	} ?>

	<?php $tmp_arr = array(
			'Phaplyvt' => 'Pháp lý',
			'Bienban' => 'Biên bản',
			'Banvevt' => 'Bản vẽ',
			'Khaosat' => 'Khảo sát',
			'Bantinh' => 'Bản tính',
			'Giaodichvt' => 'Thuyết minh - Dự toán',
			'Baocaotuan' => 'Báo cáo tuần',
			'Baocaothang' => 'Báo cáo tháng'
		);

if( !isset($show_chon_loai) )
{
	echo '<div id="chon_loai_file_upload_ajax" style="display:none">';
}else{
	echo '<div id="chon_loai_file_upload_ajax">';
}

		if( isset($congtrinh_id) )
		{
			echo $this->Form->input('Comment.model_loai_sub_congtrinh', array(
				'empty' => '---',
				'div' => false,
				'options' => $tmp_arr,
				'label' => '<b>Chọn loại file</b> <span style="color:red">(*)</span>: ' , 'style' => 'width: 79px;height: 23px;'
			));
		}else{
			echo $this->Form->hidden('Comment.model_loai_sub_congtrinh', array( 'value' => 'User' ));
			echo '<i>(các <b>attached files</b> trên sẽ được lưu tự động vào trang cá nhân của bạn)</i>';
		}
echo '</div>';

?>