<?php if(!isset($field_usersearch))$field_usersearch = "User.username"; ?>
<div id="users_search_<?php if(isset($thutu)){echo $thutu;}?>">
	<?php echo $this->Form->hidden('User.id', array('id' => 'id_user' ));?>
	<?php echo $this->Form->input($field_usersearch, array('type' => 'text', 'size' => '20', 'readonly' => true, 'style' => 'float: left; margin-right: 5px;' ));?>
	<button title="<?php echo __('Click vào đây để tìm kiếm thành viên'); ?>" class='Button' style="float: left; margin-right: 5px;" type='button' onclick='open_search_user_2("users_search_<?php if(isset($thutu)){echo $thutu;}?>" );'><?php echo __("Chọn");?></button>
	<?php //echo $this->Form->input('User.realname', array('size' => '20', 'readonly' => true ));?>
</div>