<?php if(!isset($field_usersearch))$field_usersearch = "User.username";

		if(!isset($value))$value = "";
 ?>
<div id="users_search_<?php if(isset($thutu)){echo $thutu;}?>">

	<?php echo $this->Form->hidden('User.id', array('id' => 'id_user' ));?>
	<?php echo $this->Form->input($field_usersearch, array('type' => 'text', 'size' => '16',  'readonly' => true, 'style' => 'float: left; margin-right: 5px;', 'value' => $value ));?>
	<button title="Click vào đây để tìm kiếm thành viên" class='Button' style="float: left; margin-right: 5px;" type='button' onclick='open_search_user("users_search_<?php if(isset($thutu)){echo $thutu;}?>" );'>Chọn</button>

	<?php //echo $this->Form->input('User.realname', array('size' => '20', 'readonly' => true ));?>
</div>