<div id="LeftAvatar">
	<div style="padding-left: 2px; padding-top: 3px;">
	<?php echo $this->Thumbnail->show( array( 'src' => W_UPLOAD.$users['User']["avatar"],"w" => 155, "h" => 180 )); ?></div>
</div>
<div class="MenuLeft">
	<h3><img hspace="2" src="/img/icon/proflie_user_view.png"><?php echo $users['User']['username']; ?></h3>
	<div class="ThongTin"><b>* <?php echo __("Tên"); ?>: </b><?php echo $users['User']['realname']; ?></div>
	<div class="ThongTin"><b>* <?php echo __("Ngày sinh"); ?>: </b><?php echo $users[0]['birthday'];?></div>
	<div class="ThongTin"><b>* <?php echo __("Ngày vào cty"); ?>: </b><?php echo $users[0]['ngayvaocty'];?></div>
	<div class="ThongTin"><b>* <?php echo __("Số ĐT"); ?>: </b><?php echo $users['User']['tel']; ?></div>
	<div class="ThongTin"><b>* <?php echo __("Quyền hạn"); ?>: </b><?php echo $users['Group']['name']; ?></div>
	<div class="ThongTin"><b>* <?php echo __("Bộ phận"); ?>: </b><?php echo $users['Nhom']['name']; ?></div>
	<?php if(AuthComponent::user('id') == $users["User"]["id"]){ ?>
	<div class="ThongTin">
		<a style="color:blue" href="/<?php echo $controller;?>/doimatkhau" title="Đổi mật khẩu của tôi">
			<img id="DoiMatKhau" src="/img/icon/users_view_password.png">
		<?php echo __("Đổi mật khẩu"); ?></a></div>
	<?php } ?>
</div>
<?php if( in_array( $users["User"]["id"], array( 4, 105 ) ) ){ ?>
<div class="AddMenuLeft"></div>
<div class="AddMenuLeft"><a href="/users/view/<?php echo $users["User"]["id"]; ?>">♦ Folder lưu trữ File</a></div>
<div class="AddMenuLeft"><a href="/users/view/<?php echo $users["User"]["id"]; ?>/?upload=1">♦ File Upload cũ</a></div>
<?php } ?>
<div class="AddMenuLeft"></div>
<div class="AddMenuLeft"><a href="/users/khachhang_upload">♦ File Khách Hàng Upload</a></div>
<div class="AddMenuLeft"></div>