<?php if(isset($whoisonline)){ ?>
	<b class="Shadow">Đang online QLDA (<?php echo $whoisonline_count;?>):</b>
	<?php
		if( !isset($phongban) )$phongban = $this->Session->read( 'phongban_ALL');
		if( !isset($tongnhanvien_phongban) )$tongnhanvien_phongban = $this->Session->read( 'tongnhanvien_phongban');
		foreach($whoisonline as $key => $nhom_online){

			$info = $title = "";
			// if( in_array(AuthComponent::user('id'), array(4, 21)) ){
			// 	$title = " title='".implode(',', $nhom_online)."' ";
			// 	$info .= ": ".implode(', ', $nhom_online);
			// }
			echo "<b>".$phongban[$key].":</b> <a href='javascript:void(0)' ".$title.">(".count($nhom_online)."/".$tongnhanvien_phongban[$key]." người)</a>".$info.", ";
		}
	?>
<?php } ?>
