<table id="whoisonline">
	<tr>
		<td><IFRAME src="http://www.informatik.uni-leipzig.de/~duc/amlich/JavaScript/currentmonth.html" align="right" name="CurentMonth" width="182" height="208" scrolling="no" frameborder=0></IFRAME>
		<!-- XEM TRONG FILE js CÓ THỂ KHÔNG CẦN LOAD BẰNG FRAME MÀ TÍNH TOÁN BẰNG JS LUÔN --></td>
		<td>
			<div id="MemberOnline">
				<b class="Shadow">Những người đang online trên web (<?php echo $whoisonline_count;?> người):</b>
				<?php foreach($whoisonline as $key => $nhom_online){
					echo "<b>".$phongban[$key].":</b> ";
					foreach($nhom_online as $persononline){
						$avatar = W_UPLOAD.$persononline[1]; ?>
						<span style="position:relative">
							<span class="AvatarView"><?php echo $this->Thumbnail->show( array( 'src' => $avatar,"w" => 120, "h" => 150 )); ?></span>
							<a href="#" class="Avatar"><?php echo $persononline[0]; ?></a></span>,&nbsp;
					<?php }
				} ?>
			</div>
		</td>
	</tr>
</table>