<div class="ov_window" style="display:none">
    <!--<div id="ov_overlay"></div>-->
    <div class="ov_contain">
        <div id="window_content"></div>
        <div class="btnCloseWindow">
            <img onclick="$('#window_content').dialog( 'close' );" id="win_close" style="cursor: pointer; margin: 0pt;" src="/img/close.gif" title="<?php echo __('Đóng'); ?>">
        </div>
    </div>
</div>