<div class="loinhantrangchu" onmouseout="hide_xemnhanh()" onmouseover="show_xemnhanh()">
    <a id="xemnhanh" href="javascript:void(0)">>> Xem nhanh >></a>
    <div id="xemnhanh_detail" style="display:none">
        <ul>
            <!-- <li style="padding-bottom:3px;border-bottom: 1px solid #D9D6D6;">1. <a href="admin/#scroll_loinhansinhnhats">Sinh Nhật</a></li>

            <li>2. <a href="admin/#scroll_baotritaisans">Bảo Trì / Tài Sản</a></li>
            <li style="padding-bottom:3px;border-bottom: 1px solid #D9D6D6;">3. <a href="admin/#scroll_loinhanphongits">IT</a></li>

            <li><a href="/users/logout">Thoát</a></li> -->

            <li>1. <a href="admin/#scroll_loinhancongviecs">DAILY SCHEDULE</a></li>
            <li>2. <a href="admin/#scroll_loinhanphongits">ANNOUNCEMENT</a></li>
            <li>3. <a href="admin/#scroll_loinhanchiases">SHARED EXPERIENCE</a></li>
            <li>4. <a href="admin/#scroll_loinhansinhnhats">BIRTHDAYS</a></li>

        </ul>
    </div>
</div>
