<div class="loinhantrangchu" onmouseout="hide_xemnhanh()" onmouseover="show_xemnhanh()">
	<div class="xemnhanh" class="loinhantrangchu"><a href="javascript:void(0)">>> Chọn cột >></a></div>
	<div class="xemnhanh_detail" class="loinhantrangchu"><!-- style="display:none"-->
		<div><?php echo $this->Form->checkbox("Rmcolumm.vitri", array("label" => "Địa điểm")); ?></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_quyxaycau">Quỹ Xây Cầu</a></div>
		<div><a href="#scroll_englisheveryday">English Everyday</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_nhansuhanhchanh">N.Sự - H.Chánh</a></div>
		<div><a href="#scroll_phongtonghop">P.Tổng Hợp</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_phongketoan">P.Kế Toán</a></div>
		<div><a href="#scroll_phongit">Space Connection</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_phongkinhdoanh">P.Kinh Doanh</a></div>
		<div><a href="#scroll_loinhanchinhanhhns">Chi Nhánh Hà Nội</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_phongkhaosat">P.Khảo Sát</a></div>
		<div><a href="#scroll_daotao">Đào Tạo</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_lichhop">Lịch Họp</a></div>
		<div><a href="#scroll_nghiphepcongtac">N.Phép/C.Tác</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_dangkyxe">Đăng Ký Xe</a></div>
		<div><a href="#scroll_chiasekinhnghiem">Chia sẻ k.nghiệm</a></div>
		<div style="background-color:#F2F2F2;"><a href="#scroll_ngoaikhoa">Ngoại Khóa</a></div>
	</div>
</div>
<script>//function show_xemnhanh(){ if($('.xemnhanh').attr('style') != 'display:none'){$('.xemnhanh').hide();$('.xemnhanh_detail').show();} }
		//function hide_xemnhanh(){ $('.xemnhanh_detail').hide();$('.xemnhanh').show(); }
</script>