<?php $i = 1; $STT = 1;
if( $this->request->params['paging'][$model]['page'] > 1 )
{
    $STT = ($this->request->params['paging'][$model]['page']-1)*$this->request->params['paging'][$model]['limit'] + 1;
} ?>

<ul id="tintucs_abc">
<?php foreach( $datas as $data ){ ?>
    <li id="<?php echo $model.'_'.$data[$model]['id']; ?>"><?php echo $STT++;

            echo '. '.$this->Js->link( $data["Tintuc"]["tieude"], "/tintucs/chitiet/".$data[$model]["id"],
                array( 'before' => '$(\'#loading\').show()',
                       'update' => '#window_content', 'title' => __('Sửa tin tức này'),
                       'success' => '$("#loading").hide();window_show();',
                       'escape' => false
           ) );
         ?>&nbsp;<em>(<?php echo $all_user_qlda[$data[$model]["nguoitao"]]['username'].", ".date("d/m/Y H:i",strtotime($data[$model]["created"])); ?>)</em>

        <?php if( (strtotime($data[$model]["created"]) + (DAY*3) ) >= strtotime("now") ) {  ?>
            <img src="/img/icon_new.png" />
        <?php } ?>
        <?php if( isset( $admin ) ){
            echo '<em>'.$this->Js->link( __("Edit"), "/$controller/sua/".$data[$model]["id"],
                    array( 'before' => '$(\'#loading\').show()',
                           'update' => '#window_content', 'title' => __('Sửa tin tức này'),
                           'success' => '$("#loading").hide();window_show();'
                           ) );
                ?>| <a href="javascript:void(0)" onclick="xoa_ajax('<?php echo $model; ?>',<?php echo $data[$model]['id']; ?>)">Del</a></em>
        <?php } ?>
    </li>
<?php } ?>
</ul>

<style>
    #tintucs_abc a{
        text-transform: lowercase;
    }
</style>

<?php echo $this->element('paging_search', array('update' => '#list_tintucs_more', 'no_scroll' => 1)); ?>
<?php echo $this->Js->writeBuffer(); ?>