.pcBtn {
	CURSOR: pointer;
}

#pcIDcalendar {
	BACKGROUND: #FFF;
	BORDER: 1px solid #A0A0A0;
	POSITION: absolute;
	VISIBILITY: hidden;
	WIDTH: auto;
	Z-INDEX: +999;
}

#pcIDcaption {
	BACKGROUND: url('/img/popcalendar/bgcaption.png') repeat-x;
	COLOR: #FFF;
	FONT: bold 11px/ 20px Arial, Helvetica, sans-serif;
	HEIGHT: 20px;
	PADDING: 2px 3px 4px 2px;
}

#pcIDcaption div {
	CLEAR: none;
	COLOR: #FFF;
	CURSOR: pointer;
	FLOAT: left;
	FONT: bold 11px/ 20px Arial, Helvetica, sans-serif;
	MARGIN-RIGHT: 3px;
}

#pcIDcaption div a {
	BORDER: 1px solid #36f;
	COLOR: #FFF;
	DISPLAY: block;
	FONT: bold 11px/ 20px Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

#pcIDcontent table {
	BORDER: 0;
	BORDER-COLLAPSE: collapse;
	COLOR: #000;
	FONT: 11px Tahoma, Helvetica, sans-serif;
	MARGIN: 1px 0px 0px 0px;
	WHITE-SPACE: nowrap;
	WIDTH: 100%;
}

#pcIDcontent td {
	BORDER: 0;
	PADDING: 2px;
	TEXT-ALIGN: right;
}

#pcIDcontent td a {
	BORDER: 1px solid transparent;
	COLOR: #000;
	DISPLAY: block;
	PADDING: 2px;
	TEXT-DECORATION: none;
}

#pcIDcontent td.pcDayHoliday a {
	BACKGROUND: #87CEFA;
}

#pcIDcontent td.pcDayPast a,#pcIDcontent td.pcWeekendPast a {
	COLOR: #909090;
}

#pcIDcontent td.pcDaySelected a {
	BACKGROUND: #FC3;
}

#pcIDcontent td.pcToday a {
	BORDER: 1px solid #CA1539;
}

#pcIDcontent td.pcWeekend a {
	COLOR: #54A6E2;
}

#pcIDcontent td.pcWeekNumber {
	BACKGROUND: #D9EAFB;
	BORDER-RIGHT: 1px solid #ACA899;
	COLOR: #000;
	FONT-SIZE: 9px;
	PADDING-RIGHT: 8px;
	TEXT-ALIGN: right;
}

#pcIDcontent th {
	BACKGROUND: #ebebeb;
	BORDER-BOTTOM: 1px solid #ACA899;
	BORDER-RIGHT: 1px solid #d9d9d9;
	FONT-WEIGHT: normal;
	PADDING-RIGHT: 3px;
	TEXT-ALIGN: right;
	color: black !important;
}

#pcIDfooter {
	BACKGROUND: #f6f6f6;
	COLOR: #000;
	FONT: normal 11px Arial, Helvetica, sans-serif;
	PADDING: 1px 4px 1px 4px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
}

#pcIDleft a {
	BACKGROUND: url('/img/popcalendar/left1.gif') no-repeat center;
}

#pcIDleft,#pcIDright {
	WIDTH: 2em;
}

#pcIDMonth a,#pcIDYear a {
	BACKGROUND: url('/img/popcalendar/drop1.gif') no-repeat right center;
	PADDING: 0px 14px 0px 2px;
}

#pcIDright a {
	BACKGROUND: url('/img/popcalendar/right1.gif') no-repeat center;
}

#pcIDselectMonth {
	BACKGROUND: #f0f0f0;
	BORDER: 1px solid #a0a0a0;
	PADDING: 2px;
	POSITION: absolute;
	TEXT-ALIGN: left;
	VISIBILITY: hidden;
	WIDTH: 8em;
	Z-INDEX: +999;
}

#pcIDselectYear {
	BACKGROUND: #f0f0f0;
	BORDER: 1px solid #a0a0a0;
	PADDING: 2px;
	POSITION: absolute;
	TEXT-ALIGN: center;
	VISIBILITY: hidden;
	WIDTH: 4em;
	Z-INDEX: +999;
}

#pcIDselectYear li a,#pcIDselectMonth li a {
	BORDER: none;
	COLOR: #000;
	CURSOR: pointer;
	DISPLAY: block;
	FONT: normal 11px Arial, Helvetica, sans-serif;
	LIST-STYLE: none none;
	PADDING: 2px 4px 2px 4px;
	TEXT-DECORATION: none;
}

#pcIDselectYear li,#pcIDselectMonth li {
	LIST-STYLE: none;
	MARGIN: 0;
	PADDING: 0;
}

#pcIDselectYear ul,#pcIDselectMonth ul {
	BORDER: none;
	MARGIN: 0;
	PADDING: 0;
}

#pcIDcaption div a:hover {
	BORDER: 1px solid #8af;
	TEXT-DECORATION: none;
}

#pcIDcontent td a:hover {
	BACKGROUND: #FBE694;
}

#pcIDfooter {
	BACKGROUND: #ebebeb;
}

#pcIDfooter a,#pcIDfooter a:hover {
	BORDER: none;
	COLOR: #006;
	FONT: normal 11px/ 20px Arial, Helvetica, sans-serif;
}

#pcIDleft a:hover {
	BACKGROUND: url('/img/popcalendar/left2.gif') no-repeat center;
}

#pcIDMonth a:hover,#pcIDYear a:hover {
	BACKGROUND: url('/img/popcalendar/drop2.gif') no-repeat right center;
}

#pcIDright a:hover {
	BACKGROUND: url('/img/popcalendar/right2.gif') no-repeat center;
}

#pcIDselectYear li a:hover,#pcIDselectMonth li a:hover {
	BACKGROUND: #909090;
}