body{
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman";
}
.TableTop td{
    padding-top: 10px;
    padding-bottom: 5px;
}
.TrTableTop{
    color: green;
}

.CHXHCNVN{
    text-align: center;
    font-weight: bold;
}
table.TableInside{
    border: 1px solid #CCCCCC;
}
table.TableInside td{
    border: 1px solid #CCCCCC;
}
table.TableInside td:first{
    padding-top: 20px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
td{
    padding-left: 4px;
}
