﻿* {
    margin : 0;
    padding : 0;
    font-size: 9pt;
    font-family: Tahoma,Helvetica,Geneva,Swiss,SunSans-Regular;
}
body {
    background : #003d4c;
    color : #fff;
    margin : 0;
}
a {
    color : #003d4c;
    text-decoration : underline;
    font-weight : 700;
}
a:hover {
    color : #003d4c;
    text-decoration : none;
    cursor:pointer;
}
a img {
    border : none;
}

h1 h2 h3 h4
{
    clear:both;
    font-family : arial, 'Gill Sans', 'lucida grande', helvetica, sans-serif;
}

h1 {
    color : #633;
    font-size : 13pt;
    font-weight:bolder;
    margin:1em 0 1em 0;
    clear : both;
    text-transform:uppercase;
}

h2 {
    color : #633;
    font-size : 12pt;
    font-weight:bolder;
    clear : both;
    padding-top : 0;
    margin: 0.3em 0 0.3em 0;
}

h3 {
    color : #993;
    font-size : 11pt;
    font-weight:bolder;
    padding-top : 1.5em;
}
h4 {
    color : #993;
    font-size:10pt;
    font-weight:bolder;
    padding-top : 0.5em;
}
ul, li {
    margin : 0 12px;
}
#container {
    background-color : #fff;
    text-align : left;
    border-right : medium solid #c63;
    border-top : 1px solid #c63;
    border-left : medium solid #c63;
    border-bottom : 1px solid #c63;
    width : 950px;
}
#header {
    background : #fc9;
    border-bottom : 1px solid #f99;
    height : 120px;
    vertical-align : middle;
}
#content {
    background : #fff;
    clear : both;
    color : #333;
    padding : 10px;
}
.big_title{
    width : 70%;
    text-align : center;
    font-weight : bolder;
    font-size : 200%;
    text-transform : uppercase;
    color : #c33;
    float : left;
    top:30%;
    position:relative;
}
.anchor, .anchor:hover
{
    color : #c33;
    text-decoration:none;
}
.to_top
{
    float:right;
    display:block;
    clear:both;
}

.user_login {
    width : 30%;
    float : right;
    background-color : #c63;
    vertical-align : middle;
    text-align : center;
    height:100%;
}
#footer, #player-footer {
    clear : both;
    text-align : right;
    background-color : #dcdcdc;
    margin-top : 10px;
    border-top : thin groove #603;
    color : #000;
    padding : 5px 5px 0 5px;
}
table
{
    clear: both;
    color: #333;
    border-right: darkgray 1px solid;
    border-top: darkgray 1px solid;
    border-left: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
}
th {
    background : ButtonFace;
    border-right : 1px solid #ccc;
    text-align : center;
}
th a {
    display : block;
    text-decoration : none;
    background-color : transparent;
}
th a:hover {
    text-decoration : none;
    background-color : transparent;
    color : #e9967a;
}
table tr td {
    vertical-align : middle;
    padding : 4px;
}
table.result tr td {
    border-right : 1px solid #ccc;
}
table.result tr td a {
    background-color : transparent;
    text-decoration : none;
}
table.result tr td a:hover {
    background-color : transparent;
    text-decoration : underline;
}
td.actions {
    text-align : center;
    white-space : nowrap;
}
td.actions a {
    margin : 0 6px;
}
.cake-sql-log td {
    text-align : left;
    padding : 4px 8px;
}
.cake-sql-log {
    background-color : white;
}
dl {
    line-height : 2em;
    width : 60%;
    margin : 0;
}
dt {
    font-weight : 700;
    padding-left : 4px;
    vertical-align : top;
}
dd {
    margin-left : 10em;
    margin-top : -2em;
    vertical-align : top;
}
form {
    clear : both;
    padding : 0;
}
fieldset
{
    /*background-color : #fff8dc;*/
    background: #E7F1F8;
    border: 1px solid #0099cc;
    padding: 10px;
}

legend
{
    font-size:100%;
    padding: 5px 15px 4px 6px;
    background: url("/img/legend.gif") repeat left top;
}

fieldset fieldset {
margin-top : 0;
margin-bottom : 20px;
background-color : #f5f5f5;
}
fieldset fieldset div {
clear : left;
margin : 0 20px;
}
form div.input {
color : #444;
}
form div.required {
color : #333;
font-weight : 700;
}
form div.submit {
border : 0;
clear : both;
padding : 5px;
}
label {
display : inline;
padding-right : 20px;
}

input, textarea, select {
/* font-family : "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
padding:0.2em 0 0.2em;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
textarea:focus,
select:focus,
input[type=text]:active,
input[type=password]:active,
input[type=checkbox]:active,
input[type=radio]:active,
textarea:active,
select:active
{
    color: #cc6633;
    background-color: #ccff66;
    padding: 0.2em 0 0.2em;
}

select {
/*clear : both;*/
vertical-align : text-bottom;
}
select [multiple="multiple"] {
width : 100%;
}

option {
font-size : 100%;
padding : 0 3px;
}
input [type="checkbox"] {
float: left;
float : left;
width : auto;
margin : 0 6px 7px 2px;
}
/*
input [type="button"], input [type="submit"]
{
color : #603;
}


input [type="button"]:hover, input [type="submit"]:hover {
color : #c03;
}
*/


input [type="radio"] {
float : left;
width : auto;
margin : 0 3px 7px 0;
}
div.radio label {
margin : 0 0 6px 20px;
}
div.actions ul {
margin : 0;
padding : 0;
}
div.actions li {
display : inline;
list-style-type : none;
line-height : 2em;
white-space : nowrap;
margin : 0 2em 0 0;
}
div.actions ul li a {
background : #fff;
color : #003d4c;
text-decoration : none;
}
div.actions ul li a:hover {
color : #333;
text-decoration : underline;
}
div.related {
clear : both;
display : block;
}
pre {
color : #000;
background : #f0f0f0;
padding : 1em;
}
pre.cake-debug {
background : #fc0;
font-size : 120%;
line-height : 140%;
margin-top : 1em;
overflow : auto;
position : relative;
}
div.cake-stack-trace {
background : #fff;
border : 4px dotted #fc0;
color : #333;
font-size : 120%;
line-height : 140%;
overflow : auto;
position : relative;
margin : 0;
padding : 6px;
}
div.cake-code-dump pre {
position : relative;
overflow : auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
color : #000;
background-color : #f0f0f0;
overflow : auto;
margin : 0;
padding : 1em;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
clear : both;
font-size : 12px;
line-height : 15px;
overflow : auto;
margin : 4px 2px;
padding : 4px;
}
div.cake-code-dump span.code-highlight {
background-color : #ff0;
padding : 4px;
}
div.code-coverage-results div.code-line {
padding-left : 5px;
display : block;
margin-left : 10px;
}
div.code-coverage-results div.uncovered span.content {
background : #ecc;
}
div.code-coverage-results div.covered span.content {
background : #cec;
}
div.code-coverage-results div.ignored span.content {
color : #aaa;
}
div.code-coverage-results span.line-num {
color : #666;
display : block;
float : left;
width : 20px;
text-align : right;
margin-right : 5px;
}
div.code-coverage-results span.line-num strong {
color : #666;
}
div.code-coverage-results div.start {
border : 1px solid #aaa;
margin-top : 30px;
padding-top : 5px;
border-width : 1px 1px 0;
}
div.code-coverage-results div.end {
border : 1px solid #aaa;
margin-bottom : 30px;
padding-bottom : 5px;
border-width : 0 1px 1px;
}
div.code-coverage-results div.realstart {
margin-top : 0;
}
div.code-coverage-results p.note {
color : #bbb;
font-size : 10px;
margin : 5px 0 10px;
padding : 5px;
}
div.code-coverage-results span.result-bad {
color : #a00;
}
div.code-coverage-results span.result-ok {
color : #fa0;
}
div.code-coverage-results span.result-good {
color : #0a0;
}
.error-message {
font-weight : 700;
color : #d12f19;
}
/*
.col1 {
background:#BBD9EE;
vertical-align : middle;
font-weight : 700;
}
.col2  {
background-color : #ffc;
vertical-align : middle;
}
*/
.row1, .col1{
background:#BBD9EE;
vertical-align : middle;
}
.row2, .col2
{
    background: #f6facc;
    vertical-align: middle;
}
.loading {
color : #c60;
background-color : #ffc;
width : 200px;
height : 100px;
text-align : center;
vertical-align : middle;
cursor : wait;
clip : auto;
display : inline;
left : 500px;
top : 250px;
position : fixed;
z-index : 500;
border-right : thin solid #f63;
border-top : thin solid #f63;
border-left : thin solid #f63;
border-bottom : thin solid #f63;
font-weight : 700;
font-size : small;
}
.action_submit_right, .action_submit_left, .action_submit_center
{
    margin-bottom : 1em;
}
.action_submit_right {
float : right;
}
.action_submit_center, .close
{
    float:inherit;
    text-align : center;
}
div.auto_complete, div.ac_results {
color : black;
position : absolute;
width : 250px;
background-color : #fff;
border : 1px solid #888;
padding : 0;
overflow : auto;
height : 300px;
}
li.selected, li.ac_over {
background-color : #ffb;
font-weight : bold;
color : #cc3333;
border-bottom : thin outset #ff6633;
cursor : pointer;
}
.area_title {
font-weight : 700;
color : #c33;
background-color : #9cf;
}
.permit_title {
color : #fff;
background-color : #09f;
font-weight : 700;
}
.user_title {
font-weight : 700;
color : #fff;
background-color : #33f;
}
iframe {
border : 0;
height : auto;
}
.main_area {
border-right : 1px solid #fc9;
border-top : 1px solid #fc9;
border-left : 1px solid #fc9;
border-bottom : 1px solid #fc9;
background-color : #ffc;
width : 210px;
float : left;
margin-right : 10px;
margin-bottom : 10px;
height: 170px;
}
.main_area .title {
font-size : 120%;
font-weight : 700;
background-color : #cfc;
border-bottom : 1px solid #fc9;
color : #900;
text-transform : uppercase;
padding : 0 0 0 5px;
}
.main_area .content {
padding : 5px;
}
.main_area .content a:hover {
text-decoration : underline;
background-color : transparent;
}
.image_thumnail {
width : 100px;
height : 100px;
display:inline-block;
vertical-align:middle;
}
div#image
{
    width : 100%;
}
div
{
width : auto;
height : auto;
}
#header table tr td {
border-right : 0;
border-top : 0;
border-bottom : 0;
}
#Err_NoResult {
margin: 0.5em 0 0.5em 0;
}
.allow_right {
float : left;
}
img:hover {
cursor : pointer;
}
#login {
width : 600px;
}

#login-left {
width : 350px;
float : left;
border-right : thin solid #c63;
}
#login-right {
width : 145px;
float : right;
}
div.paging {
margin-bottom : 1em;
color : rgb(82, 82, 134);
float : left;
clear : none;
}
div.paging a {
color : navy;
text-decoration : none;
}

div.paging a:hover {
text-decoration : underline;
}

div.paging div.disabled {
color : #ddd;
display : inline;
}
div.paging span.current {
color : #000;
}
.perpage {
clear : none;
float : right;
}
div.player {
border-right : thin outset #f63;
border-top : thin outset #f63;
border-left : thin outset #f63;
border-bottom : thin outset #f63;
height : 200px;
width : 230px;
}

div.song_detail
{
}

div.song_detail a
{
    color: #89207c;
    display: inline;
    font-weight:bolder;
    text-transform: capitalize;
    text-decoration: none;
}

div.song_detail a:hover
{
    text-decoration:underline;
}

.player_object {
height : 200px;
width : 230px;
}

#player-container {
text-align : left;
width : 580px;
height : auto;
border-left : solid #c63;
border-right : solid #c63;
background-color : #fff;
}
#player-banner {
height : 100px;
background-color : #c63;
}

.karaoke_player
{
    height:411px;
    width:531px;
}
.tab, .tabactive {
float : left;
border-right : thin solid #ccc;
margin-right : 3px;
text-align : center;
border-bottom : thin solid #c63;
}
.tab a {
text-decoration : none;
background-color : #fff;
}
.tabactive, .tab a:hover {
background-color : #9f9;
border-bottom-width : 0;
}
.tab, .tab a {
background-color : transparent;
}
table tr.altrow td, .cake-sql-log table, dl.altrow {
background : white;
}

.main_area .content {
background-color : #ffc;
}
#action-submit-left, .area_content {
text-align : left;
}
#window #window_content, .tabs {
clear : both;
}
.main_area .content a, .tab a:hover {
text-decoration : none;
}
#login, #login-left, #login-right, #player-content {
height : auto;
}
#crumbs {
float : left;
clear : left;
font-weight : bold;
margin-bottom: 1em;
}
#crumbs a {
text-decoration : underline;
font-weight : bold;
}
#crumbs a:hover {
text-decoration : none;
font-weight : bold;
color : green;
}
.history {
clear : right;
}
#div-result {
width : 100%;
}
ul li {
width : 99%;
list-style-type : none;
}
.status
{
    width:150px;
    padding:5px;
}
#window_action
{
    text-align:center;
    padding: 0 0 5px 0;
}


input[type=button], input[type=submit]
{
    margin: 0 0.2em 0 0;
}

hr
{
    margin-bottom:0.5em;
}


/* BUTTON CSS */

.btn_all, .history
{
     -moz-border-radius: 5px; -webkit-border-radius: 5px;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    color: #529214;
    width: auto;
    padding: 1px 2px 1px 26px;
    border: outset 1px #006666 ;
    background-position: left center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-size: 100%;
    line-height: 130%;
    font-weight: 700;
    height:30px;
}

.btn_all:hover, .history:hover
{
    cursor: pointer;
    border:inset 1px #c2e1ef;
    background-color:#e6efc2;
}

.bt_search
{
    background-image: url(/img/icon/find.png);
}

/*** END RESULT BUTTON **********/

/* END BUTTON */


/* GRANTS USER */
.div_1_2
{
    float: left;
    width:400px;
    clear: none;
    padding-right:5px;
    height:auto;
}
.div_1_2 fieldset a
{
    text-decoration:none;
}
.div_1_2 fieldset a:hover
{
    text-decoration:underline;
}
/* END GRANTS USER */

.act_list
{
    padding-left:50px;
}

.act_list input
{
    margin-right:5px;
    clear:both;
}

.bt_back
{
    background-image: url(/img/icon/back.png);
}
.bt_save
{
    background-image: url(/img/icon/save.png);
}
.bt_delete
{
    background-image: url(/img/icon/delete.png);
}
.bt_next
{
    background-image: url(/img/icon/next.png);
}
.bt_user_info
{
    background-image: url(/img/icon/user_info.png);
}
.bt_logout
{
    background-image: url(/img/icon/logout.png);
}
.acts_list
{
    padding-left: 20px;
}
.bt_tosearch
{
    background-image: url(/img/icon/db.png);
}

/* DRAG */
#main-frame
{
    width: 100%;
    height: 100%;
    background-color: #99CC33;
}

li.draggable
{
    cursor: move;
    color: #339999;
    border: 1px;
    width:50px;
    float:left;
}


li.draggable hover
{
    cursor: move;
    color: #FFCC33;
}

.drop_contain
{
    width:500px;
    height: 500px;
}

.drop_active
{
    width:500px;
    height: 500px;
    background-color: #FF9933;
}

#action_list {
    height:100%; /* works only if parent container is assigned a height value */
}

div
{
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
width : auto;
height : auto;
}

fieldset
{
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    /*background-color : #fff8dc;*/
    background: #E7F1F8;
    border: 1px solid #0099cc;
    padding: 10px;
    margin-bottom: 18px;
}

/* ================== namnb ==============================================*/
legend {
    background:url("/img/legend.gif") repeat scroll left top transparent;
    font-size:100%;
    padding:5px 15px 4px 6px;
}
.success {
    background:url("/img/success.png") no-repeat scroll left center #E6EFC2;
    border-color:#C6D880;
    color:#529214;
}
.error, .notice, .success, .suggest {
    border:2px solid #DDDDDD;
    clear:both;
    font-weight:700;
    margin-bottom:1em;
    padding:5px 5px 5px 35px;
    vertical-align:middle;
}
#div-result {
    width:100%;
}
div.paging {
    background:none repeat scroll 0 0 #FFFFFF;
    clear:none;
    color:#525286;
    float:left;
    margin-bottom:1em;
}
.perpage {
    clear:none;
    float:right;
}

table.result {
    border:1px solid darkgray;
    clear:both;
    color:#333333;
    border-collapse:separate;
    border-spacing:0;
    margin-bottom:1.4em;
}
table.result th,table.result td {
    background:none repeat scroll 0 0 buttonface;
    border-right:1px solid #CCCCCC;
    text-align:center;
    border-bottom:2px solid #CCCCCC;
    font-weight:700;
    padding:4px 10px 4px 0;
}
