	#container, #HB_footer input, #Namtaikhoavt input {
		font-family:"Times New Roman", VNI-Times, Arial;
	}
	#dulieu_namtaikhoa td {
		padding-top:10px;
	}
	#container #tinnhan {
		background-color:#FFFFFF;
		width: 630px;
	}
	#container .name {
		font-weight:bold;
		color:#254689;
	}
	#container .date {
		color:#CCCCCC;
		font-style:italic;
		font-size:12px;
	}
	#container #noidung {
		background-color:#CCCCCC;
		font-size:14px;
	}
	#container #banner {
		position:relative;
		background-image:url(../css/images/banner_SPACE_1.jpg);
		height:30px;
	}
	#container .title {
		position:relative;
		top:1px;
		width:100%;
		color:#999999;
		text-align:right;
		font-size:21px;
		font-weight:bold;
	}
	#container .value {
		text-align:left;
		font-size:28px;
	}
	#container .color {
		color:#000000;
	}
	#container #warning {
		color:#999999;
		font-size:16px;
		font-weight:bold;
		display:none;
	}
	#container a {
		text-decoration:none;
		font-size: 12px;
	}
	#container a:hover {
		text-decoration:underline
	}
	#btnclose {
		background-color:#F5F6F7;
		height: 24px;
		width: 63px;
		text-align: center;
		color: #999999;
		font-weight:bold;
		border:#CCCCCC solid thin;
	}
	#container #vtco{
		text-indent:55px;
		left: 2px;
		top: 0px;
	}
	#container #dda {
		top:0px;
		left:15px;
		text-indent:60px;
	}
	#container #space {
		top:0px;
		left:29px;
		text-indent:60px;
	}
	#container #kidohu {
		top:0px;
		left:42px;
		text-indent:60px;
	}
	#container #scc {
		top:0px;
		left:55px;
		text-indent:60px;
	}
	#container #las92 {
		top:0px;
		left:68px;
		text-indent:60px;
	}
	#tienve {
		background-image:url(/img/HB/HB.gif);
		background-position:-2px -105px;
		float: right;
		left: -58px;
		position: relative;
		padding-top: 10px;
		text-indent: 60px;
		width: 166px;
		height: 54px;
		font-size: 14px;
		opacity: 0.3;
		color: #990000;
		font-weight: bold;
	}
	#tongtien {
		float: right;
		left: 160px;
		position: relative;
		width: 166px;
		top: 30px;
		height: 54px;
		font-size: 24px;
	}
	#tongtien a {
		color: #FF0000;
	}

	#tienve a {
		color: #FF0000;
		text-decoration:none;
	}
	#btnsave{
		background-color:#3B5998;
		color:#FFFFFF;
		font-weight:bold;
		width:63px;
		height:24px;
	}
	#container input {
		padding: 0px;
	}
	#container .text {
		text-align: right;
	}
	.hr {
		width: 100%;
		padding-top: 10px;
		border-bottom: #999999 solid thin;
	}
	.char {
		font-weight:bold;
		font-size:28px;
	}
	.word {
		color: #993300;
	}
	#container .year {
		padding-top: 24px;
	}
	.image {
		position: relative;
		top: -38px;
		left: 131px;
	}
	#HB_footer {
		position: relative;
		padding-bottom: 5px;
		padding-top: 5px;
		width: 100%;
		background-color: #f6f7f9;
		text-align: right;
	}

	#HB {
		display: none;
	}

	#Namtaikhoa {
		padding-top: 10px;
	}

	.ThayDoiBackground {
		background-position:-18px;
		background-repeat:no-repeat;
		background-image:url(../img/HB/banner_HB_large.png);
		background-color:#3B5998;
		height:20px;
		width:140px;
		position: relative;
		color: #F5F6F7;
		font-weight: bold;
	}

	.ThayDoiBackground:hover, .cty  {
		color: #EB9A11 !important;
		border-top:#333333 solid thin;
		cursor: pointer;
	}

	.ThemMoiLichCongViec a:link {
		color: #3B5998;
	}
