*,#log{margin:0;padding:0}

body{
    background:url("/img/bgimg.jpg") no-repeat fixed 50% 0 #FFFFFF;
    color:#000000;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight:normal;
    line-height:18px;
    font-size:12px;
    direction: ltr;
}
#Left_MainTabs a, #header{
    font-size: 11px;
}
a{
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    /*white-space: nowrap;*/
}
ul#Nav a, div#main_top a{
    white-space: nowrap;
}
div.input>label, td>label{
    margin-left: 5px
}

table{ border-collapse: collapse; }
img{border:medium none}
#progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
#main, #main_top{
    margin: 0 auto;
    text-align:left;
    width:1170px;
    border: 1px solid #CCCCCC;
}
#main_top{
    height: 85px;
    border: none;
    position:relative;
}
#mainContent{
    padding:3px 0;
    background-color: #FFFFFF;
}
.BgWhite{
    background-color: #FFFFFF;
}

#maincontent th.SimpleLinkText a{
    outline: medium none;
    text-decoration: none;
    font-weight: normal;

}


td{padding-left:5px;padding-right:5px}
em,em a{color:#A9A9A9;padding-bottom:3px;padding-top:3px}
textarea, input{
    border: 1px solid #BDC7D8;
    margin: 0;
    padding: 3px;
    border-collapse: collapse;
    border-spacing: 0;
    -moz-box-sizing: border-box;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
textarea{
    font-size: 1.1em;
}
.AvatarChinh{
    color:red;
}
select {
    border: 1px solid #BDC7D8;
    padding: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 2px;
}
select option{
    padding: 0 5px 0 3px;
}

table.Data, table.Simple, table.DataSave{
    width:100%;
}
table.Data tr:hover td{
    background-color: #EEEEEE;
}

td.ChinhSua:hover{
    background-color: #E3E7CD;
    cursor: pointer;
}

/*
table.Data tr:nth-of-type(2n) td {
    background-color: #F5F5F5;
    border-color: #E5E5E5;
}
http://www.google.com/enterprise/apps/business/pricing.html
*/
table.Data>tbody>tr:first-child td, table.DataSave>tbody>tr:first-child td{
    font-weight: bold;
    text-align:center;
}
table.Simple>tbody>tr>td,table.Data>tbody>tr>td, table.DataSave>tbody>tr>td{
    border:1px solid #D0D7E5;
    padding-bottom:4px;
    padding-top:4px;
    background-color: #FFFFFF;
}


table.CssTable{width:100%}
table.CssTable td{border-bottom:1px solid #D0D7E5;padding-bottom:8px;padding-top:8px}

#tintucs_cover{
    height: 305px;
    padding-left: 12px;
    /* width: 683px !important; */
    overflow-y: scroll;
    /* width: 630px; */
    clear: both;
}

.BtnGoogle, .BtnGoogleInput {
    display: inline-block;
    border-radius: 2px 2px 2px 2px;
    line-height: 24px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*color: #444444;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.BtnGoogleInput{
    line-height: 20px;
}

.BtnGoogle:hover, .BtnGoogleInput:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top, #F8F8F8,  #D7E0FF);
}

.BtnGg{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 27px;
    line-height: 27px;
    outline: 0;
    padding: 0 8px;
    background-color: whiteSmoke;
    background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
    color: #444;
    border: 1px solid gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 7px;
    font-weight: 600;
    font: normal 13px arial,sans-serif;
}

.BtnGg:hover{
    background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
    border: 1px solid #3B5998 !important;
    background-color: #F8F8F8 !important;
    color: #3B5998 !important;
}
/*
    Navigation
*/
#header{
    background-color:#FFF;
    padding-bottom: 1px;
}
#DivNav {
    height: 35px;
    margin: 0 auto;
    /*background-image: url("/img/navigation_bg.png");*/
    background-color: #8BB6D5;
}
#DivNav ul#Nav{
    padding-left: 2px;
    float: left;
    z-index: 99;
}
#DivNav ul#Nav li {
    float: left;
    width: auto;
}
#DivNav ul#Nav li:hover {
    position: static;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
}
#DivNav ul#Nav li:hover ul{
    left: auto;
}

#DivNav ul#Nav a {
    display: block;
    z-index: 100;
    border-right: 1px solid #526DA4;
    color: #FFFFFF;
    padding: 8px 9px;
    text-decoration: none;
}
#DivNav ul#Nav a:hover {
    background: none repeat scroll 0 0 #FFFFFF;/*#2266BB;*/
    color: #000000;
    text-decoration: none;
}
#DivNav ul#Nav li:hover {
    background: none repeat scroll 0 0 #FFFFFF;/
}
#DivNav ul#Nav li:hover a{
    color: #000000;
}
#DivNav ul#Nav li:hover li a:hover{
    background: none repeat scroll 0 0 #2266BB;
    color:#FFFFFF;
}
#DivNav ul#Nav li ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E6E6E6 #E6E6E6 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    left: -999em;
    margin-left: -1px;
    position: absolute;
    width: 168px;
    z-index: 999;
}
#DivNav ul#Nav li ul li {
    border-bottom: 1px solid #E6E6E6;
}

#DivNav ul#Nav li ul li.LastLi {
    border-bottom: 2px solid #3B5998;
}

#DivNav ul#Nav li ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font-size: 13px;
    font-weight: normal;
    padding: 8px 12px;
    width: 144px;
}
#qmenu {
    color: #336699;
    display: inline;
    float: right;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    margin: 3px 4px 0;
    overflow: hidden;
    padding: 0 12px 0 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 83px;
}

/*
    End Navigation
*/
#divThongTin{
    border-left:1px solid #000;
    margin-left: 162px;
    padding-left: 7px;
}
#headerArea{
    padding: 10px;
    color: #1C2A47;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
}
.item{
    border-bottom:1px solid #B4B4B4;
    padding:5px 0 14px 0;
}
.item .title{
    color:#000;
    font-family:Myriad Pro;/*"Trebuchet MS", Helvetica;*/
    font-size:15px;
    font-weight:bold;
    padding-bottom:4px;
    padding:5px 0 0 0;
    text-transform: uppercase;
}
.item .TraLoi{float:left;font-weight:700;margin-right:3px}
.TraLoi em{font-weight:400}
.GoiCho{color:#096;float:left;font-weight:700;margin-right:3px}
#GoiCho{margin-top:6px}
#GoiCho #DanhSachNguoiNhan{color:#096;font-style:italic}
#loading{background-color:#FFFFCC;border:thin solid #F63;color:#C60;cursor:wait;display:inline;font-size:small;font-weight:700;height:100px;left:50%;opacity:0.8;position:fixed;text-align:center;top:50%;vertical-align:middle;width:200px;z-index:9999}
.BtnActive{background:url(/img/btnover.gif) #888 repeat-x;border:1px double #555;color:#fc3;cursor:pointer;font-weight:700}
.form-error{border-color:#C73E14}
div.error-message{
    clear:both;
    color:#C73E14;
}
div.message{
    clear:both;
    color:#C73E14;
    background-color:#E6EFC2;
    border-color:#C6D880;
}

#footer{
    margin: 0 auto;
    padding:8px 0 0 20px;
    width: 1005px;
    color: #000000;
}
.message_success{background-color:#E6EFC2;border-color:#C6D880;color:#529214}
.message_error,#authMessage{background-color:#FBE3E4;color:#D12F19;font-weight:700}

.message_notice {
    background-color: #F2FBE3;
    color: #D2871A;
}

.message,.message_error,.message_notice,.message_success,.message_suggest{
    font-weight:bold;
    padding:5px;
    text-align:left;
    font-size: 12px;
}
#notice_thongbao_canhan {
    color: #817134;
    border-color: #FFD324;
    background-color: #FFF6BF;
}
/*legend{background-image:url(/img/legend.gif);background-repeat:repeat-x;border:1px solid #1E90FF;color:#003;font-variant:small-caps;font-weight:700;height:16px;letter-spacing:normal;padding:3px 5px 3px 7px;text-transform:uppercase;width:auto}*/
legend{ display:none; }

.traloi{
    background-color:#EDEFF4;
    margin-bottom: 2px;
    margin: 15px 0 10px;
}
.traloi ol{
    margin-left:22px;
}
.traloi ol li
{
    list-style-type:decimal;
}
.traloi ul li{
    list-style-type:circle;
}
.traloi ul{
    margin-left:22px;
}

.traloi .content_traloi{font-style:normal;padding-right:6px;word-spacing:2px;word-wrap: break-word;}

.ContainDataNoidung .item div.content{
    word-wrap: break-word;
}

.ContainDataNoidung .item div.contentFixWidth{
    width: 373px;
}

span.AvatarView{border:medium none;display:none;left:0;position:absolute;top:-150px;z-index:100;width:264px;}

.ShowThongTin {
    display: none;
    left: 0;
    position: absolute;
    top: -72px;

    min-width: 300px;

    border: 1px solid #A6C9E2;
    background: url("/css/images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
    color: #222222;

    box-shadow: 0 0 5px #AAAAAA;
    padding: 8px;
    position: absolute;
    z-index: 9999;

    border-width: 2px;
    max-width: 600px;

    border-radius: 5px;
}

.TRALOILOINHAN{float:right;margin-top:-11px}
.div1NoiDungTraLoi{
    border-bottom:1px solid #D2D9E7;
    padding:5px 10px 4px 5px;
    border-top:1px solid #FFFFFF;
}
div.ThemMoiLichCongViec{padding-right:2px;text-align:right}

div.ThemTraLoi{
    position: absolute;
    right: 0;
    top: -14px;
}

div.ThemMoiLichCongViec a{color:blue;}
span.UserName{color:#002f2f;font-weight:700}

div.ThemMoiLoinhanMainRight{
    text-align: right;
    padding-right: 8px;
}
div#ThongBaoHeThong{bottom:0;color:#333;font-weight:400;padding-top:6px;position:fixed;z-index:2}
.ThongBaoHeThong{height:27px;text-align:justify}
#HOCTIENGANHS{background:url(/img/icon/hoctienganhs_danhsachloinhan.png) no-repeat scroll 224px -2px transparent;padding-left:259px;padding-top:10px}
#TRAINING{background-image:url(/img/legend.gif);font-weight:700;margin-top:15px;padding-bottom:5px;padding-left:7px;padding-top:5px}
.TitleLichHop,.TitleDaoTao{background:url(/img/icon/lichhops_danhsachloinhan.png) no-repeat scroll 2px -3px transparent;color:#000;font-weight:700;padding-bottom:4px;padding-left:32px;padding-top:5px;text-transform:uppercase}
.TitleDaoTao{background:url(/img/icon/daotaovts_danhsachloinhan.png) no-repeat scroll 2px -3px transparent}
#LICHHOPS{background:url(/img/icon/lichhops_danhsachloinhan.png) no-repeat scroll 300px -3px transparent}
.LiTabs{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;background-color:#989898}

li.LiTabs{background-color:#BDBCEA;repeat-x;border-color:#1E90FF #1E90FF 0;border-style:solid solid none;border-width:1px 1px medium;color:#003;padding:3px 5px 3px 7px;text-transform:uppercase}
li.DiNgoai{margin-left:6px;width:89px}
#NghiPhepTabs{margin-bottom:8px;margin-left:10px;padding-left:5px;padding-top:4px}
#tableXinnghiphep{width:100%;padding-left:0px;padding-right:0px}
#TitleSinhNhat{color:#000;font-size:14px;font-weight:700;padding-bottom:4px;padding-top:5px;text-transform:uppercase}
table#SinhNhat td{border-bottom:none}
#RealName{color:green;font-size:14px;font-weight:700}
#menu{
    float:left;
    font-size:15px;
    padding-left:6px;
    width:150px
}
#menu ul{list-style:none outside none;margin:0;padding:0}
#menu ul li{float:left;list-style:none outside none;position:relative;width:100%}
#menu ul ul{display:none;left:100%;position:absolute;top:0;width:100%}
div#menu ul li:hover ul,div#menu ul li ul li{display:block}
#log li{background:#fff;border:1px solid #ccc;color:#333;list-style-position:inside;margin:2px;padding-bottom:2px;position:relative}
#log li .progressbar{background:#fff;border:1px solid #333;height:5px}
#log li .progress{background:#999;height:5px;width:0}
#log li p{line-height:18px;margin:0}
#log li span.cancel{background:url(/js/SWFupload/swfupload/cancel.png) no-repeat;cursor:pointer;height:20px;left:283px;margin-top:-4px;position:absolute;right:5px;top:5px;width:20px}
div.ContentDivUpload li{width:300px}
.paging{padding-bottom:7px;padding-left:8px;padding-top:4px}
.paging span{background-color:#000;height:20px;margin:0 1px 0 0;width:auto}
.paging span a:hover,.paging span.current{background:none repeat scroll 0 0 #01B0F0 !important}
.paging span a,.paging span a:visited,.paging span.current{background:none repeat scroll 0 0 #FFF;color:blue;height:auto;padding:2px 4px 2px 5px;text-decoration:none;width:auto}
/*.tabs{background-color:#A6D3FE;border-right:1px solid #666;float:left;height:20px;padding-left:6px;padding-right:6px;text-align:left;vertical-align:middle}*/

a.tabs{
    color: #F7F8FC;
    outline-style: none;
    text-decoration: none;
}
a.tabs.tabsactive{
    color: #3B5998;
}
.tabs{
    background-color: #3B5998;
border-right: 1px solid #666;
float: left;
height: 20px;
/* padding-left: 6px; */
/* padding-right: 6px; */
text-align: left;
vertical-align: middle;
border-radius: 3px;
padding: 3px 15px;
}
.tabsactive, #viewUl a:hover{background-image:url(/img/bg_tab.gif); color: #3B5998; text-decoration: none;}
.tabsactive{
    color: red;
}
div.TitleListCongTrinhView{color:#F33;font-size:14px;padding-bottom:4px;padding-top:5px;text-decoration:none;text-transform:uppercase}

/*
#ov_window{overflow:auto;text-align:center}
#ov_window #ov_contain{background-color:#656B77;border-radius:10px 10px 10px 10px;padding:0 7px 7px;position:fixed;text-align:left;top:18px;z-index:1001}
#btnCloseWindow{position:absolute;right:0;top:0}


#ov_window_2{overflow:auto;text-align:center}
#ov_window_2 #ov_contain_2{background-color:#656B77;border-radius:10px 10px 10px 10px;padding:0 7px 7px;position:fixed;text-align:left;top:18px;z-index:1001}
#btnCloseWindow_2{position:absolute;right:0;top:0}
*/

#divChucNang{
    margin: 5px 0;
    text-align:right;
    width:100%;
}


#divheader{height:100%;margin:0;position:relative;width:100%}
#divtopmenu{color:#FFF;font-size:x-small;position:relative;text-align:center;vertical-align:middle;width:1005px;z-index:10}
#menu span{border-color:#CCC #888 #555 #BBB;border-style:solid;border-width:1px;color:#FFF;display:block;font-weight:700;padding:2px 3px}
#menu span.Menu a{color:#FFF}
#menu span.Menu{background:none repeat scroll 0 0 #265B92;font-size:15px;padding-left:8px}
#LeftAvatar{background:none repeat scroll 0 0 #4A92C6;padding:0 0 4px 3px;width:171px}
#Left h3{color:#FFF;font-size:18px;line-height:30px;padding:0;text-align:center}
table#Avatar td{padding:0}
#LeftAvatar img{border:1px solid #2EC4C6;padding:4px}
div.ThongTin{padding:6px 0 2px 7px}
img#DoiMatKhau{border:0 none;height:15px;padding-bottom:0}
.AddMenuLeft a,.MenuLeft{background-color:#F1F1F1;border-bottom:1px solid #8FC5C0;border-top:1px solid #FFF;color:#000;display:block;margin:0;padding-bottom:5px;padding-left:3px;padding-top:7px;text-decoration:none;width:171px}
a:hover, a.active{text-decoration: underline;}
.FormButton{background-color:#E7E7E7;border-color:#FFF #999 #999 #FFF;border-style:solid;border-width:1px;color:#000;font-size:8pt;font-weight:700;padding:.2em 0 .1em .2em;text-align:center}
.FormButton:hover{color:red;cursor:pointer}

#subcontent{
    padding-left: 16px;
    padding-right: 10px;
}

.subcontent h1{color:blue;font-size:small}
.BaocaoMain{margin-left:10px}
.BaocaoTable{width:99%}
.LinkModify{float:right;padding-right:16px;padding-top:4px}
.BaocaoBody{margin-bottom:20px;margin-top:20px}
.MucLucTitle{font-weight:700;margin-bottom:10px;margin-top:18px;text-decoration:underline}
.MucLucContent{margin-bottom:8px}
tr.BlanchedAlmond{background-color:#A6D3FE}
.BaocaoTable td{border:1px solid #CCC;padding-left:4px}

ul,ul li,ol,ol li{list-style:none outside none}
.TienDo{float:left;height:10px;margin-left:11px;margin-right:11px;margin-top:3px}
#tasks div.TASKS{background:url(/img/icon/tasks_lists.png) no-repeat scroll 2px 3px transparent;padding-left:26px}
div#ThemLoiNhan{padding-right:3px;text-align:right}
.menu{background:none repeat scroll 0 0 #989898!important;padding-left:6px;padding-top:8px}
#menu a,#menu h2{border-color:#CCC #888 #555 #BBB;display:block;font:bold 13px/17px arial,helvetica,sans-serif;margin:0;padding:2px 3px}
#menu h2{background:none repeat scroll 0 0 #000;color:#FFF}
#menu a{background:none repeat scroll 0 0 #265B92;text-decoration:none}
#menu h2,#menu ul li a{padding-left:3px;text-transform:uppercase}
div#print{background-color:#FFF;text-align:left;width:610px}
#overlay-wrapper{-moz-border-radius:10px;border:10px solid #656B77;margin-top:21px;top:16px;width:400px}
#overlay-content{background:none repeat scroll 0 0 #FFF;border:1px solid #656B77}
#overlay-wrapper.overlay-add-post h1{background:none repeat scroll 0 0 #E9EAED;border-bottom:1px solid #CACBD1;color:#525760;display:block;font-weight:400;margin-bottom:11px;padding:10px 20px;text-align:center}
#overlay-wrapper span.field{-moz-border-radius:5px;background:none repeat scroll 0 0 #E3E5E7;display:block;margin:0 25px 20px;padding:5px}
#overlay-wrapper span.field input{font-size:27px;height:34px;padding-left:14px;width:319px}
#overlay-wrapper #form_submit{line-height:0;margin-bottom:30px;padding:0 0 0 20px;text-align:center;width:auto}
#form_submit span.submit{-moz-border-radius:5px;background:none repeat scroll 0 0 #B0D8E3;cursor:pointer;display:inline-block;float:none;margin:0 15px 0 5px;opacity:0.8;padding:5px}
#form_submit span.submit strong{-moz-border-radius:2px;border:1px solid #009CBF;display:block}
#form_submit span.submit strong input{background:url(/img/bg_submit.jpg) repeat-x scroll left top transparent;border:1px solid #46C4E1;color:#FFF;cursor:pointer;display:block;font-weight:700;height:26px;padding:0 25px 2px;text-shadow:1px 1px 0 rgba(0,0,0,0.35);width:93px}
#overlay-wrapper .NameLogin{font-size:22px;font-weight:700;padding-bottom:4px;padding-left:27px;padding-top:15px;text-align:left}

/*
.gopy_form{left:0;position:fixed;top:150px;z-index:1000}
.gopy_form #mainform{background-color:#88D0DD;display:none;float:left;height:300px;overflow:hidden;width:350px}
.gopy_form textarea{border:1px solid #BDC7D8}
.gopy_form a.gopy_btn,.gopy_form a.gopy_btn_active{background:url(/img/gopy/btn_gopybg.png) no-repeat scroll -26px -11px transparent;display:block;float:left;height:110px;width:25px}
.gopy_form a.gopy_btn{background-position:-48px 0;height:120px;margin-top:-11px;width:31px}
.gopy_form input.ipt{padding:3px 5px;width:220px}
.gopy_form a.gopy,.gopy_form a.vipham,.gopy_form a.vipham_in,.gopy_form a.gopy_in{background:url(/img/gopy/btn_gopybg.png) no-repeat;color:#5E0000;display:block;float:left;font-weight:700;height:27px;margin-left:5px;padding-top:3px;text-align:center}
.gopy_form a.gopy{background-position:-26px -121px;width:118px}
.gopy_form a.vipham{background-position:0 -120px;width:76px}
.gopy_form a.vipham_in{background-position:0 120px;color:#FFBA00;width:76px}
.gopy_form a.gopy_in{background-position:0 90px;color:#FFBA00;width:118px}
#gopy_textarea{color:#000;padding:5px}
#GopYXemTatCa{font-size:10px;text-align:right}
#LeftGopYTatCa{line-height:18px;width:600px}
#LeftGopYTatCa,#RightGopYTatCa{vertical-align:top}
#LeftGopYTatCa label{margin-left:20px;margin-top:5px}
*/

#emo{margin-left:20px}
.BorderDep{-moz-border-radius:4px;border:1px dashed green;color:green;padding:5px}
#LeftGopYTatCa .BorderDep{color:green!important}
.ClearBoth{clear:both;height:10px}
h3.heading-title-1{border-bottom:2px solid #000;margin:20px 0;padding-bottom:5px}
.rating-chart{background:url(/img/smiley/img_chart_tilebinhchon.gif) repeat-x scroll 0 8px transparent;height:8px}
.background-arrow{background:url(/img/smiley/arrow-highlight.gif) no-repeat scroll 0 0 transparent;left:0;position:absolute;top:10px;width:6px}
.div-avatar-comment-gopy{border:1px solid #E5E6E7;padding:1px}
.div-thumb{float:left;width:55px}
.result-rating{border:5px solid #F3F2F2;margin-bottom:10px}
.section03-main{float:right;line-height:18px;padding-left:5px;width:540px}
.box-highlight{position:relative}
.box-highlight-main{border:1px solid #D3DDE0;margin-left:5px;padding:6px 10px}
#emo li{display:block;float:left;margin:0 7px 7px 0}
#emo img{border:1px solid #E5E6E7;float:left;height:38px;margin:0;width:38px}
#emo img.active,#emo img:hover{border:1px solid red}
/*
a.button,a.button span,a.button:hover,a.button:hover span{background:url(/img/smiley/bt.gif) repeat scroll 0 0 transparent;float:left;height:29px;line-height:29px}
a.button{background-position:0 -29px;display:inline-block;margin-left:280px;margin-top:10px;overflow:hidden;padding-left:20px;text-align:center}
a.button:hover{background-position:0 -87px;cursor:pointer}
a.button:hover span{background-position:100% -58px;cursor:pointer}
a.button span{background-position:100% 0;color:#FFF;display:block;font-weight:700;padding-right:20px;text-decoration:none}
*/
#GopyWindow{
    padding:5px;
    position:relative
}

.TRALOILOINHAN a,div.xemthemtask a,
input.titleinside:focus,
textarea.titleinside:focus{
    color:#000;
}

div.loinhantrangchu{
    background-color:#FFF;
    border-bottom:1px solid #D9D6D6;
    height:auto;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    position:fixed;
    right:0;
    top:21px;
    width:190px;
    z-index:200;
}
#xemnhanh_detail ul{
    padding-left: 8px;
}
#xemnhanh_detail ul li:hover{
    background-color: #DEDEDE;
}
#xemnhanh{
    padding-left:8px;
}

div.xemnhanhtask{
    background-color: #FFFFFF;
    border-bottom:1px solid;
    height:auto;
    left:0;
    padding: 2px 5px 0 5px;
    position:fixed;
    text-align:left;
    top:0;
    z-index:30
}

.ac_results{background-color:#FFF;border:1px solid #212121;overflow:hidden;padding:0;z-index:99999}
.ac_results ul{list-style:none;list-style-position:outside;margin:0;padding:0;width:100%}
.ac_results iframe{display:block;filter:mask();height:3000px;left:0;position:absolute;top:0;width:3000px;z-index:-1}
.ac_results li{cursor:pointer;display:block;font:menu;line-height:16px;margin:0;overflow:hidden;padding:2px 5px}
.ac_loading{background:Window url(/img/indicator.gif) right center no-repeat}
.ac_over{background-color:Highlight!important;color:HighlightText!important}
.username,a.Avatar{font-weight:700}
#DayBirth,.RedAndBold,.hightlightauto{color:red;font-weight:700}
#GopyTatCa,li.Active,li.ActiveTask,#divName,#divtopmenu{background-color:#FFF}
div.ActiveTask_tt,.ActiveTask_tt{background-color:#FFF}
#LeftGopYTatCa p,.info-comment{margin-bottom:10px}

.Button, .inputsubmit {
    background-color: #3B5998;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    padding: 2px 15px 3px;
    text-align: center;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.Button:hover, .ButtonActive{color:#E8F700;cursor: pointer;}

.Shadow{color:#26B;text-shadow:0 1px 1px rgba(64,64,64,0.13)}

td.RedCenter{
    color: red;
    text-align: center;
}

#LichCongTacBGD{
    background-color:white;
    padding-top:10px;
}
table.DataSave td.LichCongTacTdColor1,table.DataSave td.LichCongTacTdColor8{
    background-color: #FFE5E6;
}
table.DataSaveLichCongTacTdColor2,table.DataSave td.LichCongTacTdColor9{
    background-color: #FCFFDC;
}
table.DataSave td.LichCongTacTdColor3,table.DataSave td.LichCongTacTdColor10{
    background-color: #CFDFFA;
}
table.DataSave td.LichCongTacTdColor4,table.DataSave td.LichCongTacTdColor11{
    background-color: #E4FCF5;
}
table.DataSave td.LichCongTacTdColor5{
    background-color: #FFECD4;
}
table.DataSave td.LichCongTacTdColor6{
    background-color: #BBF4F9;
}

/* TOOLTIP */
#easyTooltip {
    background: none repeat scroll 0 0 white;
    border: 3px solid #4F81BD;
    line-height: 130%;
    margin: 0 10px 1em 0;
    padding: 8px;
    width: 412px;
    font-size: 14px;
}
/*
 * jQuery UI Tooltip @VERSION
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tooltip#theming
 */
.ui-tooltip {
    padding:8px;
    position:absolute;
    z-index:9999;
    -o-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
    background-image: none;
}
body .ui-tooltip { border-width:2px;max-width:600px;}

/** Debugging **/
pre {
    color: #000;
    background: #f0f0f0;
    padding: 1em;
}
pre.cake-debug {
    background: #ffcc00;
    font-size: 120%;
    line-height: 140%;
    margin-top: 1em;
    overflow: auto;
    position: relative;
}
div.cake-stack-trace {
    background: #fff;
    color: #333;
    margin: 0px;
    padding: 6px;
    font-size: 120%;
    line-height: 140%;
    overflow: auto;
    position: relative;
}
div.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
    color: #000;
    background-color: #F0F0F0;
    margin: 0px;
    padding: 1em;
    overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
div.cake-code-dump span.code-highlight {
    background-color: #ff0;
    padding: 4px;
}
div.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
div.code-coverage-results div.covered span.content {
    background:#cec;
}
div.code-coverage-results div.ignored span.content {
    color:#aaa;
}
div.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
div.code-coverage-results span.line-num strong {
    color:#666;
}
div.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
div.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
div.code-coverage-results div.realstart {
    margin-top:0px;
}
div.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
div.code-coverage-results span.result-bad {
    color: #a00;
}
div.code-coverage-results span.result-ok {
    color: #fa0;
}
div.code-coverage-results span.result-good {
    color: #0a0;
}
/* THÔNG BÁO CÁ NHÂN */
#ThongBaoChiTiet{
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-bottom: 6px solid #CDCDCD;
    max-width: 800px;
}
#ThongBaoChiTiet table.CssTable td{
    padding-top: 2px;
    padding-bottom: 2px;
}
.Title_ThongBaoCaNhan {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #C2D5E3;
    border-top: 1px solid #FFFFFF;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
}
.Title_ThongBaoCaNhan span{
    font-weight:bold;
}
#content_thongbao_canhan {
    max-height: 380px;
    overflow-x: auto;
    padding: 8px;
    width: 390px;
}
/* User Online Bottom Main Page */
#MemberOnline{background: url('/img/whos_online.gif') no-repeat scroll 0 0 #F2F2F2; padding-left: 33px;min-height:31px}
#ThuVienPhapLuat{background: url('/img/thuvienphapluat.png') no-repeat scroll 0 0 #F2F2F2; padding-left: 33px;min-height:31px}
#MemberOnline .Avatar{color:#3366FF !important;}
table#whoisonline td{ vertical-align: top; padding-left: 0px; padding-right: 0px; }

/* GOC SUY NGAM */
#noteclassic {
    background-position: 20px 50%;
    background-repeat: no-repeat;
    padding: 15px 20px 15px 80px;
    text-align: justify;
    background-image: url("/img/gocsuyngam/note.png");
}
#quotescollection_randomquote cite {
    display: block;
    text-align: right;
}
#quotescollection_author {
    font-style: normal;
}
#quotescollection_source {
    font-style: italic;
}

.EmptyDiv{
    height: 100px;
}
/* POLLS */
#polls_update{
    position:fixed;
    bottom: 20px;left: 40px;
    display:none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #777777;
    z-index: 1000;
    border: 2px solid #70707B;
    padding:10px;
}
#polls_update h3 {
    color: #CC0000;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    margin-top: 5px;
}
#polls_update div.div-result-poll, .poll-index div.div-result-poll{
    background-color:#cc4400;
    height: 20px;
}
#polls_update label {
    font-weight: normal;
}
hr {
    border: 0px;
    color: #CCCCCC;
    background-color: #CDCDCD;
    height: 1px;
    width: 100%;
    text-align: left;
}
#poll-result-left {
    background-color: #FFFFFF;
    color: black;
}
p {
    line-height: 20px;
    padding: 5px;
}
#poll-results p {
    text-align: center;
}
/* END POLL */


/* Trac nghiem */
.PopupHeThong{
    position:fixed;
    bottom: 20px;
    left: 40px;
    /*background-color: #FFFFFF;
    border-bottom: 1px solid #777777;*/
    z-index: 1000;
    /*border: 2px solid #BBBBBB;*/
    padding: 3px 6px;
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    max-width: 516px;
}
.PopupHeThong #Menu{
    background: -moz-linear-gradient(left center , #50A1D3 5%, #207CCA 10%, #2B88D9 98%) repeat scroll 0 0 transparent;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    padding:8px 8px;
    font-size: 14px;
    text-align: center;
}

div.progress-result{
    background-color:#cc4400;
    height: 20px;
}

/* TABLE KHUNG VIEN */
table#KhungVien{
    border-collapse: collapse;
    empty-cells: show;
}

table#KhungVien>tbody>tr>td{
    padding: 0;
}

div#KhungVienWrapper{
    padding: 0 10px;
}

div#KhungVienWrapper > div#ThongTinCauHoi{
    margin-top: 10px;
    margin-bottom: 5px;
}


.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r {
    background: none repeat scroll 0 0 #000000;
    opacity: 0.2;
    overflow: hidden;
}

.t_l, .t_r, .b_l, .b_r {
    height: 8px;
    width: 8px;
}

.t_l {
    border-radius: 8px 0 0 0;
}

.t_c, .b_c {
    height: 8px;
}

.t_r {
    border-radius: 0 8px 0 0;
}

.b_l {
    border-radius: 0 0 0 8px;
}

.b_r {
    border-radius: 0 0 8px 0;
}

.m_c {
    background: none repeat scroll 0 0 #FFFFFF;
}

/* END TABLE KHUNG VIEN */

.PopupHeThong #TieuDe{
    color: #336699;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}

.PopupHeThong .ChonTraloiDung{
    font-weight: bold;
}


/* END trac nghiem */

#UserGiaoViec .LiTabs
{
    text-transform: none;
}
/* LOI NHAN Y TUONG */
/*
.Loinhanytuong_Menu{
    background-color: #DCDBF9;  #F5F5F5;
    border: 1px solid #DDDDDD;

    font-weight: bold;
    margin: 0 -3px 0 -14px;
    min-height: 15px;
    padding: 4px 31px;
}

.Loinhanytuong_Menu_Them{
    text-align: right;
    float:right;
}

.Loinhanytuong_Menu_TenPhong{
    float: left;
}
hr.sangtao7s{ width: 200px; margin-top: 10px; margin-bottom: 10px; }
div.ClickLikeDiv{ margin-top: 10px; }
a.ClickLike{ background-color:#EDEEF9; padding:5px; }
span.LikeCount{ background-color:#EDEEF9;  padding:5px; }
span.LikeCount .NumCount{ color:green; font-weight:bold; }
*/
/* END LOI NHAN Y TUONG */
/*DANG KY XE*/
table.TitleTable{width:100%}
table.TitleTable td{border-bottom:1px solid #CCC;}
/*END DANG KY XE*/
.MenuHorizon{
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    color: #870386;
    font: oblique 1.4em/1.8em Georgia,"Times New Roman",Times,serif;
    height: 28px;
    padding-left: 5px;
}
.SpanMenuHorizon{
    background: url("/img/double_arrow_down.png") no-repeat scroll 32px 3px transparent;
    float: right;
    font-size: 16px;
    padding-right: 21px;
}
.TopMenuMore{
    padding-top: 15px;
    position: relative;
    background-color: #F8F8F8;
}
div.legend{
    /*background-color: #F5F5F5;*/
    background-color: #B4B3B3;
    padding:0 8px 0 7px;
    border: 1px solid #BBBBBB;
    color: #145190;
    font: oblique 1.4em/1.8em Georgia,"Times New Roman",Times,serif;
    text-shadow: 2px 2px 3px #C6C6C6;/*#999999;*/
    border-top: 2px solid #1E90FF;
    width: -moz-fit-content;
}

div.ContainData{
    margin: 0 0 12px 0;
    border:1px solid #8BB6D5;/* #CDCDCD; */
    border-top:none;
    font-size: 12px;
}
#Left_MainTabs li a{
    font-size: 11px;
}
div.ContainDataNoidung{
    padding:3px 9px;
}
div.ContainDataTitle{

    /*border-bottom: 1px solid #C2D5E3;
    border-top: 1px solid #C2D5E3;*/

    background-color: #8BB6D5;/*#E5EDF2;*/
    padding-left: 9px;
    line-height: 31px;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom:2px;
    color: #FFFFFF;
    font-family:Myriad Pro;/*"Trebuchet MS", Helvetica;*/
    font-size: 14px;
}

#DuongNganCach{
    margin: 5px 4px;
}

#ThemLoiNhan{
    margin: 5px 0;
}
.SpanMenuHorizonDiff{
    background: url("/img/double_arrow_down.png") no-repeat scroll 22px -6px transparent;
}
.UserPhongBan{
    background-color: #F9F9F9;
    font: oblique 1.3em small-caps,"Times New Roman",Trebuchet MS;
    text-shadow: 2px 2px 3px #999999;
    display: block;
}
#GiaoViecPhongBan{
    color:#3F2EA0;
    font-weight:bold;
}
#ThisGiaoViecPhongBan{
    color:#2EA040;
    font-weight:bold;
}

/* ============== 24 - 11 - 2011 ============================= */
.Center{
    text-align: center;
}
a.Button{
    padding-top: 4px;
    padding-bottom: 5px;
}
div.Menu {
    padding: .4em 1em;
    width:116px;
}
.NewTask{
    position:absolute;
    right:0;
    top:-3px;
}
/* ========== 20 -12 - 2011 ==== SUA GIAO VIEC THONG BAO GOC PHAI ===== */
tr.RowRedInform{
    background-color: #FEC9C9;
}
tr.RowBlueInform{
    background-color: #D8EEFC;
}
tr.RowBlueInformXong{
    background-color: #C4D7C2;
}


/* ============ CongtrinhsCongviecs ======================== */
.ui-autocomplete-loading {
    background: url("/css/images/ui-anim_basic_16x16.gif") no-repeat scroll right center white;
}
#congviec_moingay{
    margin-bottom: 17px;
}
#s5_component_wrap_inner {
    padding: 5px;
}
#s5_body_column {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AFAFAF;
    float: left;
    padding: 16px 16px 0;
    position:relative;
}
.componentheading {
    border-bottom: 2px dotted #E7E7E7;
    font-family: Times New Roman;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
    padding: 0 6px 6px;

    color: #DE4409;
}
.inputbox {
    border: 1px solid #AFAFAF;
    margin: 4px;
    padding: 4px;
}
.pollstableborder {
    margin-bottom: 10px;
    margin-top: 10px;
    border: none !important;
}
#congviechomnay_from td {
    border: medium none;
    padding: 10px 2px;
    text-align: left;
    vertical-align:top;
}
th {
    font-weight: bold;
    padding: 4px;
    text-align: left;
}
.sectiontableheader {
    background-color: #EFEDED;
    border-bottom: 1px solid #DAD8D8;
    color: #333333;
    line-height: 29px;
    padding: 0 10px;
}
#congviechomnay_from td img {
    vertical-align: baseline;
}
#congviechomnay_from td.TWO {
    width: 85px;
    padding-left: 37px;
}

#search_week {
    background: url("/img/bg_link_congviec_homnay_color.png") repeat-x scroll left top transparent;
    border-radius: 6px;
    height: 30px;
    width: 436px;
    padding: 6px 12px;
}
/*
.breadhome, .breadhomeLast, .breadhomeFirst {
    background: url("/img/bg_link_congviec_homnay.png") repeat-x scroll left top transparent;
    float: left;
    height: 30px;
    width: 46px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px 0 5px;
    width: 88px;
    border-bottom:1px solid #FFFFFF;
}
.breadhome:hover {
    background: url("/img/bg_link_congviec_homnay.png") no-repeat scroll left -45px transparent;
}

.breadhomeLast, .breadhomeFirst {
    background: none;
    width: 77px;
}
.breadhomeLast:hover {
    background: url("/img/bg_link_congviec_homnay.png") no-repeat scroll left -124px transparent;
}*/
.OpacityGiam{
    opacity: 0.5;
}
.OpacityGiam:hover{
    opacity: 1;
}
.HoverBoiDen:hover{
    background-color: #D0D0EA;
    cursor: pointer;
}
.TextCenter{
    text-align: center;
}
.ColorLinkCtCv{
    color: #0066DD;
}
#congviec_moingay table{
    border: 1px solid #000000;
}

/* ======================= LICHHOPS ======================= */
#DanhSachLichHop{
    position: relative;
    border: 6px solid #D0D7E5;
    /*width: 300px;
    height: 328px;*/

}
#DanhSachLichHop #ThemLichHop{
    position: absolute;
    right: 10px;
    top: 5px;
}
#DanhSachLichHop .Overflow_Data{
    overflow-y: auto;
    height: 270px;
}
.Overflow_Data a{
    font-size: 11px;
}
#DanhSachLichHop .TitleBBH{
    padding: 5px;
    font-size: 14px;
    border: 1px solid #D0D7E5;
    width: 110px;
    margin: 4px 0 0 101px;
}

#DanhSachLichHop ul{
    padding: 2px;
}
#DanhSachLichHop ul li{
    padding: 5px 2px 5px 2px;
    border-bottom: 1px solid #D0D7E5;
}
/* ======================= END LICHHOPS ======================= */

/* ======================= LOINHANS ======================= */
    #loinhans{
        padding: 0 10px;
        margin: 10px;
        border: 1px solid #B1A7EB;
        border-top: none;
        -moz-border-radius: 8px;
        -moz-border-radius: 8px;
    }

    #loinhans ul li {
        background-color: #E9E9E9;
        border-top: 1px solid #CCCCCC;
        height: 1px;
        margin: 20px 0 5px 0;
        position: relative;
    }

    #loinhans #loinhans_1{
        left: 10px;
        top: -8px;
        background-color: white;
        padding-right: 2px;
        position: absolute;
    }
    #loinhans #loinhans_1_2{
        position: relative;
    }

    #loinhans #loinhans_1_2_a{
        background-color: transparent;
        background-image: url("/img/fb_loinhans.png");
        background-position: right -396px;
        background-repeat: no-repeat;
        border: medium none;
        box-shadow: none;
        margin: -1px 2px 0;
        padding: 0 9px 0 3px;
    }

    #loinhans #loinhans_1_2_a:hover{
        text-decoration: underline;
        color: #808080;
    }

    #loinhans #loinhans_1_2_a_span{
        color: gray;
        font-size: 12px;
    }

    #loinhans_2_1{
        text-align: right;
        margin-right: 10px;
    }
/* ======================= END LOINHANS ======================= */

/* main/index */
.TableChucNang{
    border:2px solid #D0D7E5;border-collapse:collapse;
    width: 100%;
    margin-bottom: 11px;
}
.TableChucNang td{
    border:1px solid #D0D7E5;
    padding: 5px;
    background-color:#BDBCEA;
    text-align:center;
}
.TableChucNang td.Active, .TableChucNang td:hover{
    background-color: #FFFFFF;
}
.TableChucNang a{
    border:none;
}

/* jquery-ui */
.ui-dialog{
    background-color: rgb(255, 255, 255) !important;
    /*-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;*/
    -moz-box-shadow: 0 1px 8px 2px;
    -webkit-box-shadow: 0 1px 8px 2px;
}

.ContainLinkHover{
    position: relative;
}

/* === Dung cho Avatar === */
.AvatarHover{
    position: relative;
}

.AvatarViewParent:hover .AvatarView{
    display: block;
}
/* === END cho Avatar === */

/* === Dung cho link xoa comment === */
.ContainLinkDeleteComment{
    position: relative;
}
.ContainLinkDeleteComment .LinkDeleteComment{
    position: absolute;
    right: -1px;
    bottom: 0;
}
.ContainLinkDeleteComment:hover .LinkDeleteComment{
    display: block;
}
.LinkDeleteComment{
    display: none;
}
/* === END link xoa comment === */

.ContainLinkHoverXoa:hover .linkHoverXoa{
    display:inline;
}

.ContainLinkHover:hover .linkHover{
    display:inline;
}
.linkHover, .linkHoverXoa{
    display:none;
}
a.linkHover{
    color: #A9A9A9;
}

table.Data tr.DataRowColor td{
    background-color:#F0F1FC;
}

div.ClickLikeDiv{ margin-top: 10px; }
a.ClickLike{ background-color:#EDEEF9; padding:5px; }
span.LikeCount{ background-color:#EDEEF9;  padding:5px; }
span.LikeCount .NumCount{ color:green; font-weight:bold; }
a.title_Caitien{
    color:#145190;font-weight:bold;
}
#hoiykiens_update{
    position:fixed;
    bottom: 20px;left: 40px;
    display:none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #777777;
    z-index: 1000;
    border: 2px solid #A6C9E2;
}
#hoiykiens_update h3 {
    background:url("/img/header_bg.png") repeat-x scroll 50% 50% #5C9CCC;
    border:1px solid #4297D7;
    color:#FFFFFF;
    font-weight:bold;
    height: 30px;
    text-align: center;
}
#hoiykiens_update .canhgiua {
    margin-left: 10px;
    margin-right: 10px;
}
.UlDecimal li{
    list-style-type: decimal;
    margin-left: 24px;
}
#LichCongTacBGD td{
    /*word-break: break-all;*/
    word-wrap: break-word;
}

.StarImportant{
    width:10px;
    position:absolute;
    right:-7px;
    top:0
}
.BackgroundImportant{
    background-color: #E2E7FC !important;
}

#google_image_config {
    display: inline-block;
    border-radius: 2px 2px 2px 2px;
    line-height: 24px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(center top , whiteSmoke, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;

    background: url(/img/google_sprite_black2.png) no-repeat 4px -19px;
    height: 25px;
    width: 13px;
    opacity: 0.55;
}
#google_image_config:hover {
    opacity: 1;
}

/* namnb
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer{
    overflow: hidden;
    position: relative;
}

.jspPane{
    position: absolute;
}

.jspVerticalBar{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.jspHorizontalBar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *{
    margin: 0;
    padding: 0;
}

.jspCap{
    display: none;
}

.jspHorizontalBar .jspCap{
    float: left;
}

.jspTrack{
    background: #a2a09b;
    position: relative;
    box-shadow:inset 0px 0px 10px #333;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    behavior:url(PIE.htc);
}

.jspDrag{
    background: url(/img/jScrollPane/scroll_drag_bg.png) no-repeat;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
    float: left;
    height: 100%;
}

.jspArrow{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow{
    height: 16px;
}

.jspHorizontalBar .jspArrow{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus{
    outline: none;
}

.jspCorner{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{
    margin: 0 -3px 0 0;
}

.term_r {
    /*width: 500px;*/
    padding-right: 30px;
    height: 346px;
    overflow: auto;
}
/* end jScrollPane */

#Cham7S{
    border: 1px solid #B1A7EB;
}

/* namnb  dung cho the ban` phim computer
        http://stackoverflow.com/questions/2075317/how-to-get-an-outline-view-in-sublime-texteditor
 */
kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #CCC;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #F7F7F7;
    color: #333;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 white;
    line-height: 1.4;
    white-space: nowrap;
}

.img_file_xuat:hover{
    opacity: 0.4;
    cursor: pointer;
}
.User_vatar{
        font-weight: 700;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
          -moz-text-decoration-style: solid;
        color: rgb(59, 89, 152);
           outline-style: none;
    }
.ketoan_nb{
    background-color: #F1F498;
}
