/* CSS Document */
#contentRightPanel{position:relative}
#homeIntro{display:none}
#goNext{display:none}
#goPrev{display:none}
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
/* Styles */
	#mainWrapper{width:100%}
	#header{width:97%; height:150px}
	
	#navigation{top:auto; bottom:0; height:74px; float:left; position:absolute; top:0; right:-10px;   background: white; display:none}
	#navigation ul{background: white}
	#navigation ul li{text-align:left; float:none; clear:both;}
	#navigation ul li a{display:block; text-align:right}
	#logo{padding:10px}
	#logo img{width:60%}
	
	.fadein img{width:100%}
	
	#titleBar{width:100%; padding:0;  height: 43px; margin-bottom: 2px; display:none}
	#mainContainer{width:100%; position:relative}
	#contentLeftPanel{width:100%}
	#contentRightPanel{width:100%}
	
	.contentText{width:90% !important}
	.contentText img{display:none}
	.contentText img.showinmobile{display:block !important; width: 100%; height: auto}
	.contentText .givingBack img{display:block !important; width:100%}
	.clientWrap table{width:100%}
	#contentRightPanel{position:relative; top:0; z-index:509; top: -576px; margin:0}
	#contentLeftPanel{display:inline; position:relative; top:-1px; z-index:501; height:575px; background:#FFFFFF};
	#goBack{display:block !important; width:100%}
	#goBack a{display:block}
	html {overflow:inherit;}
	#example3{display:none !important}
	#staffs .staff{width:100%;}
	#staffs .staff .longDesc{position:fixed; height:400px}
	
	#homeIntro{display:block; top: 10px}
	#goNext{display:block}
	#goPrev{display:block}
	#leftPanel{display:none}
	
	#staffs .staff img {
		display: block !important;
		margin-right: 4px;
		width: 35%;
	}
	.longDesc{
		min-height:550px; 
	}
	
	/*.facebook_square32 img{right: 78px !important; top:-1px}
	.linkedin_square32 img{  right: 42px !important; top: -1px}*/
	
	#menu-icon-mobile{  display: block !important;
					  padding: 20px;
					  background: url(../images/menu.jpg) no-repeat;
					  background-size: contain;
					  position: absolute;
					  right: -3px;
					  top: 65px;
					  opacity: 0.5;
					 }
	
	
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 481px) 
and (max-width : 1024px) {
/* Styles */

#mainWrapper{width:100%}
	#header{width:100%}
	
	.fadein img{width:100%}
	
	#titleBar{width:100%; padding:0;  height: 43px;}
	#mainContainer{width:100%; display:table; margin-top:2px}
	#navigation{right:0}
	#contentLeftPanel{ float:none; display:table-cell !important; vertical-align:top; width:30%}
	#contentRightPanel{ float:none; display:table-cell !important; vertical-align:top; width:70%}
	#contentRightPanel.contact{width:99%}
	.contentText{width:90% !important;}
	.contentText img{display:none}
	.contentText img.showinmobile{display:block !important; width: 100%; height: auto}
	.contentText .givingBack img{display:block !important; width:100%}
	.clientWrap table{width:100%}
	#staffs .staff{width:48%;}
	
	#staffs .staff img {
		width: 33%;
	}
	.longDesc{
		min-height:414px; 
	}
	
	#goBack{display:none !important}

	html {overflow:inherit;}
	
	/*.facebook_square32 img{left:10px; top:-1px}
	.linkedin_square32 img{left:47px; top: -1px}*/
	
		/*$('#mainWrapper').css('width', '100%');
		//$('#header').css('background', '#FFF');
		
		$('#titleBar').css('width', '100%');
		$('#mainContainer').css('width', '100%');
		$('#contentLeftPanel').css('width', '220px');
		var rightPanelWidth = ww - 225;
		$('#contentRightPanel').css('width', rightPanelWidth+'px');
		
		$('.contentText').css('width', '90%');
		$('.contentText img').hide();
		
		$('.clientWrap table').css('width', '100%');
		
		$('#contentLeftPanel').show();
		$('#contentRightPanel').show();
		$('#goBack').hide();*/

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */



}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
/* Styles */

#goBack{display:none}

#contentLeftPanel{display:block  !important}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

