body{
	background-color:#FFFFFF;
	margin-top: 28px;
	font-size:14px;
}
.div1NoiDungTraLoi {
	font-size: 12px;
	padding: 5px 0 4px 5px;
	width: 533px;
}
div.ThemMoiLichCongViec {
	padding-right: 850px;
}

div.traloi{
	text-align: left;
}