*,#log{margin:0;padding:0}
body{
	color:#333333;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:normal;
	word-wrap:break-word;
	font-size:13.5px;
	background-color: #FFFFFF !important;
	/*background: url(/img/8step/bg.jpg) no-repeat scroll 0 0 transparent;
	width:750px;
	margin-left:10%;
	height:550px;
  	background-position:center center;
  	position:relative;
  	background-repeat: no-repeat;*/
}
#loading{background-color:#FFFFCC;border:thin solid #F63;color:#C60;cursor:wait;display:inline;font-size:small;font-weight:700;height:100px;left:50%;opacity:0.8;position:fixed;text-align:center;top:50%;vertical-align:middle;width:200px;z-index:9999}
form div{position:relative;
}
ul{
	list-style-type: none;
}
.ngonngu{
	position:relative;
	margin-left: 480px;
	top: 44px;
	z-index:10;
}
.en{
	margin-bottom: -22px;
	margin-left: 43px;
	margin-top: -16px;
}
.transparent_class  li{
		position: relative;
}
/*.transparent_img{
		opacity:1;
		filter:alpha(opacity=100);
		filter: alpha(opacity=100);
}*/
a img{
	opacity:0.8;
	filter:alpha(opacity=80);
	filter:alpha(opacity=80);
}
.transparent_class ul li a.Active {
	border-width:3px 1px medium;
}
a:hover img,a.active{
	opacity:1;
	filter:alpha(opacity=100);
	filter:alpha(opacity=100);
}
.transparent_class ul li a.Active img {
	border-color: red;
	border-width:3px 1px medium;color:#e68b2c;
	background: none repeat scroll 0 0 #FFFFFF;
}
/*#background_smiles,#background_smiles1,#background_smiles2{width:100%;}*/
.kdv_background_smiles,.background_smiles,.background_smiles1,.background_smiles2{
	background: url(/img/8step/bg.jpg) no-repeat scroll 0 0 transparent;
	width:80%;
	/*margin-left:10%;*/
	height:550px;
	width: 780px;
  	/*background-position:center center;
  	position:relative;*/

}
.background_smiles_khachhang{
	background: url(/img/8step/smiles_khachhang.png) no-repeat scroll 0 0 transparent;
	width:80%;
	margin-left:10%;
	height:750px;
  	background-position:center center;
  	position:relative;
  	background-repeat: no-repeat;

}
.smiles{
	position:relative;
}
.tenduan,.tenkhachhang{
	position:relative;
	background: none;
	border:solid #4f4f51 thin ;
	color:#CCCCCC;
	width:350px;
	height:30px;
	margin-left: -190px;
	margin-top: 90px;
	color:#AAA6A6;
	font-family:tahoma;
	font-size:15px;

}
.tenduan{
	margin-left: -118px;
    width: 422px;
}
.tenkhachhang{
	margin-left: 171px;
	margin-top: -19px;
	padding-left: 5px;
}
#tenkhachhang{
	color: #AAA6A6;
	height: 17px;
	margin-left: -404px;
	margin-top: -16px;
	width: 150px;

}
.message_success{background-color:#E6EFC2;border-color:#C6D880;color:#529214; width: 750px;}
.message_error,#authMessage{
	clear: both;
    color: red;
    font-family: tahoma;
    font-size: 24px;
    margin-bottom: -51px;
    top: 7px;}
/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
		position:relative;
		z-index:10;
		width:110px !important;
		height:30px !important;
		line-height:26px;
		background-color:#231f20;
		color:#AAA6A6;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position:absolute;
	width:110px;
	height:30px;
	line-height:26px;
	text-indent:0px;
	cursor:default;
	font-family:tahoma;
	font-size:15px;
	background:url(/img/8step/cbochon.jpg) no-repeat 0 0;
	border:solid #4f4f51 thin ;
	color:#AAA6A6;
	margin-left: 99px;
	margin-top: -32px;

	}
form div.variation2 span.select{left:100px;}
.smiles_title{
	position: relative;
	color: rgb(204, 204, 204);
	font-size: 35px;
	margin:auto;
}

.submit{
	position:relative;
	z-index: 10;
	/*margin-left:-310px;
	margin-top:68px;*/
}
.btnsave,.btnthoat,.btngui{
	background:transparent;
	border: solid #4f4f51 thin;
	width:80px;
	height:25px;
	border-radius: 5px 5px 5px 5px;
	color:#AAA6A6;
	font-family:tahoma;
	font-size:15px;
	padding-bottom: 4px;
}
.btnsave,.btngui{
	margin-bottom: -24px;
}
.btngui{
	margin-left: 70px;
}
.btnthoat{
	margin-top: -1px;
	margin-left: 135px;
	z-index:100;
	height: 25px;
	width: 65px;

}
.thoat{
	background: none repeat scroll 0 0 transparent; border: thin solid #4F4F51;border-radius: 5px 5px 5px 5px;color: #AAA6A6; font-family: tahoma;font-size: 15px; height: 23px; margin-left: 147px; margin-top: -18px;width: 65px;z-index: 120;
}
.btn{
	position:relative;
	z-index: 10;
}
.title_duan{
	position: relative;
	font-family:tahoma;
	font-size:17px;
	color:#AAA6A6;
}
#title_duan{
	position: relative;
	margin-top:10px;
}
.litabs{
	 margin-left: 545px; top: -16px; position: relative;
	z-index: 10;
}
li a{
	outline-style: none;
	text-decoration: none;
	color:#AAA6A6;
}
.litabs a:hover {
	color:#FFFCFC;
}
table.CssTable{width:100%}
table.CssTable td{border-bottom:1px solid #D0D7E5;padding-bottom:8px;padding-top:8px}
.ui-dialog {
	background-color: #FFFFFF !important;
}
a {
	color: #3B5998;
	outline-style: none;
	text-decoration: none;
}
.bieutuong, .indexbieutuong{
	 margin-left: -5px;
}
.bieutuong{
	top: 111px;
}
.ui-autocomplete { position: absolute; cursor: default; }
html .ui-autocomplete { width:1px; }
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	background:#7B7B7B;
	color:#0B0B0B;
}
.themsmiles{
	background-color: #49494B;
	border: Menu solid #252628;
	border-radius: 5px 5px 5px 5px;
	color: #CCCCCC;
	font-family: tahoma;
	font-size: 15px;
	height: 25px;
	margin-left: 844px;
	position: relative;
	width: 80px;
	z-index:100;
	padding: 4px;
}
li.themsmiles a {
	color: #FBF8F8;
	outline-style: none;
	text-decoration: none;
}
.loinhankhach{
	position:relative;
}
.btnloinhan{
	color:#4C4C4E;
	border: thin solid #9898A0;
	background-color: #A9A4A4;
	width:65px;
	height:25px;
	border-radius: 5px 5px 5px 5px;
	font-family:tahoma;
	font-size:15px;
	font-weight: bold;
	z-index:1002;
}
.btnloinhan:hover{
	color:#DD680F;
	background-color:#F4F1F1;
}
button:hover{
	color:#b72222;
	background-color:#cdcdcd;
}
.thoat a:hover,.btnsave:hover,.btngui:hover{
	color:#b72222;
	background-color:#cdcdcd;
}
.themsmiles:hover{
		color:#AFAEF5;
		background-color:#055559;
}
.canhbao{
	color: red;
	font-family: tahoma;
	font-size: 28px;
	font-weight: 600;
	margin: auto;
	text-align: -moz-left;
}




/* Bắt đầu css cua combobox*/
.container {
  margin: 5px 50px 20px -50px;
  width: 500px;
  text-align: center;
}
.container > .dropdown {
  margin: 0 0 -20px 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 70px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 #f5f5f5;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-dark:before {
  border-bottom-color: #aaa;
}
.dropdown-dark:after {
  border-top-color: #aaa;
}
.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  /* Fallback for IE 8 */
  background: #444;
}
.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}
.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

/* The end css cua combobox*/