
.st_sharethis, .sharethis { font-family: Arial, Helvetica, sans-serif !important;	 }
.js .st_sharethis {
	display: block;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding: 7px 0;
	margin-top: 1em;
	clear: both;
}

.centered { max-width: 1140px; margin-left: auto; margin-right: auto; padding: 0 20px; }
.twoColumnLeft { margin-left: 25.9%; }
.twoColumnRight { margin-right: 25.9%; }
.threeColumn { margin-left: 25.9%; margin-right: 25.9%; }
.hidden { display: none; }

img.right, img.left { display: block; padding: 1px; border: 1px solid #CCC; }
img.right { float: right; clear: right; margin-left: 1.5em; margin-bottom: 1em; }
img.left { float: left; clear: left; margin-right: 1.5em; margin-bottom: 1em; }

header { position: relative; height: 84px; margin-bottom: 48px; }
header nav {
	/*font: 1.25em "Futura W02 Medium", Futura, Helvetica, Arial, sans-serif;*/
	font-size: 1.25em;
	position: absolute;
	right: 20px; /* From .centered */ bottom: 0;
	width: 63%;
	text-align: right;
}

header nav li { display: inline-block; margin-left: 1.5em; white-space: nowrap; }
header nav a { color: #666; }
header nav .on a { color: #a2a3a4; font-weight: bold; }

#logo { position: absolute; bottom: 0; width: 34%; }

header hgroup#logo { bottom: -24px; }
header hgroup h1 { font: bold 2.5em "FunctionPro", Futura, Helvetica, Arial, sans-serif; background: none !important; }
header hgroup h1 a { color: #000 !important; }
header hgroup h1 a:hover { color: #555 !important; text-decoration: none; }

footer {
	background: #666;
	color: #CCC;
	clear: both;
	font-size: 1.1em;
	padding: 25px 0;
	margin-top: 2em;
}

footer .centered {
	position: relative;
}

footer a { color: #CCC; }

#sitemap, footer .socialMedia, footer .copyright {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#sitemap, #discoverMoreNav { width: 69%; }
#sitemap a { color: #CCC; }

#sitemap > ul > li, #discoverMoreNav > ul > li {
	display: inline-block;
	vertical-align: top;
	background: url(../images/bg-dotdash-grey.png) repeat-y 0 0;
	width: 21.5%;
	padding-left: 2.5%;
	min-height: 245px;
	line-height: 1.5;
}

#sitemap h6, #discoverMore h6 { margin: 0.8em 0 0.6em; }
#sitemap h6:first-child, #discoverMore h6:first-child { margin-top: 0; }
#sitemap h6 a, #discoverMore h6 a { color: #FFF; }
#sitemap ul ul:last-of-type, #discoverMore ul ul:last-of-type { margin-bottom: 0; }

footer .socialMedia, footer .copyright {
	position: absolute;
	right: 20px; top: 0;
}

footer .socialMedia { font-size: 1.15em; font-weight: bold; }
footer .socialMedia ul { margin-top: 0.8em; }
footer .socialMedia li { float: left; margin-left: 25px; }

footer .socialMedia li.twitter { margin-left: 0; }
footer .socialMedia li.flickr { overflow-x: visible; }

footer .socialMedia li a {
	display: block;
	background: url(../images/logo-footer-socialmedia.png) no-repeat 0 0;
	height: 20px;
	text-indent: -999em;
}
footer .socialMedia li.twitter a { width: 70px; }
footer .socialMedia li.facebook a { width: 82px; background-position: -70px 0; }
footer .socialMedia li.flickr a { width: 52px; background-position: -152px 0; }

footer .socialMedia li.twitter a:hover { background-position: 0 -20px; }
footer .socialMedia li.facebook a:hover { background-position: -70px -20px; }
footer .socialMedia li.flickr a:hover { background-position: -152px -20px; }

footer .socialMedia form { clear: left; padding-top: 20px; }
footer .socialMedia form legend { margin-bottom: 0.5em; }
footer .socialMedia form label { font-weight: normal; font-size: 0.8em; }
footer .socialMedia form input {
	border: none;
	padding: 2px 5px;
	line-height: 1;
	font: 0.8em Arial, Helvetica, sans-serif;
	width: 200px;
	margin-right: 5px;
}

footer .socialMedia form input:-moz-placeholder { color: #333; }
footer .socialMedia form input::-webkit-input-placeholder { color: #333; }

footer .socialMedia form button {
	border: none;
	padding: 0;
	background: #484848;
	color: #FFF;
	font: 0.8em Arial, Helvetica, sans-serif;
	padding: 2px;
	vertical-align: middle;
}

footer .copyright {
	top: auto;
	bottom: 0;
	text-align: right;
	font-size: 0.8em;
	color: #FFF;
	line-height: 1.4;
}

footer .copyright a { color: #CCC; }

/* General content styles */
/*.content { line-height: 1.3; }*/
.content p { margin-bottom: 1.2em; }
.content *:last-child { margin-bottom: 0; }
.content ul { margin: 0 2em 1em; list-style: disc outside; }
.content ol { margin: 0 2em 1em; list-style: decimal outside; }
.content blockquote { border-left: 8px solid #CCC; margin: 0 2em 1em; padding-left: 1em; }
.content .linklist { }
.content strong, .content b { font-weight: bold; }
.content em, .content i { font-style: italic; }

.content .pageLogos { list-style: none; margin: 0; padding: 0; }
.content .pageLogos li { display: inline-block; vertical-align: bottom; margin: 0 11px 14px 0; }

.content h2 { font-size: 1.55em; color: #666; margin-bottom: 1em; }
.content h3 { font-size: 1.3em; margin-bottom: 0.5em; }
.content h4 { font-size: 1.2em; margin-bottom: 0.3em; }
.content h5 { font-size: 1.1em; margin-bottom: 0.3em; }
.content h6 { font-size: 1.1em; font-weight: normal; margin-bottom: 0.2em; }

.content table { }

/* Discover more */
#discoverMore {
	background: #535353;
	color: #FFF;
	border-bottom: 30px solid #666;
	position: absolute;
	left: 0; top: 0;
	padding: 29px 0 24px;
	width: 100%;
	font-size: 1.25em;
	box-shadow: 0 0 11px 0 #666;
	-moz-box-shadow: 0 0 11px 0 #666;
	-webkit-box-shadow: 0 0 11px 0 #666;
}

#discoverMore a { color: #CCC; }

#discoverMore .centered { position: relative; }
#discoverMore .positioning { display: inline-block; width: 28%; padding-right: 2%; }

#discoverMoreNav { display: inline-block; vertical-align: top; }
#discoverMoreNav ul ul { font-size: 0.85em; }
#discoverMoreNav > ul > li:last-child { width: auto; }

#discoverMore .positioning p { margin-bottom: 1em; }

#discoverMore .button {
	position: absolute;
	bottom: -65px; right: 20px;
	font-size: 0.8em;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #666;
	padding: 7px 7px 4px;
	color: #FFF;
	font-width: bold;
	line-height: 1;
}
#discoverMore .open,
#discoverMore .open:hover {
	bottom: -50px !important;	
}

#discoverMore .button:hover {
	bottom: -68px;
	text-decoration: none;	
}

#discoverMore .button span {
	display: inline-block;
	width: 8px; height: 6px;
	background: url(../images/bg-discovermore.png) no-repeat 0 0;
	margin-left: 6px;
	margin-bottom: 1px;
}

#discoverMore .open span { background-position: 0 -6px; }

/* Main content area */
.main { padding-bottom: 3em; }
.main h1 {
	background: #a2a3a4;
	color: #FFF;
	font: bold 1.9em "FunctionPro", Futura, Helvetica, Arial, sans-serif;
	line-height: 1;
	padding: 11px 13px 8px;
	margin: 0 0 23px;
}

.main h1.noMargin { margin-bottom: 0; }

.mainImage {
	margin-bottom: 23px; /* Surrogate h1 margin */
	position: relative;
	overflow-y: hidden;
}

.mainImage img {
	padding-bottom: 1px;
	border-bottom: 5px solid #a2a3a4;
	display: block;
}

.caption {
	position: absolute;
	left: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0.4em 0.6em;
}

.mainImage .caption { width: 100%; }

/* Left sidebar */
#sidebarLeft { float: left; width: 22%; padding-bottom: 3em; }
#sidebarLeft li { margin-bottom: 2px; }
#sidebarLeft li a {
	display: block;
	padding: 5px 11px 4px;
}

#sidebarLeft > ul { margin-bottom: 30px; }
#sidebarLeft .level1 > a {
	background: #666;
	color: #FFF;
}
#sidebarLeft .level1 > a:hover {
	background: #888;
}
#sidebarLeft ul ul { margin-top: 2px; }

#sidebarLeft .level2,
#sidebarLeft .level3,
#sidebarLeft .level4 {
	margin-left: 12px;
}

#sidebarLeft a {
	background: #CCC;
	color: #333;
}
#sidebarLeft a:hover {
	background: #eee;
	text-decoration: none;
}
#sidebarLeft .level3  {
	font-size: 0.95em;
}
#sidebarLeft .level3 a {
	background: #ddd;
}
#sidebarLeft .level3 a:hover {
	background: #eee;
}
#sidebarLeft .level4  {
	font-size: 0.95em;
}
#sidebarLeft .level4 a {
	background: #eee;
}
#sidebarLeft .level4 a:hover {
	background: #fff;
}

#sidebarLeft .active > a {
	background-color: #a2a3a4;
	color: #FFF; 
	font-weight: bold; 
}
#sidebarLeft .active > a:hover {
	background-color: #a2a3a4;
}

#sidebarLeft #filter {
	background: #EFF2F3;
	padding: 13px;
}

#sidebarLeft #filter h2 {
	background: none;
	border: none; border-width: 0;
	margin: 0 0 1em; padding: 0;
	color: #a2a3a4;
}

#sidebarLeft #filter h3 {
	font-size: 1.1em;
	margin-bottom: 0.7em;
}

#sidebarLeft #filter ul {
	border-bottom: 1px dotted #5B5447;
	padding: 0 0 11px;
	margin-bottom: 14px;
}

#sidebarLeft #filter ul:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

#sidebarLeft #filter ul li {
	margin-bottom: 0.4em;
}
#sidebarLeft #filter label.hover {
	color: #999;
}

#sidebarLeft #filter input {
	float: right;
}
#sidebarLeft #filter input#eventFilterUpdateButton {
	float: none;	
}

#sidebarLeft .search {
	background: #EFF2F3;
	padding: 12px 13px;
}

#sidebarLeft .search fieldset legend {
	font-size: 1.45em;
	color: #8e9090;
	font-weight: bold;
	border-bottom: 1px dotted #5B5447;
	width: 100%;
	padding-bottom: 8px;
	margin-bottom: 11px;
}

/* What's on */
#whatsOn .scroller .slides li {
	width: 47%;
	display: inline-block;
	vertical-align: top;
	padding-right: 6%;
	font-size: 1.1em;
}

#whatsOn .scroller .slides li img {
	border: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	padding-bottom: 1px;
	display: block;
	width: 100%;
	margin-bottom: 11px;
}

#whatsOn .scroller .slides li a { color: #b5b6b6; display: block; }
#whatsOn .scroller .slides li a:hover { text-decoration: none; background: #ECF0F1; }
#whatsOn .scroller .slides li a h3 { margin-bottom: 0.3em; }
#whatsOn .scroller .slides li a:hover h3 { text-decoration: underline; }
#whatsOn .scroller .slides li a p { color: #333; font-size: 0.95em; }

#whatsOn .scroller .pagination {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	height: 25px;
	padding: 5px 0;
}

.borderimage #whatsOn .scroller .pagination {
	border: none;
	border-width: 1px 0 1px 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
	-o-border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
}

#whatsOn .scroller .pagination .next, #whatsOn .scroller .pagination .previous {
	text-indent: -999em;
	background: url(../images/bg-pagination.png) no-repeat 20 -223px;
	width: 15px; height: 23px;
	float: right;
}

#whatsOn .scroller .pagination .next:hover { background-position: 0 -200px; }
#whatsOn .scroller .pagination .previous { float: left; background-position: 0 -177px; }
#whatsOn .scroller .pagination .previous:hover { background-position: 0 -154px; }

#whatsOn .scroller .pagination li {
	border: none;
	text-indent: -999em;
	border-radius: 5px;
	width: 11px; height: 11px;
	margin: 7px 5px 0 0;
	background: url(../images/bg-pagination.png) no-repeat 0 -257px;
}
#whatsOn .scroller .pagination li.on { background-position: 0 -246px; }

.borderradius #whatsOn .scroller .pagination li {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: rgba(70, 104, 118, 0.3);
}

.borderradius #whatsOn .scroller .pagination li.on { background: #a1abb0; }

#whatsOn #events .pagination {
	background: #ECF0F1;
	padding: 0.8em 1em;
	text-align: center;
	font-size: 1.1em;
}

#whatsOn #events .pagination li {
	display: inline;
	margin: 0 0.3em;
}

#whatsOn #events .pagination .active { font-weight: bold; }
#whatsOn #events .pagination .control { display: none; }

/* Current exhibitions */
#currentExhibitions {
	margin-bottom: 35px;
}

#whatsOn h2 {
	background: #ECF0F1;
	border-bottom: 1px dotted #999;
	font-size: 16px;
	color: #666;
	padding: 8px 13px 6px;
	line-height: 1;
	margin-bottom: 13px;
}

.borderimage #whatsOn h2 {
	border: none;
	border-width: 0 0 1px 0;
	border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
}

#whatsOn .seeAll {
	float: right;
	margin: -14px 15px 0 0;
	position: relative;
	top: -1.75em;
}

#whatsOn a.seeAll { text-decoration: underline; }

#whatsOn #events .venue { text-align: right; }

#whatsOn .searchResults .thumbnail { width: 60px; padding-right: 11px; }
#whatsOn .searchResults .venue { white-space: nowrap; padding-left: 11px; }
#whatsOn .searchResults .theme { white-space: nowrap; padding-left: 11px; padding-right: 11px; }
#whatsOn .searchResults .theme .themeName,
div.collFuncName { 
	background-color: #eee; 
	color: #000; 
	font-size: 0.8em; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px; 
}
div.collFuncName  {
	display: inline-block;	
}
div.collMetaData {
	margin: 0 0 3px 0;	
}

#whatsOn .searchResults td.dtstart, 
#whatsOn .searchResults td.dtend,
#whatsOn .searchResults td.dt {
	white-space: nowrap;
	padding-left: 11px;
}

/* Search results */
.searchResults {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.searchResults thead { display: none; }
.searchResults tbody td {
	padding: 11px 14px 14px 0;
	background: url(../images/bg-dottedborder.png) repeat-x 0 bottom; /* border-image seems a bit flakey on table cells */
}
.searchResults td.thumbnail {
	width: 70px;
}

.searchResults td a p { color: #666; }
.searchResults a:hover { text-decoration: none; }
.searchResults a:hover h3, .searchResults .location a:hover { text-decoration: underline; }

/* Event */
#eventInfo {
	background-color: #b0b1b1;
	color: #FFF;
	font-size: 1.05em;
	margin-bottom: 19px;
	position: relative;
	overflow-y: hidden;
}

#eventInfo a { color: #FFF; text-decoration: underline; }

#eventInfo > img, #eventInfo > div {
	display: inline-block;
	vertical-align: top;
}

#eventInfo > img { width: 70.1%; border-right: 1px solid #FFF; }

#eventInfo > div { padding: 1%; width: 26%; }

#eventInfo dl dt {
	font-weight: bold;
	margin: 1em 0 0.2em;
}

#eventInfo dl dt:first-child { margin-top: 0; }
#eventInfo .caption {
	width: 70.1%;
}

/* Second version */
#eventInfo2 {
	float: right;
	width: 30%;
}

#eventInfo2 dl {
	background-color: #b0b1b1;
	color: #FFF;
	font-size: 1.05em;
	margin-bottom: 19px;
	position: relative;
	min-height: 276px;
	padding: 10px 1em;
}

#eventInfo2 dl a { color: #FFF; text-decoration: underline; }

#eventInfo2 dl dt {
	font-weight: bold;
	margin: 1em 0 0.1em;
}

#eventInfo2 > * { border-left: 1px solid #FFF; }

#eventInfo2 dl dt:first-child { margin-top: 0; }
#eventInfo2 dl dd { line-height: 1.1; }

#event article .content { margin-right: 33%; }
#event article .mainImage { /*margin-right: 30%;*/ }
#event article .mainImage img { border-bottom: none; padding-bottom: 0; }


#event article aside {
	float: right;
	width: 29.8%;
	margin: 0 0 2em 2%;
}

#event #joinAndSupportUs { }

#event #relatedEvents {
	background: #EFF2F3;
	padding: 1em;
	margin-bottom: 1.5em;
}

#event #relatedEvents h2 {
	font-size: 1em;
	color: #666;
}

#event #relatedEvents ul {
	list-style: none;
	margin: 0;
	border-top: 1px dotted #999;
}

#event #relatedEvents ul li {
	border-bottom: 1px dotted #999;
	padding: 0.6em 0;
}

#event #relatedEvents ul li a .date {
	font-size: 0.9em;
	color: #666;
}

#event article h2 { font-size: 1.55em; color: #333; margin-bottom: 0.5em; }
#event article h3 { font-size: 1.1em; margin-bottom: 1em; }
/*#event article > div { margin-right: 35%; }*/

/* Our museums */
#ourMuseums p { margin-bottom: 1.2em; }
#ourMuseums p:last-of-type { margin-bottom: 0; }

#ourMuseums article ul li {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 14px;
	width: 30%;
}

#ourMuseums article ul li a { display: block; }
#ourMuseums article ul li a:hover { text-decoration: none; background: #ECF0F1; }
#ourMuseums article ul li a:hover h2, #ourMuseums ul li a:hover span { text-decoration: underline; }

#ourMuseums article ul img {
	display: block;
	padding-bottom: 1px;
	background: #FFF;
	border: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	margin-bottom: 0.8em;
}
#ourMuseums article ul .millennium img { border-color: #CC1D28; }
#ourMuseums article ul .graves img { border-color: #39C; }
#ourMuseums article ul .weston img { border-color: #6E4499; }
#ourMuseums article ul .bishops img { border-color: #693; }

#ourMuseums article ul li a { color: #666; }
#ourMuseums article ul li a h2, #ourMuseums ul li a span { color: #a2a3a4; }

#ourMuseums article ul h2 { font-size: 1.15em; }

#ourMuseums article ul .graves, #ourMuseums article ul .bishops {
	border-top: 1px dotted #999;
	padding-top: 14px;
}

.borderimage #ourMuseums article ul .graves, .borderimage #ourMuseums article ul .bishops {
	border: none;
	border-width: 1px 0 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
}

#ourMuseums article ul .millennium, #ourMuseums article ul .graves { margin-right: 5%; }

#ourMuseums aside {
	width: 27.8%;
	float: right;
	background: #EFF2F3;
	padding: 1%;
}

#ourMuseums aside img { display: block; margin-bottom: 0.8em; }
#ourMuseums aside h2 { font-size: 1.15em; }

/* Venue hire */
#venueHireLinks { list-style: none; margin: 1.5em 0 0; padding: 0; }
#venueHireLinks li {
	width: 33%;
	display: inline-block;
}

#venueHireLinks h2 {
	font-size: 1.2em;
	color: #8e9090
	margin-bottom: 0.5em;
}

#venueHireLinks img {
	display: block;
	padding-bottom: 1px;
	border-bottom: 5px solid #a2a3a4;
	margin-bottom: 1em;
}

#venueHireLinks li a p { color: #666; }

/* Collections */
#collectionsLanding {
	list-style: none;
	margin: 1em 0 0; padding: 0;
}

#collectionsLanding h2 {
	font-size: 1.2em;
	color: #48e9090;
	margin-bottom: 0.5em;
}

#collectionsLanding li {
	display: inline-block;
	width: 31%;
	vertical-align: top;
	margin-bottom: 2em;
	padding: 7px 0 15px;
}

.borderimage #collectionsLanding li {
	border: none;
	border-width: 1px 0 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
}

#collectionsLanding li a {
	color: #666;
	display: block;
}

#collectionsLanding li a:hover {
	text-decoration: none;
	background: #ECF0F1;
}

#collectionsLanding li a:hover h2 { text-decoration: underline; }

#collectionsLanding li img {
	display: block;
	border-bottom: 5px solid #a2a3a4;
	padding-bottom: 1px;
	margin-bottom: 1em;
}

#collectionsLanding li:nth-child(3n-1) { margin: 0 2.9%; }
#collectionsLanding .ruskin-collection, #collectionsLanding .grice-collection-of-chinese-ivories,
	#collectionsLanding .social-history {
	margin: 0 2.9%;
}

h1 + #collectionsSearch { margin-top: -23px; } /* Cancel out H1's bottom margin */
#collectionsSearch {
	background: #ECF0F1;
	margin-bottom: 23px;
	padding: 11px 13px 8px;
	border-bottom: 1px dotted #666;
}

.borderimage #collectionsSearch {
	border: none;
	border-width: 0 0 1px;
	border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
}

#collectionsSearch legend { display: none; }
#collectionsSearch fieldset { padding: 0; margin: 0; }
#collectionsSearch label {
	font-weight: bold;
	color: #8e9090;
}

#collections .scroller { width: 100%; overflow-x: hidden; white-space: nowrap; margin: 0 0 2em 0; }
#collections .scroller .slides { margin: 0; }
#collections .scroller .slides li {
	display: inline-block;
	width: 46.7%;
	padding-right: 3%;
	margin-right: 3%;
	vertical-align: top;
	white-space: normal;
	background: url(../images/bg-dotdash-white.png) repeat-y right top;
}

#collections .scroller .pagination {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding-top: 7px;
	min-height: 30px;
}

#collections .scroller .pagination .previous, #collections .scroller .pagination .next {
	width: 15px; height: 23px;
	background: url(../images/bg-pagination.png) no-repeat 0 -177px;
	float: left;
	text-indent: -999em;
}

#collections .scroller .pagination .next {
	background-position: 0 -223px;
	float: right;
}

#collections .scroller .pagination .previous:hover { background-position: 0 -154px; }
#collections .scroller .pagination .next:hover { background-position: 0 -200px; }

#collections .scroller .pagination li {
	width: 11px; height: 11px;
	background: url(../images/bg-pagination.png) no-repeat 0 -257px;
	text-indent: -999em;
	margin: 8px 3px 0;
}

.borderradius #collections .scroller .pagination li {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #CCC;
}

#collections .scroller .pagination li.on { background-position: 0 -246px; }
.borderradius #collections .scroller .pagination li.on { background: #669933 }
#collections .scroller h3 {
	line-height: 1.1;	
}

#collectionsFilters {
	background: #ECF0F1;
	padding: 17px;	
}
#collectionsFilters h2 {
	font-size: 1.2em;
    margin-bottom: 0.4em;
}
#collectionsFilters label {
	display: block;
	margin: 0.75em 0;
}
#collectionsFilters label select,
#collectionsFilters label input {
	display: block;	
}

.searchResultTable img {
	max-width: none;	
}

#collections .pagination { margin: 20px 0;	 }

#collections .paginationLinks {
	margin: 10px 0 20px;
	padding: 0;
	overflow: hidden;	
}

#collections .paginationLinks li {
	list-style: none;
	padding: 0;
	margin: 0 2px 2px 0;
	float: left;
}

#collections .paginationLinks li.currentPage {
	padding: 2px 6px;
	border: 1px solid #fff;	
}

#collections .paginationLinks li a {
	padding: 2px 6px;
	border: 1px dotted;
	display: block;
	background: #efefef;
}

.searchResultTable td {
	padding: 5px;	
}
.searchResultTable td.image {
	padding-left: 0;
}
.searchResultTable a {
	font-weight: bold;	
}

/* Exhibitions landing */
#exhibitions #sidebarRight {
	/*background: #CC1D28;*/
	color: #FFF;
	padding-bottom: 1em;
}

#exhibitions #sidebarRight div { padding: 16px; }
#exhibitions #sidebarRight div a { color: #FFF; text-decoration: underline; }

#exhibitions #sidebarRight nav {
	background: #90141E;
	padding: 16px 0 16px;
	margin-bottom: 0;
}

#exhibitions #sidebarRight nav a { color: #FFF; }

#exhibitions #sidebarRight nav li {
	border-top: 1px dotted #C88A8F;
	padding: 0.7em 16px;
}

#exhibitions #sidebarRight nav li:first-child { border-top: none; }

#exhibitions #sidebarRight nav h2, #exhibitions #sidebarRight nav .more {
	color: #FFF;
	margin: 0;
	padding: 0 16px;
}

#exhibitions #sidebarRight nav .more a { text-decoration: underline; }

#exhibitions article { position: relative; }
#exhibitions h1 { position: absolute; left: 0; top: 0; width: 80%; }

#exhibitions article nav {
	border-bottom: 1px solid #CCC;
	font-size: 1.1em;
	text-align: right;
	position: relative;
	margin-bottom: 2em;
}

#exhibitions article nav li {
	display: inline-block;
	border-left: 3px solid #FFF;
}

#exhibitions article nav li:first-child { border-left: 12px solid #FFF; }

#exhibitions article nav a {
	display: inline-block;
	padding: 1.25em 0.8em;
	color: #666;
	border-top: 1px solid #FFF;
	background-color: #E5E5E5;
	background-image: -moz-linear-gradient(top, #E5E5E5, #E5E5E5 77.6%, #CDCDCD);
	background-image: -webkit-linear-gradient(top, #E5E5E5, #E5E5E5 77.6%, #CDCDCD);
}

#exhibitions article nav .current a {
	background: #FFF;
	border: 1px solid #CCC;
	border-bottom-color: #FFF;
	margin-bottom: -1px;
}

#exhibitions article h2 { display: none; } /* For sectioning, not display */

#exhibitions .scroller { width: 100%; overflow-x: hidden; white-space: nowrap; }
#exhibitions .scroller .slides li {
	display: inline-block;
	width: 47%;
	padding-right: 6%;
	vertical-align: top;
	white-space: normal;
	background: url(../images/bg-dotdash-white.png) repeat-y 94.5% top;
}

#exhibitions .scroller .slides li img {
	display: block;
	border-bottom: 5px solid #CC1D28;
	padding-bottom: 1px;
	margin-bottom: 1em;
}

#exhibitions .scroller .slides li a { color: #666; display: block; }
#exhibitions .scroller .slides li a:hover { text-decoration: none; }
#exhibitions .scroller .slides li a h3 { color: #CC1D28; margin-bottom: 0.3em; }
#exhibitions .scroller .slides li a:hover h3 { text-decoration: underline; }
#exhibitions .scroller .slides li a h4 { color: #333; margin-bottom: 0.8em; }

#exhibitions .scroller h3 { font: bold 1.55em "FunctionPro", Futura, Helvetica, Arial, sans-serif; }

#exhibitions .scroller .pagination {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding-top: 7px;
	min-height: 38px;
}

#exhibitions .scroller .pagination .previous, #exhibitions .scroller .pagination .next {
	width: 21px; height: 31px;
	background: url(../images/bg-pagination.png) no-repeat -21px 0;
	float: left;
	text-indent: -999em;
}

#exhibitions .scroller .pagination .next {
	background-position: -21px -31px;
	float: right;
}

#exhibitions .scroller .pagination .previous:hover { background-position: -21px -62px; }
#exhibitions .scroller .pagination .next:hover { background-position: -21px -93px; }

#exhibitions .scroller .pagination li {
	width: 15px; height: 15px;
	background: url(../images/bg-pagination.png) no-repeat -21px -310px;
	text-indent: -999em;
	margin: 8px 3px 0;
}

.borderradius #exhibitions .scroller .pagination li {
	border: none;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #CCC;
}

#exhibitions .scroller .pagination li.on { background-position: -21px -325px; }
.borderradius #exhibitions .scroller .pagination li.on { background: #CC1D28; }

/* Exhibition */
#exhibition #furtherDetails {
	background: #CC1D28;
	color: #FFF;
	padding: 16px;
	margin-bottom: 25px;
	font-size: 1.1em;
}

#exhibition #furtherDetails h5 { margin-bottom: 0.4em; }
#exhibition #furtherDetails a { color: #FFF; text-decoration: underline; }

#exhibition #sidebarRight .feature { margin-bottom: 25px; }

.exhibitionImage { position: relative; overflow: hidden; }
.exhibitionImage img { display: block; }
.exhibitionImage .caption { width: 100%; }

.exhibitionDetails {
	background: #666;
	font-size: 1.3em;
	padding: 6px 13px;
	margin: 10px 0;	
	color: #FFF;
}

#exhibition #relatedEvents {
	background: #FAE8E9;
	padding: 16px;
}

#exhibition #relatedEvents h5 {
	color: #666;
	font-size: 1.1em;
	padding-bottom: 0.8em;
	border-bottom: 1px dotted #999;
}

#exhibition #relatedEvents li {
	font-size: 1.05em;
	border-bottom: 1px dotted #999;
	padding: 0.6em 0;
	line-height: 1.4;
}

#exhibition #relatedEvents li .date { color: #666; }

#exhibition article .scroller { margin-bottom: 1.2em; }

#exhibition article p { margin-bottom: 1.2em; }
#exhibition article h2 {
	color: #333;
	font-size: 1.55em;
	margin-bottom: 0.5em;
}

#exhibition article p.introText {
	font-size: 14px;
	font-weight: bold;
}

/* Blog */
#blog { padding-bottom: 3em; }

#blog > h1 {
	background: #a2a3a4;
	width: 71.3%;
	padding: 0.7% 1.4% 0.4%;
	float: left;
	color: #FFF;
	font-size: 1.9em;
	margin-bottom: 0.4em;
}

#blog #postList {
	width: 74.1%;
}

#blog article {
	padding-left: 4em;
	position: relative;
	clear: left;
	padding-bottom: 3em;
}

#blog > article, #comments {
	padding-left: 4em;
	margin-right: 25.9%;
}

#blog article h1 {
	font-size: 1.55em;
	margin-bottom: 0.3em;
	background: none;
	padding: 0;
}

#blog article h2 {
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

#blog article .calendar { position: absolute; top: 3px; left: 1.4%; }

#blog article .meta {
	border-top: 1px dotted #5B5447;
	border-bottom: 1px dotted #5B5447;
	padding: 1em 0;
	text-align: right;
	font-size: 1.1em;
	margin-top: 2em;
}

#blog article .meta .tags { float: left; }
#blog article .meta .tags a {
	display: inline-block;
	background: #ADADAD;
	color: #FFF;
	font-size: 0.85em;
	padding: 0.3em 0.4em 0.2em;
	margin-right: 0.3em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#blog .pagination {
	margin-left: 6.9%;
	font-size: 0.9em;
}

#blog .pagination li { display: inline; }

#blog .pagination a {
	display: inline-block;
	padding: 0.1em 0.2em;
}

#blog .pagination a.active {
	background: #8e9090;
	color: #FFF;
}

#blog .withImage .r { float: right; margin-left: 1.5em; }
#blog .withImage .intro { min-height: 150px; }
#blog article .readMore { display: block; margin: 0.5em 0 1em; }

#blog .featureImage { text-align: center; margin-bottom: 1.5em; }

/* Comments */
#comments h3 { font-size: 1.5em; margin-bottom: 1em; }
#comments li .meta { font-style: italic; margin-bottom: 0.3em }
#comments li {
	border-bottom: 1px dotted #666;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#comments ol { margin-bottom: 3em; }

#addComment {
	font-size: 1.05em;
	line-height: 1.2;
	color: #666;
}

#addComment .details {
	float: left;
	margin-right: 23px;
	width: 35%;
}

#addComment .message {
	margin-left: 40%;
}

#addComment .allowedTags {
	float: left;
	margin-top: -2em;
}

#addComment input, #addComment textarea {
	border: none;
	border-top: 1px solid #ABABAB;
	border-left: 1px solid #ABABAB;
	background: #F5F5F5;
	font-size: 1em; 
	line-height: 1.2;
	color: #666;
	width: 100%;
}

#addComment legend {
	font-size: 1.1em;
	font-weight: bold;
	color: #666;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

#addComment input[type=checkbox] { width: auto; }

#addComment p {
	position: relative;
	margin-bottom: 0.8em;
}

#addComment .indent label {
	width: 8em;
	position: absolute;
	left: -8.5em;
	text-align: right;
	padding: 0.2em 0.5em 0 0;
}

.buttons { text-align: right; }

/* Right sidebar */
#sidebarRight {
	width: 22.2%;
	float: right;
	padding-bottom: 2em;
}

#sidebarRight .linksList {
	list-style: none;
	background: #ECF0F1;
}

#sidebarRight .linksList li {
	border-top: 1px dotted #666;
}

#sidebarRight .linksList li:first-child { border-top: none; }

#sidebarRight .linksList li a {
	display: block;
	padding: 17px;
}

#sidebarRight .linksList li a:hover {
	text-decoration: none;
	background: #DBE2E4;
}

#sidebarRight .linksList h2 { font-size: 1.2em; margin-bottom: 0.4em; }
#sidebarRight .linksList p { color: #666; }

#sidebarRight nav {
	background: #EFF2F3;
	padding: 18px;
	margin-bottom: 33px;
}

#sidebarRight nav h2 {
	font-size: 1.4em;
	color: #8e9090;
	margin-bottom: 1em;
}

#sidebarRight nav h3 {
	margin-bottom: 0.6em;
}

#sidebarRight nav .categories, #sidebarRight nav .authors {
	border-bottom: 1px dotted #5B5447;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#sidebarRight nav .categories li { margin-bottom: 0.6em; }

#sidebarRight nav .authors li { margin-bottom: 0.4em; }
/*#sidebarRight nav .authors a span {
	display: inline-block;
	width: 21px; height: 21px;
	background: #a2a3a4;
	vertical-align: -6px;
}*/
#sidebarRight nav .authors a span { display: none; }

#sidebarRight nav .authors .postCount { font-size: 0.85em; margin-left: 0.8em; }

#sidebarRight nav .tags { line-height: 1; font-size: 0.9em; }
#sidebarRight nav .tags li { display: inline-block; margin: 0 0 2px 0; }
#sidebarRight nav .authors .postCount, #sidebarRight nav .tags li a {
	display: inline-block;
	background: #AAABAB;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #FFF;
	padding: 0.2em 0.5em;
}

#sidebarRight nav .tags li a { padding: 0.5em; }
#sidebarRight nav .tags li a:hover,
#sidebarRight nav .authors a.postCount:hover {
	text-decoration: none;
	background: #818181;
}

#sidebarRight .twitter {
	padding: 15px 15px 75px;
	margin-bottom: 21px;
	background: #F5F5F5 url(../images/bg-blog-twitterbird.png) no-repeat right bottom;
}

#sidebarRight .twitter li { margin-bottom: 1.5em; }
#sidebarRight .twitter li:last-of-type { margin-bottom: 0; }

#sidebarRight .twitter .date { font-size: 0.95em; font-style: italic; }

#sidebarRight .venueInfo {
	background: #CC1D28;
	padding: 16px;
	color: #FFF;
	font-size: 1.1em;
}

#sidebarRight .venueInfo a { color: #FFF; text-decoration: underline; }

#sidebarRight .venueInfo dt {
	font-size: 1.15em;
	font-weight: bold;
}

#sidebarRight .venueInfo dd { margin-bottom: 1.15em; }

#joinAndSupportUs {
	display: block;
	padding: 11px 6px;
	background: #a2a3a4;
}

/* Learning / Workshops */
#learningLanding {
	list-style: none;
	margin: 0; padding: 0;
}

#learningLanding h2 {
	font-size: 20px;
	color: #8e9090;
	margin-bottom: 0.5em;
}

#learningLanding li {
	display: inline-block;
	width: 47%;
	vertical-align: top;
	margin-bottom: 2em;
}

#learningLanding li a {
	color: #666;
	display: block;
}

#learningLanding li a:hover {
	text-decoration: none;
	background: #ECF0F1;
}

#learningLanding li a:hover h2 { text-decoration: underline; }

#learningLanding li img {
	display: block;
	border-bottom: 5px solid #a2a3a4;
	padding-bottom: 1px;
	margin-bottom: 1em;
}

#learningLanding .regular-family-activities, #learningLanding .universities {
	margin-left: 5.5%;
}

#workshops .searchResults { margin-top: 33px; }
#workshops .searchResults .findOutMore a {
	display: block;
	float: right;
	background: #EFF2F3;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.2em 0.6em;
}

#workshops .searchResults .findOutMore a:hover {
	background: #a2a3a4;
	color: #FFF/*#EFF2F3*/;
}

#workshop article .content { margin-right: 33%; }
#workshop article .mainImage img { border-bottom: none; padding-bottom: 0; }

/* Mailing list signup */
#subForm legend { display: none; }
#subForm label { display: block; font-weight: bold; }

#subForm ul { list-style: none; margin: 0 0 1.5em; padding: 0; }
#subForm ul label { font-weight: normal; }
#subForm ul li { margin-bottom: 0.3em; }
#subForm input[type=text] { width: 80%; }

/* Generic widgets */
/* Calendar */
.calendar { font-weight: bold; }
.calendar span {
	display: block;
	text-align: center;
	font-size: 0.7em;
	text-transform: uppercase;
	line-height: 1;
	color: #666;
}

.calendar .month {
	background: #666;
	color: #FFF;
	padding: 4px 0 1px;
	min-width: 2.8em;
}

.calendar .day {
	background: #FFF;
	border: 2px solid #666;
	padding: 2px 0 2px;
	font-size: 1.2em;
}

.calendar .year { padding-top: 3px; }

/* Scroller */
.js .scroller .slides {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.scroller .slides li {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

.scroller .pagination { text-align: center; margin-top: 15px; }
.scroller .pagination li {
	display: inline-block;
	cursor: pointer;
}

.scroller .pagination .previous, .scroller .pagination .next { cursor: pointer; }

/* Flickr */
.flickr {
	position: relative;
	overflow-x: hidden;
	white-space: nowrap;
}

.flickr li { display: inline-block; }

.flickr .previous, .flickr .next {
	background: #3C352C url(../images/bg-pagination.png) no-repeat 10px -276px;
	background-color: rgba(60, 53, 44, 0.7);
	width: 29px; height: 27px;
	position: absolute;
	top: 54px;
	border: none;
	text-indent: -999em;
	cursor: pointer;
}

.flickr .previous:hover, .flickr .next:hover {
	background-color: #3C352C;
}

.flickr .previous {
	left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

.flickr .next {
	background-position: 10px -303px;
	right: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
}

/* Shop strip */
#shopStrip {
	clear: both;
	margin-bottom: 40px;
}

#shopStrip div {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding-top: 10px;
	padding-bottom: 10px;
}

.borderimage #shopStrip div {
	border: none;
	border-width: 1px 0 1px 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 1 0 repeat repeat;
}

#shopStrip li {
	display: inline-block;
	vertical-align: top;
	width: 14%;
	margin-left: 2.2%;
	padding-left: 9%;
	position: relative;
}

#shopStrip li:first-child { margin-left: 0; }
#shopStrip li img { position: absolute; left: 0; top: 0;  }

#shopStrip h5 { font: 1.55em/1 "FunctionPro", Futura, Helvetica, Arial, sans-serif; margin-bottom: 0.4em; }
#shopStrip h6 { font-size: 1.05em; line-height: 1.1; }
#shopStrip .price { color: #666; }

#shopStrip li a:hover { text-decoration: none; }
#shopStrip li a:hover h6 { text-decoration: underline; }

/* Social media strip */
#socialMediaStrip {
	clear: both;
	background: #F0F0F0;
	padding-top: 34px;
	padding-bottom: 25px;
	margin-bottom: -2.2em;
}

#socialMediaStrip .twitter, #socialMediaStrip .flickr {
	float: right;
	width: 21%;
}

#socialMediaStrip .twitter {
	background: #FFF url(../images/img-twitterbird.png) no-repeat right bottom;
	padding: 12px 1% 60px;
	width: 20%;
}

#socialMediaStrip .twitter .date { font-style: italic; font-size: 0.95em; }

#socialMediaStrip .flickr {
	background: #FFF;
	margin-right: 4%;
}

#socialMediaStrip .flickr .more {
	display: block;
	text-align: right;
	padding: 8px 7px;
}

#socialMediaStrip .blog { width: 48%; }

#socialMediaStrip .blog li {
	position: relative;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FFF;
	padding: 17px 0 17px 40px;
}

#socialMediaStrip .blog li:first-child { border-top: none; padding-top: 0; }
#socialMediaStrip .blog li:first-child .calendar { top: 2px; }
#socialMediaStrip .blog li:last-child { border-bottom: none; }

#socialMediaStrip .blog li a { color: #666; text-decoration: none; }
#socialMediaStrip .blog li a h6 { color: #a2a3a4; margin-bottom: 0.4em; font-size: 1.1em; }
#socialMediaStrip .blog li a:hover h6 { text-decoration: underline; }

#socialMediaStrip .blog .calendar { position: absolute; left: 0; top: 19px; }

/* Homepage */
/* Scroller */
#scroller {
	background: #b0b1b1;
	margin: 41px 0 0 0;
	position: relative;
}

#scroller .slides li {
	width: 30.9%; /* 352px */
	min-height: 235px;
	font-size: 1.35em;
	line-height: 1;
	padding: 0 1.3%;
	border-right: 1px dotted #FFF;
}

.js #scroller .slides li {
	width: 31.7%;
	padding: 0 2.6% 0 0;
	border-right: none;
	background: url(../images/bg-dotdash-white-bluebg.png) repeat-y 95% 0;
}

#scroller li .dateTime { font-size: 0.8em; }
#scroller li a {
	color: #FFF;
	display: block;
	height: 100%;
}

#scroller li a:hover { background: #aaabab; text-decoration: none; }
#scroller li a:hover strong { text-decoration: underline; }

#scroller li img {
	display: block;
	padding-bottom: 1px;
	margin-bottom: 1em;
}

#scroller li[class] img {
	border: none;
	border-bottom: 5px solid #FFF;
}

#scroller .pagination li {
	width: 14px; height: 15px;
	background: url(../images/bg-pagination.png) no-repeat 20 -370px;
	text-indent: -999em;
	margin: 12px 7px 0 0;
}

#scroller .pagination li.on { background-position: 0 -124px; }

.borderradius #scroller .pagination li {
	border: none;
	height: 14px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #693;
}
.borderradius #scroller .pagination li.on { background: #FFF; }

#scroller .pagination .previous, #scroller .pagination .next {
	width: 21px; height: 31px;
	background: url(../images/bg-pagination.png) no-repeat 0 0;
	text-indent: -999em;
}

#scroller .pagination .previous { float: left; }
#scroller .pagination .next { float: right; background-position: 0 -62px; }

#scroller .pagination .previous:hover { background-position: 0 -31px; }
#scroller .pagination .next:hover { background-position: 0 -93px; }

#homepage {
	padding-top: 45px;
	background: #FFF url(../images/bg-page.png) repeat-x 0 0;
	background: -moz-linear-gradient(top, #C5C5C5, #FFF 11px);
	background: -webkit-linear-gradient(top, #C5C5C5, #FFF 11px);
}

#homepage article > h1 { display: none; }

#homepage h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	color: #a2a3a4;
	margin-bottom: 0.6em;
	background: transparent;
	padding: 0;
}

#homepage h1 a { color: #a2a3a4; }

#homepage #ourMuseums {
	width: 48%; /* 548px */
	float: left;
	margin-bottom: 2em;
}

#homepage #ourMuseums h2 {
	font-size: 1.15em;
	margin-bottom: 0.4em;
	color: #a2a3a4;
}

#homepage #ourMuseums li {
	width: 46%; /* 252px */
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	border-top: 1px dotted #999;
}

.borderimage #homepage #ourMuseums li {
	border: none;
	border-width: 1px 0 0 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
}

#homepage #ourMuseums li a {
	color: #666;
	display: block;
	padding: 0 0 20px;
}
#homepage #ourMuseums li a:hover { background: #ECF0F1; text-decoration: none; }
#homepage #ourMuseums li a:hover h2 { text-decoration: underline; }

#homepage #ourMuseums li img {
	border: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	padding-bottom: 1px;
	display: block;
	margin-bottom: 13px;
}

#homepage #ourMuseums .weston, #homepage #ourMuseums .bishops {
	margin-left: 7%;
}

#homepage #ourMuseums li.millennium, #homepage #ourMuseums li.weston {
	border: none;
	border-width: 0;
	padding-top: 0;
}

#homepage #ourMuseums .millennium img { border-color: #CC1D28; }
#homepage #ourMuseums .graves img { border-color: #39C; }
#homepage #ourMuseums .weston img { border-color: #6E4499; }
#homepage #ourMuseums .bishops img { border-color: #693; }

#homepage #links {
	float: right;
	width: 22%;
	background: #ECF0F1;
}

#homepage #links li {
	border-top: 1px dotted #666;
}

#homepage #links li a {
	display: block;
	padding: 17px;
}

#homepage #links li a:hover {
	text-decoration: none;
	background: #DBE2E4;
}

#homepage #links li a:hover h2 { text-decoration: underline; }

.borderimage #homepage #links li {
	border: none;
	border-width: 1px 0 0 0;
	border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
}

#homepage #links li:first-child, .borderimage #homepage #links li:first-child { border: none; border-width: 0; }

#homepage #links h2 { font-size: 1.4em; font-family: "FunctionPro", Futura, Helvetica, Arial, sans-serif;  }
#homepage #links p { color: #666; }

#homepage #events { margin: 0 0 0 60%; }
#homepage #events ul { margin-bottom: 0.5em; }
#homepage #events li { border-bottom: 1px dotted #999; }
#homepage #events li:last-of-type { border-bottom: none; }

#homepage #events li a {
	display: block;
	padding: 15px 0;
}

#homepage #events li a:hover {
	text-decoration: none;
	background: #ECF0F1;
}

#homepage #events li a:hover h2 { text-decoration: underline; }

#homepage #events h2 {
	font-size: 1.1em;
	margin-bottom: 0.2em;
}

#homepage #events .dateTime { color: #666; }

/* Venue homepage */
#venueHomepage { padding-bottom: 55px; }
#venueHomepage h1 { display: none; }

#venueHomepage aside {
	float: right;
	width: 22.2%;
	color: #FFF;
}

#venueHomepage aside div { padding: 15px; font-size: 1.1em; }
#venueHomepage aside a { color: #FFF; text-decoration: underline; }

#venueHomepage aside nav li a {
	display: block;
	font-size: 1.15em;
	border-bottom: 1px dotted #FFF;
	padding: 12px 15px;
}

#venueHomepage aside nav li:last-child a { border-bottom: none; }

#venueHomepage #intro {
	width: 74%;
	margin-bottom: 29px;
	line-height: 0;
	text-align: right;
}

#venueHomepage #intro div {
	color: #FFF;
	line-height: 1.4;
	text-align: center;
	padding-top: 15px;
	float: left;
	padding-left: 1%;
	width: 24%;
}

#venueHomepage #intro > img { width: 74%; }

#venueHomepage .column {
	display: inline-block;
	width: 22.2%;
	vertical-align: top;
	margin-right: 3.4%;
}

#venueHomepage .column img {
	display: block;
	border-bottom: 5px solid #a2a3a4;
	padding-bottom: 1px;
	margin-bottom: 12px;
}

#venueHomepage .column h2 {
	font: bold 1.55em "FunctionPro", Futura, Helvetica, Arial, sans-serif;
	margin-bottom: 0.3em;
}

#venueHomepage .borderedList h2 { display: block; }
#venueHomepage .borderedList li {
	border-bottom: 1px dotted #999;
}

.borderimage #venueHomepage .borderedList li {
	border: none;
	border-width: 0 0 1px;
	border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-moz-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
	-webkit-border-image: url(../images/bg-dottedborder.png) 0 0 1 0 repeat repeat;
}

#venueHomepage .borderedList li a { display: block; padding: 0.6em 0; }

#venueHomepage .borderedList li:first-child h3 { font-size: 1.2em; }
#venueHomepage .borderedList li:first-child a { padding-bottom: 1.2em; padding-top: 0; }
#venueHomepage .borderedList li a .dateTime { color: #666; }

#venueHomepage .borderedList li a:hover { text-decoration: none; }
#venueHomepage .borderedList li a:hover h3 { text-decoration: underline; }

#venueHomepage #planningAVisit li {
	margin: 0.75em 0;	
}

/* Venue specific */
.millennium header nav a, .weston header nav a, .graves header nav a, .bishops header nav a { color: #666; }
.millennium header nav li, .weston header nav li, .graves header nav li, .bishops header nav li { margin-left: 4.8em; }
.millennium #whatsOn #filter, .weston #whatsOn #filter, .graves #whatsOn #filter, .bishops #whatsOn #filter { background: #EDEDED; }

/* Millennium */
.millennium a,
	td.millennium,
	.millennium #socialMediaStrip .blog li h6,
	.millennium #venueHomepage .column h2,
	.millennium #whatsOn #filter h2,
	.millennium header nav li.on a { color: #CC1D28; }

.millennium h1,
	.millennium #venueHomepage #intro,
	.borderradius .millennium #exhibitions .scroller .pagination li.on,
	.millennium #venueHomepage aside,
	.millennium #joinAndSupportUs { background-color: #CC1D28; }
.millennium #sidebarLeft .active > a { background-color: #CC1D28; }
 
.millennium #venueHomepage .column img,
	#scroller li.millennium img,
	#whatsOn .scroller .slides li.millennium img,
	.millennium .content .mainImage { border-color: #CC1D28; }
 
.millennium #venueHomepage aside ul { background-color: #90141E; }

.millennium #exhibitions .scroller li a:hover,
	.millennium #venueHomepage .borderedList li a:hover { background-color: #FAE8E9; }

/* Weston Park */
.weston a,
	td.weston,
	.weston #socialMediaStrip .blog li h6,
	.weston #venueHomepage .column h2,
	.weston #whatsOn #filter h2,
	.weston header nav li.on a,
	.weston #exhibitions .scroller .slides li a h3 { color: #6E4499; }

.weston h1,
	.weston #venueHomepage #intro,
	.weston #venueHomepage aside,
	.borderradius .weston #exhibitions .scroller .pagination li.on,
	.weston #sidebarRight .venueInfo,
	.weston #joinAndSupportUs { background-color: #6E4499; }
.weston #sidebarLeft .active > a { background-color: #6E4499; }

.weston #venueHomepage .column img,
	#scroller li.weston img,
	#whatsOn .scroller .slides li.weston img,
	.weston #exhibitions .scroller .slides li img,
	.weston .content .mainImage { border-color: #71b81a; }

.weston #venueHomepage aside ul,
	.weston #exhibitions #sidebarRight nav { background-color: #4F3170; }
	
.weston #exhibitions .scroller li a:hover,
	.weston #venueHomepage .borderedList li a:hover,
	.weston #exhibition #relatedEvents { background-color: #F0ECF5; }

.weston #exhibitions .scroller .pagination .previous:hover { background-position: -21px -186px; }
.weston #exhibitions .scroller .pagination .next:hover { background-position: -21px -217px; }
.weston #exhibitions .scroller .pagination li.on { background-position: -21px -355px; }

/* Graves */
.graves a,
	td.graves,
	.graves #socialMediaStrip .blog li h6,
	.graves #venueHomepage .column h2,
	.graves #whatsOn #filter h2,
	.graves header nav li.on a,
	.graves #exhibitions .scroller .slides li a h3 { color: #39C; }

.graves h1,
	.graves #venueHomepage #intro,
	.graves #venueHomepage aside,
	.borderradius .graves #exhibitions .scroller .pagination li.on,
	.graves #sidebarRight .venueInfo,
	.graves #joinAndSupportUs { background-color: #39C; }
.graves #sidebarLeft .active > a { background-color: #39C; }

.graves #venueHomepage .column img,
	#scroller li.graves img,
	#whatsOn .scroller .slides li.graves img,
	.graves #exhibitions .scroller .slides li img,
	.graves .content .mainImage { border-color: #39C; }

.graves #venueHomepage aside ul,
	.graves #exhibitions #sidebarRight nav { background-color: #216A8E; }

.graves #exhibitions .scroller li a:hover,
	.graves #venueHomepage .borderedList li a:hover,
	.graves #exhibition #relatedEvents { background-color: #E1F0F7; }

.graves #exhibitions .scroller .pagination .previous:hover { background-position: -21px -124px; }
.graves #exhibitions .scroller .pagination .next:hover { background-position: -21px -155px; }
.graves #exhibitions .scroller .pagination li.on { background-position: -21px -340px; }

/* Bishops' House */
.bishops a,
	td.bishops,
	.bishops #socialMediaStrip .blog li h6,
	.bishops #venueHomepage .column h2,
	.bishops #whatsOn #filter h2,
	.bishops header nav li.on a,
	.bishops #exhibitions .scroller .slides li a h3 { color: #693; }

.bishops h1,
	.bishops #venueHomepage #intro,
	.bishops #venueHomepage aside,
	.borderradius .bishops #exhibitions .scroller .pagination li.on,
	.bishops #sidebarRight .venueInfo,
	.bishops #joinAndSupportUs { background-color: #693; }
.bishops #sidebarLeft .active > a { background-color: #693; }

.bishops #venueHomepage .column img,
	#scroller li.bishops img,
	#whatsOn .scroller .slides li.bishops img,
	.bishops #exhibitions .scroller .slides li img,
	.bishops .content .mainImage { border-color: #693; }

.bishops #venueHomepage aside ul,
	.bishops #exhibitions #sidebarRight nav { background-color: #416321; }
	
.bishops #exhibitions .scroller li a:hover,
	.bishops #venueHomepage .borderedList li a:hover,
	.bishops #exhibition #relatedEvents { background-color: #E8F0E1; }

.bishops #exhibitions .scroller .pagination .previous:hover { background-position: -21px -248px; }
.bishops #exhibitions .scroller .pagination .next:hover { background-position: -21px -279px; }
.bishops #exhibitions .scroller .pagination li.on { background-position: -21px -370px; }



/* Collections */
#collectionsItem #furtherDetails dt {
	font-weight: bold;
}
#collectionsItem #furtherDetails dd {
	margin: 0 0 1em 10px;
}


/* Smaller resolutions */
@media screen and (max-width: 1095px) {
	header nav { font-size: 1.15em; }
	header nav ul li { margin-left: 1em; }
}

/* Mobile */
@media handheld, only screen and (max-width: 599px) {
	/* Hide non-essential elements */
	#discoverMore, #shopStrip, #socialMediaStrip .flickr, #socialMediaStrip .twitter {
		display: none;
	}
	
	/* Header */
	header { height: auto; margin-bottom: 1.5em; }
	header nav {
		width: auto;
		position: static;
		text-align: left;
		line-height: 2;
		margin: 1em 0;
		text-align: justify;
	}
	
	header nav li, .millennium header nav li, .weston header nav li, .graves header nav li, .bishops header nav li { margin: 0 1.5em 0 0; }
	
	#logo { position: static; width: auto; }
	
	/* Footer */
	footer .socialMedia, footer .copyright {
		position: static;
		margin-top: 1.5em;
	}
	
	footer .copyright { text-align: left; }
	
	#sitemap { width: auto; }
	#sitemap > ul > li { width: 45.5%; min-height: 0; }
	
	/* Sidebar Left */
	#sidebarLeft { float: none; width: auto; padding-bottom: 1.5em; }
	
	.twoColumnLeft { margin-left: 0; }
	.twoColumnRight { margin-right: 0; }
	.threeColumn { margin: 0; }
	
	/* What's on */
	#whatsOn .scroller .slides li {
		display: block;
		width: auto;
		margin-bottom: 1.5em;
		padding-right: 0;
	}
	
	#whatsOn .seeAll {
		float: none;
		margin: 0;
		position: static;
		text-align: right;
		display: block;
		margin-bottom: 1.5em;
	}
	
	/* Events */
	#eventInfo { overflow: hidden; } /* Weird scrollbar */
	#eventInfo > img, #eventInfo > div {
		display: block;
		width: auto;
	}
	
	/* Our museums */
	#ourMuseums aside {
		float: none;
		width: auto;
		margin-bottom: 1.5em;
	}
	
	#ourMuseums article ul li {
		width: auto;
		margin-right: 0 !important;
		display: block;
	}
	
	#exhibitions h1 { position: static; width: auto; }
	#exhibitions article nav { text-align: left; }
	#exhibitions #sidebarRight { margin-bottom: 1.5em; }
	
	#exhibitions .scroller .slides li {
		display: block;
		padding-right: 0;
		margin: 0 0 1.5em;
		border: none;
		background: none;
	}
	
	/* Learning */
	#learningLanding li {
		display: block;
		width: auto;
		margin-left: 0 !important;
	}
	
	.searchResults .thumbnail { display: none; }
	
	/* Blog */
	#blog > h1 { width: auto; float: none; }
	#blog #postList { width: auto; }
	#blog > article, #comments { margin-right: 0; padding-left: 3em; }
	
	#sidebarRight { float: none; width: auto; }
	#sidebarRight .twitter, #sidebarRight .flickr { display: none; }
	
	/* Scroller */
	.pagination { display: none !important; } /* "disable" scrollers */
	
	.js .scroller .slides {
		width: auto;
		overflow: visible;
		white-space: normal;
	}
	
	.scroller .slides li {
		display: block;
		width: auto !important;
	}
	
	/* Social media strip */
	#socialMediaStrip .blog { width: auto; }
	
	/* Venue homepage */
	#venueHomepage aside { float: none; width: auto; margin-bottom: 1.5em; }
	#venueHomepage #intro { display: none; }
	#venueHomepage .column { width: auto; display: block; margin: 0 0 1.5em !important; }
	#venueHomepage .borderedList img { width: 100%; }
	
	/* Homepage */
	#scroller .slides li {
		border: none;
		height: auto;
		padding: 0 0 1em;
	}
	
	#homepage #ourMuseums, #homepage #links {
		float: none;
		width: auto;
		margin-bottom: 2em;
	}
	
	#homepage #ourMuseums li {
		display: block;
		width: auto;
		margin-left: 0 !important;
	}
	
	.borderimage #homepage #ourMuseums .weston {
		border: none;
		border-width: 1px 0 0 0;
		border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
		-moz-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
		-webkit-border-image: url(../images/bg-dottedborder.png) 1 0 0 0 repeat repeat;
		padding-top: 15px;
	}
	
	#homepage #events { margin: 0; }
}