@charset "utf-8";
/* CSS Document */


html {
    overflow:scroll;
}


body{margin:0; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}

a:link {
	color: #666;
}
a:visited {
	color: #999;
}
#lists li ul
{margin-top:-5px;
font-size:16px}

p{padding:0; margin:0}
#mainWrapper{width:1150px; margin:0 auto;}
#header{height:150px; position:relative}
#logo{position:absolute; top:20%}

#navigation{position:absolute; right:-9px; top:60%}
#navigation ul{list-style-type:none; padding:0; margin:0; position:relative; z-index:100}
#navigation ul li{float:left}
#navigation ul li a{text-decoration:none; color:#666585; padding:5px 10px; font-size:14px}
#navigation ul li a.current{color:#A1A4C7}

#sliderBar{background:#EEE; height:25px; width:60px; position:absolute; top:-3px; z-index:10}

#carouselContainer{height:335px}

#mainContainer{overflow:auto}
#leftPanel, #rightPanel{float:left}
#leftPanel{width:790px}
#rightPanel{width:355px}

#blogPosts ul{list-style-type:none; padding:0; margin:0}
#blogPosts ul li a{text-decoration:none; padding:7px 0; display:block; border-bottom:1px dotted #666666 }
#blogPosts ul li a h3{color:#A2A3A4;margin:0; padding:3px 0; font-size:12px}
#blogPosts ul li a:hover{background:#ECF0F1}
#blogPosts ul li a:hover h3{text-decoration:underline; }
#blogPosts ul li a p{color:#777; margin:0; padding:3px 0; }

#blogPosts h2{color:#A2A3A4;}


/* Content pages */

#titleBar{background:#EEE; padding:10px; color:#FFFFFF; margin-top: -25px;}

/* gallery pages */
/* #galleryContainerTemp{display:none}*/
#galleryContainer, #galleryContainerTemp{margin:10px auto 0 auto; width:1100px; overflow: hidden;
	 width:90% !important; display:none }
#galleryContainer div.images, #galleryContainerTemp div.images{float:left; margin:10px; position:relative; width:150px}
/*#galleryContainer div.images img.loading{position:absolute; top:20px; left:50px}
*/#galleryContainer div.images img, #galleryContainerTemp div.images img{-moz-box-shadow: 5px 5px 5px #ccc; -webkit-box-shadow: 5px 5px 5px #ccc; box-shadow: 5px 5px 5px #ccc;}

#galleryContainer div.images img.loading{-moz-box-shadow: 0px 0px 0px #FFF; -webkit-box-shadow: 5px 5px 5px #FFF; box-shadow: 5px 5px 5px #FFF;}

#galleryCover{width:100%; height:5000px; position:fixed; top:0; left:0; background:#FFFFFF; opacity:0.9; filter:alpha(opacity=90); display:none; z-index:1400}

#filters a, #filters a:hover{color:#999999}

.images p.cover, .slides li p.cover{ position:absolute; top:0; left:0; z-index:799; height:100%; width:100%; display:none; color:#FFFFFF !important }
.slides li p.cover{height:25%; top:240px; width:90%;}
.images p.text, .slides li p.text{color:#FFFFFF !important; position:absolute; bottom:3px; left:0; z-index:1800; padding:5px; text-align:center; width:92% !important; font-family:Arial, Helvetica, sans-serif; font-weight:bold; display:none; font-size:10pt !important}
.slides li p.text{width:90%}
.slides li{height:140px !important}

#imageDetail{position:absolute; border:0px solid #000000; top:200px; width:800px; display:none; height:520px; z-index:1500}
#imageLeftPanel, #imageRightPanel{float:left}
#imageLeftPanel{width:600px}
#imageRightPanel{width:200px; overflow:auto; height:100%}
#imageRightPanel img{}

#imageEnlarge{text-align:center; height:400px; overflow:hidden; position:relative}
#imageEnlarge img{ border:5px solid #999; position:absolute; top:0}
#imageText{margin:10px; height:100px; overflow:auto; font-weight:bold; line-height:18px; color:#999999}

.imageThumbs{float:left; width:80px; margin:5px;}
.imageThumbs img{border:1px solid #333333; height:50px}
.imageThumbs p{display:none}

#contentLeftPanel, #contentRightPanel{float:left; border:0px solid #333333; min-height:400px;}
#contentLeftPanel{margin:1px 0 0 0px}
#contentRightPanel{margin:1px 0 0 1px}
#contentLeftPanel{width:250px; border-right:1px solid #EEE}
#contentRightPanel{width: 897px; background:#EEE}
ul.contentNavigation{list-style-type:none; margin:0; padding:0}
ul.contentNavigation li a{padding:10px 10px; display:block; text-decoration:none; font-size:14px; color:#777; text-align:right; border-bottom:1px solid #8f8e8e;  }
/*ul.contentNavigation li a:hover{background:#DD092F; color:#FFF}*/

.currentMenuHighLighter{background:#DD092F !important;}
.currentMenuHighLighter a{color:#FFF }

#contentRightPanel .contentText{padding:0 20px 0 10px; line-height:18px; color:#555; margin-top:-3px; width:667px; float:left}
#contentRightPanel .contentText p{margin:13px 0}

/* Staff page in leadership.php */

#staffs{
	overflow:auto; 
	position:relative;
	/*width:700px;*/
	margin-top:20px
		}
#staffs .staff{
	float:left; 
	width:33%; 
	height:144px; 
	border:0px solid #333; 
	overflow:auto
	}
#staffs .staff img, #staffs .staff .shortDesc{
	float:left; 
	} 
#staffs .staff .shortDesc{
	width:120px
	}
#staffs .staff .shortDesc h3{
	padding:0; 
	margin:0; 
	font-size:12px;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif
	}
	
#staffs .staff .shortDesc a.readMore {
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif
}

#staffs .staff img{
	display:block !important; 
	margin-right:4px; 
	width:42%;}

.longDesc{
	display:none; 
	position:absolute; 
	top:0; left:0; 
	width:95%; 
	min-height:282px; 
	background:#FFF; 
	padding:0 10px; 
	overflow:auto}
	
.longDesc p{
	font-size: 11px;
	line-height: 17px;	
}



.longDesc .close{
	display:block; 
	text-align:right; 
	padding:5px 0px; 
	font-size:12px; 
	font-weight:bold; 
	text-decoration:none;
	position: absolute;
	top: 0;
	right: 13px;
	}


.contentText{text-align:left !important;
margin-left:10px}

#scroller{background:#B0B1B1 !important}

.slides img{border:none}

.quote {
	font-size: 18px;
	font-style: italic;
	color: #999;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 22px;
}


/* About Us Page */

		
.about_submenu{
				list-style-type:none;
				font-style:italic;
				padding:0px 0px 0px 0px
								}
.about_submenu li a{ 
				
				border-bottom-color:#DD092F !important
				 }
		
		
/* HOME PAGE */

/*body{ background:url(images/bg.jpg) repeat-x}*/
	.fadein { position:relative; width:537px; height:123px; }
	.fadein img { position:absolute; left:0; top:0; }
	/*.pagination ul{display:none}*/
	.pagination .previous{margin-left:-15px}
	.pagination .next{margin-right:-40px}
	
	/* gallery styles start*/
	/* Used in Example 3 */
	#example3 {display:none;}
	#example3 ul {list-style:none;}
	#example3 h3 {color:#fff;text-transform:uppercase;font-size:24px;}
	#example3 p {color:#000;}/*margin-top:310px; margin-left:10px;*/
	
	#example3 .frame-closed {border-left:#FFF solid 5px}
	/*#example3 .frame-content {width:360px;}*/
	#example3 ul li.frame.frame-open{ opacity:1; filter:alpha(opacity=100); border-left:#FFF solid 5px}
	#example3 ul li.frame.frame-open .frame-content p.horizontal{
		color:#fff; 
		/*padding-left:10px;*/
		padding-bottom:5px; 
		position:absolute; 
		/*bottom:0;*/
		left:0;
		font-size:20px;
	}
	
	#example3 ul li.frame.frame-open .frame-content p.horizontal .horizontal_text_Container{
		width:320px;
		background:#FFF;
		opacity:0.5;
		filter:alpha(opacity=50);
		color:#444 !important;
		padding:15px;
		margin-top:8px;
		position:absolute;
			
	}
	
	#example3 ul li.frame.frame-open .frame-content p.horizontal .horizontal_text_Container .clickHere{
		margin-top:20px;
		font-size:14px;
		display:inline-block;
		text-decoration:none;
	}
	
	#example3 ul li.frame.frame-open .frame-content p.vertical{visibility:hidden}
	/*#example3 .frame-open .frame-content{ margin-top:310px; margin-left:10px;}*/
	
	#example3 .frame-closed{
		background-color:#000;
	}
	
	#example3 .frame-closed .frame-content {
		width:inherit;
		height:inherit;
		background-color:#FFF;
		opacity:0.3;
		filter:alpha(opacity=30);
		position:relative;
	}/*display:none;*/
	
	#example3 .frame-closed .frame-content  p.vertical{
		-webkit-transform:rotate(270deg);
		-moz-transform: rotate(270deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
		writing-mode:lr-bt;
		text-align:left;
		/*width:200px;
		margin-top:240px;
		margin-left:-80px;
		font-size:14px; 
		font-family:Verdana, Geneva, sans-serif;
		*/
		margin-top: 207px !important;
		margin-left: -70px !important;
		width: 350px;
		font-size: 20px !important;
		font-family: Arial,Geneva !important;
		visibility:visible;
		font-weight:bold;
		position:absolute;
		top:0;
	}/*display:none;*/
	
	#example3 .frame-closed .frame-content  p.horizontal{
		visibility:hidden;	
	}

	.frame-3 .horizontal{color:black !important}
	.frame-2 .horizontal{color:black !important}
	.frame-5 .horizontal{color:black !important}
	.frame-6 .horizontal{color:black !important}
	.frame-13 .horizontal{color:black !important}

	#example3 .frame-open .frame-content {display:block;}
	/* gallery styles end */
	
	
	.tsc_social_square32 { display: inline-block; text-indent: -999em;height:32px; width:32px; text-decoration: none; padding:2px; vertical-align:middle; }
.tsc_social_square32:hover{ opacity:0.7; }
	

