.Center{
	text-align: center;
}

.TableSearch{
	width: 100%
}

.Padding5{
	padding: 5px;
}

.TableSearch td{
	border-bottom: 1px solid #D0D7E5;
	padding-bottom: 10px;
	padding-top: 10px;
}

#TSan_TongGiaTri #TSan_TongGiaTri_Name{
	font-weight: bold;
	font-size: 16px;
}

#TSan_TongGiaTri #TSan_TongGiaTri_Value{
	font-weight: bold;
	font-size: 16px;
	color:red;
}

.TSan_Bottom{
	float: left;
	width: 272px;
	border: 4px solid #C5C5C5;
	margin: 15px;
	padding: 5px;
}

#TSan_TieuDePage, .TSan_TieuDePage{
	margin: 28px;
	text-align: center;
	font-size: 28px;
	color: #1400FF;
}

.TSan_Vien{
	border: 2px solid #C5C5C5;
	margin: 0 5px 5px;
	padding: 5px;
}
.TSan_TDeDexuatmua{
	color: #24A8C9;
	font-weight: bold;
	font-size: 14px;
	margin: 10px 4px;
	border-bottom: 1px solid #C0CDE2;
}
.red{
	color:red;
}