<?php ?>
<!--<strong>■ <?php /*echo $this->Js->link( 'Thêm mới', '/congtrinhs_files/them/'.$congtrinh_id.'/'.$loai,
				array( 'update' => '#window_content',
					   'before' => '$("#loading").show()',
					   'success' => '$("#loading").hide();window_show();upload_iframe_window( "subcontent" )',
					   'title' => 'Thêm mới'
			) ); ?>
</strong>-->

<!--<center>
	<?php //echo $this->Form->create($model, array('id' => 'search_data') ); ?>

	<?php //echo $this->Form->input( 'Search.q', array( 'div' => false, 'style' => 'width:217px' ) ); ?>

	<?php /*echo $this->Js->submit( 'Tìm', array(
				'before' => '$("#loading").show()',
				'class' => 'Button',
				'update' => '#subcontent',
				'success' => '$("#loading").hide()',
				'div' => false
			));*/
	?>

	<?php //echo $this->Form->end(); ?>
</center>-->

	<div style="margin-left: 17px; margin-top: 10px;">
			<h2  style="margin-bottom: 8px;">Tìm kiếm file của công trình</h2>
			<em>Để tìm bản vẽ hãy nhập những thông số cần tìm</em>
			<?php if(isset($tam) && $tam == 0){}else{?>

			<?php echo $this->Js->link( 'Thêm mới', '/congtrinhs_files/them/'.$congtrinh_id.'/'.$loai,
					array( 'update' => '#window_content',
							'class' => '_517h _4jy3 _42fr _42fs _59pe _42ft img _4jy0' ,
						   'before' => '$("#loading").show()',
						   'success' => '$("#loading").hide();window_show();', // upload_iframe_window( "subcontent" )
						   'title' => 'Thêm mới',
						   'style' => 'margin-bottom: 11px;'
				) ); ?>
			<?php }?>
	</div>
	<hr class="fbCalendarHeaderBorder">
	<?php echo $this->Form->create($model, array('id' => 'search_data') ); ?>
	<div style="display:none;"><input type="hidden" value="PUT" name="_method"></div>
	<div style="float: left; margin-left: 17px; margin-top: 6px; width: 180px;">
		<?php if($loai =='congvan' || $loai == 'congvandi' || $loai =='congvanden'){?>
		<div>
			<span class="title">SỐ CÔNG VĂN</span><br>
			<?php echo $this->Form->input( 'Search.maso', array( 'div' => false,'autocomplete'=>'off','placeholder'=>'Nhập tiêu đề','aria-autocomplete'=>'list', 'aria-expanded'=>'false', 'style' => 'font-size: 11px; height: 25px;width: 180px;' ) ); ?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%;">
		</div>
		<?php }?>
		<div>
			<span class="title">TIÊU ĐỀ</span><br>
			<?php echo $this->Form->input( 'Search.tieude', array( 'div' => false,'autocomplete'=>'off','placeholder'=>'Nhập tiêu đề','aria-autocomplete'=>'list', 'aria-expanded'=>'false', 'style' => 'font-size: 11px; height: 25px;width: 180px;' ) ); ?>

			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%;">
		</div>
		<div>
			<span  class="title">NỘI DUNG</span><br>
			<?php echo $this->Form->input('Search.mota', array('div' => false,'rows' => 2, 'cols' => 25,'autocomplete'=>'off','placeholder'=>'Nhập nội dung','aria-autocomplete'=>'list', 'aria-expanded'=>'false', 'style' => 'font-size: 12px; width: 180px;'));?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%; height:1px;">
		</div>
		<div>
			<span  class="title">NGÀY UPFILE TỪ</span><br>
			<?php echo $this->Form->input('Search.date_tmp_tu', array("id" => "date_input",'placeholder'=>'Chọn ngày từ', "style" => "width:143px ;float:left;font-size: 11px;", 'div' => false));?>
				<?php echo $this->element("img_pop_calendar"); ?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%; height:1px;">
		</div>
		<div>
			<span  class="title">NGÀY UPFILE ĐẾN</span><br>
			<?php echo $this->Form->input('Search.date_tmp_den', array("id" => "date_output",'placeholder'=>'Chọn ngày đến', "style" => "width:143px;float:left;font-size: 11px;", 'div' => false));?>
				<?php echo $this->element("img_pop_calendar"); ?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%;height:0.5px;">
		</div>
		<div>
			<span  class="title">NGƯỜI UPFILE</span><br>
			<?php echo $this->Form->input( 'Search.nguoitao', array( 'div' => false,'autocomplete'=>'off','placeholder'=>'Nhập tên người upfile','aria-autocomplete'=>'list', 'aria-expanded'=>'false', 'style' => 'font-size: 12px; height: 25px;width: 180px;' ) ); ?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%;">
		</div>
		<div>
			<span  class="title">TÊN FILE</span><br>
			<?php echo $this->Form->input( 'Search.tenfile', array( 'div' => false,'autocomplete'=>'off','placeholder'=>'Nhập tên file','aria-autocomplete'=>'list', 'aria-expanded'=>'false', 'style' => 'font-size: 12px; height: 25px;width: 180px;' ) ); ?>
			<hr style="background-color: rgb(196, 205, 224);margin-top: 11px;width: 100%;">
		</div>

	<?php echo $this->Js->submit( 'Tìm Kiếm', array(
				'before' => '$("#loading").show()',
				'class' => 'Button',
				'update' => '#subcontent',
				'style' => 'float: right; margin-top: 7px; padding-left: 5px; padding-right: 5px;',
				'success' => '$("#loading").hide()',
				'div' => false
			));
	?>
	</div>
<?php echo $this->Form->end(); ?>

<div  style="margin-left: 215px;min-height: 445px;">
	<?php echo $this->Session->flash(); ?>
<?php

	$STT = 1;
	if( $this->request->params['paging'][$model]['page'] > 1 )
	{
		$STT = ($this->request->params['paging'][$model]['page']-1)*$this->request->params['paging'][$model]['limit'] + 1;
	}

	foreach( $datas as $data){ ?>

	<div class="item ContainLinkHoverXoa" id="<?php echo $model;?>_<?php echo $data[$model]['id']; ?>">
		<div style="float:left; margin-top: 10px;">
		<?php echo $this->Thumbnail->show( array( "src" => W_UPLOAD. $data['Nguoitao']["avatar"], "w" => 70, "h" => 85 ) ); ?>
		<?php //echo  $this->Thumbnail->show( array( "src" => W_UPLOAD. $data['Nguoitao']["avatar"], "w" => 90, "h" => 120 ) );		?>
		</div>
		<div style="margin-left: 85px; margin-bottom: 30px;">
		<?php if(isset($data['File'][1])){ //echo $controller; ?>
		<div style="float:left;padding-bottom: 0px;" class="TitleListCongTrinhView">
		<?php } else {?>
		<div style="padding-bottom: 0px;" class="TitleListCongTrinhView">
		<?php }?>
			<?php echo $STT.". ";				
				echo $data[$model]['tieude'];
			?>
		</div>
		<?php if(isset($data['File'][1])){ //echo $controller; ?>
		<div style="margin-left: 578px; margin-top: 5px;">
			<a  onclick="chon_download_outside(<?php echo  $data[$model]['id']; ?>, '<?php echo  $controller; ?>')" style="left: -33px;" id="download_outside_<?php echo $data[$model]['id']; ?>" class="mrs mlm _42ft _4jy0 _4jy3 _517h" rel="dialog" href="javascript:void(0)" role="button">
				[<img  onclick="chon_download_outside(<?php echo  $data[$model]['id']; ?>,'<?php echo  $controller; ?>')" src="/img/icon/download_outside.png" style="width: 9px" title="Cho phép file này download từ bên ngoài" class="img_file_xuat">]
				Copy Link All
			</a>
				&nbsp;<span id="file_xuat_span_<?php echo  $data[$model]['id']; ?>" style="background-color: #E6EFC2; border-color: #C6D880; color: #529214;display:none; margin-left: -450px;">chọn thành công.</span>
		</div>
		<?php } ?>

		<?php if( (isset($admin) || (( AuthComponent::user('id') == $data['Nguoitao']['id']))) && $congtrinh_id == 1857){ ?>
		<div>

			<?php if($data[$model]['view'] == 1 ){ ?>
				<a id="view_<?php echo $data[$model]['id']; ?>" href="javascript:void(0)" onclick="chon_file_view(<?php echo $data[$model]['id']; ?>, 0)">Không public ra ngoài </a>
				<img id="view_img_<?php echo $data[$model]['id']; ?>" src="/img/congviec_moingay.png" style=" height: 15px;width: 15px;opacity:0.3;" onclick="chon_file_view(<?php echo $data[$model]['id']; ?>, 0)" />
			<?php }else{ ?>
				<a id="view_<?php echo $data[$model]['id']; ?>" href="javascript:void(0)" onclick="chon_file_view(<?php echo $data[$model]['id']; ?>, 1)">Public ra ngoài </a>
				<img id="view_img_<?php echo $data[$model]['id']; ?>" src="/img/congviec_moingay.png" style=" height: 15px;width: 15px;" onclick="chon_file_view(<?php echo $data[$model]['id']; ?>, 1)" />
			<?php } ?>
			&nbsp;<span id="file_xuat_span_<?php echo $data[$model]['id']; ?>" style="background-color: #E6EFC2; border-color: #C6D880; color: #529214;display:none">chọn thành công.</span>
		</div>
		<?php } ?>

		<?php if( isset($admin) || (( AuthComponent::user('id') == $data['Nguoitao']['id']))){ ?>
		<?php } ?>
		<div class="content"><?php echo $this->Thumbnail->make_links_blank($data[$model]['mota']);?></div>
		<?php if($loai == 'congvan' || $loai == 'congvanden' || $loai =='congvandi'){?>
		<span><em style="color: #1D9908"> Số Công Văn : <?php echo $data[$model]['maso']; ?></em></span> <br>
		<?php }?>
		<div class="file">
			<?php foreach( $data['File'] as $file ){
						echo $this->element('link_download_file', array(
							'chon_file_xuat' => true,
							'id_file' => $file['id'],
							'name_file' => $file['name'],
							'file_xuat' => $file['file_xuat'],
							'dungluong_file' => $file['dungluong'] )).'<br>';
					}
					if(isset($data['File'][1])){
						echo $this->element('link_download_file_all', array(
							'id_controller' => $data[$model]['id'],
							'count_num_file' => count($data['File'])
						)).'<br>';
					} ?>
		</div>
		<em>( <?php echo $data['Nguoitao']['username']; ?>,<?php echo date('d/m/Y H:i', strtotime($data[$model]['created'])); ?> )</em>
		</div>

		<?php if( isset($admin) ||
					( ( AuthComponent::user('id') == $data['Nguoitao']['id']) &&
					  ( (strtotime($data[$model]['created']) + TGIAN_DUOC_PHEP_XOA_FILE ) > strtotime('now') ) ) ){ ?>

			<span style="text-align:right;float:right; margin-top: -5px;" class="linkHoverXoa">
				<?php echo $this->Js->link( 'Sửa', '/congtrinhs_files/them/'.$congtrinh_id.'/'.$loai.'/'.$data[$model]['id'],
						array( 'update' => '#window_content',
							   'before' => '$("#loading").show()',
							   'success' => '$("#loading").hide(); window_show(); upload_iframe_window("subcontent");',
							   'title' => 'Sửa mục này'
				) ); ?>
				&nbsp;|&nbsp;
				<a href="javascript:void(0)" onclick="xoa_ajax('<?php echo $model; ?>',<?php echo $data[$model]['id']; ?>, 'Congtrinh')">Xóa</a>
			</span>
		<?php } ?>
	</div>
<?php $STT ++;}?>
</div>
<?php echo $this->element( 'paging', array( 'update' => 'subcontent' ) ); ?>

<script type="text/javascript">
	/*$('#loai_KS').change(function() {
		var tam = $(this).val();
		var div = $("#subcontent");
		$("#loading").show();
		$.ajax({
			//url: "/bienbans/lists_hopdong/" + congtrinh_id + "/" + loai,
			url: "/congtrinhs_files/lists/<?php echo $congtrinh_id; ?>/<?php echo $loai ;?>/"+ tam,
			timeout: 15000,
			error: error_handler,
			success: function(html){
			$("#loading").hide();
			div.html(html);
		}});
	   //alert('The option with value ' + $(this).val() + ' and text ' + $(this).text() + ' was selected.');
	});
	function getPaging(tam)
	{
		//var tam = document.getElementById('loai_KS').value;
		var div = $("#subcontent");
		$("#loading").show();
		$.ajax({
			//url: "/bienbans/lists_hopdong/" + congtrinh_id + "/" + loai,
			url: "/congtrinhs_files/lists/<?php echo $congtrinh_id; ?>/<?php echo $loai ;?>/"+ tam,
			timeout: 15000,
			error: error_handler,
			success: function(html){
			$("#loading").hide();
			div.html(html);
		}});
	}*/
</script>

<style type="text/css">
	hr {
    	background: none repeat scroll 0 0 #D9D9D9;
    	border-width: 0;
    	color: #D9D9D9;
    	height: 1px;
	}
	.fbCalendarHeaderBorder {
    background-color: rgb(196, 205, 224);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.07);
    color: rgb(196, 205, 224);
    left: 1px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 11px;
    position: relative;
    width: 98%;
	}
	.loai_bienban{
		background-color: #D2D2D2;
		color:  rgb(59, 89, 152); height: 50px;
		height: 20px;
    	width: 125px;
    	padding-left: 14px;
    	padding-top: 6px;
    	padding-right: 0px;
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    	margin-right: 0.2em;
	}
	.loai_bienban a{
		color: #1B1B1C;
	}

	.actiloai a , .loai_bienban:hover a{
		color:  rgb(59, 89, 152)	;
		font-weight: bolder;
	}
	h6{
		float: right;
    	margin-right: 5px;
	}
	.actiloai , .loai_bienban:hover{
		background-color: rgb(239, 242, 247);
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    color: rgb(59, 89, 152);
	    height: 20px;
	    margin-right: 0.2em;
	    padding-left: 14px;
	    padding-right: 0;
	    padding-top: 6px;
	    width: 135px;
	    font-weight: bolder;
	}
</style>

