<?php echo $this->Form->create($model); ?>
<div id="divChucNang">
	<input type="Button" title="<?php echo __('Trở về'); ?>" value=" <?php echo __('Trở về'); ?> " class="Button" id="btnadd" onclick="window.location='/<?php echo $controller;?>/chudautu'">
	<input title="<?php echo __('Lưu chủ đầu tư'); ?>" value=" <?php echo __('Lưu chủ đầu tư'); ?> " type="submit" class="Button">
</div>

<div id="headerArea"><h2>Thêm mới</h2></div>

		<?php echo $this->element( 'message' );?>
		<table class="Data">
		<tr>
			<td>Tên chủ đầu tư (*):</td>
			<td><?php echo $this->Form->input($model.'.name', array('size' => '80' ));?></td>
		</tr>
		</table>
<?php echo $this->Form->end(); ?>