<?php echo $this->Form->create($model); ?>
<div id="divChucNang">
	<input type="Button" title="<?php echo __('Trở về'); ?>" value=" <?php echo __('Trở về'); ?> " class="Button" id="btnadd" onclick="window.location='/<?php echo $controller;?>/congty'">
	<input title="<?php echo __('Lưu công ty'); ?>" value=" <?php echo __('Lưu công ty'); ?> " type="submit" class="Button">
</div>

<div id="headerArea"><h2>Chỉnh sửa</h2></div>

<?php echo $this->element( 'message' );?>
<table class="Data">
<tr>
	<td><?php echo __("Tên công ty"); ?> (*):</td>
	<td><?php echo $this->Form->input($model.'.name', array('size' => '80' ));?></td>
</tr>
<tr>
	<td><?php echo __("Số thứ tự"); ?>:</td>
	<td><?php echo $this->Form->input($model.'.sort', array('size' => '5',  'style' => 'float:left' ));?></td>
</tr>
</table>
<?php echo $this->Form->end(); ?>