<?php echo $this->Form->create($model); ?>
<div id="divChucNang">
	<input type="Button" title="<?php echo __('Trở về'); ?>" value=" <?php echo __('Trở về'); ?> " class="Button" id="btnadd" onclick="window.location='/<?php echo $controller;?>/nhom'">
	<input title="<?php echo __('Lưu nhóm công trình'); ?>" value=" <?php echo __('Lưu nhóm công trình'); ?> " type="submit" class="Button" id="btnsearch">
</div>
<div id="headerArea"><h2>Thêm mới</h2></div>

		<?php echo $this->element( 'message' );?>
		<table class="Data">
		<tr>
			<td><?php echo __("Tên nhóm công trình"); ?> (*):</td>
			<td><?php echo $this->Form->input($model.'.name', array('size' => '80' ));?></td>
		</tr>
		<tr>
			<td><?php echo __("Số thứ tự"); ?>:</td>
			<td><?php echo $this->Form->input($model.'.sort', array('size' => '5',  'style' => 'float:left' ));?></td>
		</tr>
		</table>
<?php echo $this->Form->end(); ?>