<a onclick="disable_double_click_download(this);return false;" href="/uploaders/download/<?php echo $id_file; ?>" title="Download file này">
<?php echo $name_file; ?></a> <?php if(isset($dungluong_file)){
		echo '<em>('.$this->Number->toReadableSize($dungluong_file).')</em>';
	}
?>

<?php if(in_array(AuthComponent::user('id'), array(4, 13)) && in_array($model, array('Bienban', 'Bantinh', 'Banvevt', 'Khaosat', 'Giaodichvt'))){ ?>

	<?php if( $file_xuat ){ ?>

		[<img style="opacity:0.3;width: 9px" src="/img/icon/file_xuat.png" title="File này đã chọn rồi">]

	<?php }else{ ?>

		[<img id="file_xuat_<?php echo $id_file; ?>" onclick="chon_file_xuat(<?php echo $id_file; ?>)" src="/img/icon/file_xuat.png" style="width: 9px" title="Chọn file này làm file xuất" class="img_file_xuat">]

		&nbsp;<span id="file_xuat_span_<?php echo $id_file; ?>" style="background-color: #E6EFC2; border-color: #C6D880; color: #529214;display:none">chọn thành công.</span>

	<?php } ?>

<?php } ?>
