.ddsmoothmenu{
font: normal 12px Verdana;
background: transparent; /*background of menu bar (default state)*/
float: right;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
  display: block;
  background:transparent;  /*#000000 url(../images/header_bg.gif) repeat-x scroll 0 0;*/
  padding: 15px 10px;
  border-left: 1px solid #D0D0D0;
  color: #666666;
  text-decoration: none;
  height:15px;
}
.ddsmoothmenu ul li a.sel{
  background: #EA8511; 
  color: #FFF !important;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: #666666;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
  background: #EA8511; 
  color: #FFF;
}

.ddsmoothmenu ul li a:hover{
  background: #EA8511; /*background of menu items during onmouseover (hover state)*/
  color: #FFF;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
  color: #FFF;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
  display: list-item;
  top:1px;
  float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a,.ddsmoothmenu ul li ul li a:link,.ddsmoothmenu ul li ul li a:visited{
  font: normal 13px Verdana;
  width: 160px; /*width of sub menus*/
  padding: 5px;
  color: #FFF;
  margin: 0;
  border-top-width: 0;
  border: 0;
  background: #EA8511;
  border-top: 1px solid #D0D0D0;
  text-align:left;
}
.ddsmoothmenu ul li ul li a:hover{
  background: #EA8511; /*background of menu items during onmouseover (hover state)*/
  color: #000;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 19px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 10px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}