ul.menu li ul {
  display: block;
}
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  text-align:left;
}
ul.menu a {
  display: block;
  text-decoration: none;	
}
ul.menu li {
  margin-top: 1px;
}
ul.menu li a {
  background-color: #E5E5E5;
  color: #000;	
  padding: 0.5em;
  font-weight: bold;
}
ul.menu li a:hover {
  background-color: #D9D9D9;
  color: #000;
}
ul.menu li a.sel {
  background-color: #CCCCCC;
  color: #000;
}
ul.menu li a.opened {
  background-image:url(../images/menu_up_arrow.gif);
  background-repeat: no-repeat;
  background-position: 96% 10px;    
}
ul.menu li a.closed {
  background-image: url(../images/menu_down_arrow.gif);
  background-repeat: no-repeat;
  background-position: 96% 10px;   
}

ul.menu li ul li a {
  background-color: #F8F8F8;
  color: #000;
  padding-left: 15px;
  font-weight: normal;  
}
ul.menu li ul li a:hover {
  background-color: #EDEDED;
  border-left: 5px #8BC53E solid;
  padding-left: 10px;
  color: #000;
}
ul.menu li ul li a.sel {
  background-color: #CCCCCC;
  border-left: 5px #EA8511 solid;
  padding-left: 10px;
  color: #000;
}
ul.menu li ul li a small{
  color: #000;
  font-weight: normal;  
}