/*   
  SmartLike plugin v0.91
  jQuery Like Feeder Plugin
  
  http://tech-laboratory.blogspot.com
  http://techlaboratory.wordpress.com
*/

.sShareBox {
    display:block;
    position:relative;
    margin:0 0 0 5px;
    padding:0;
    border: 0;
    clear:both;
    width:50px;    
    float:right;
    z-index: 100;
}
.sShareBoxItem {
    display:block;
    margin:0;
    padding:0;
    border: 0px solid #000;
    width:60px;  
    margin-top:10px;   
}

.sLike {
    margin:0;
    padding:0;
    border: 0;
    width:50px; 
}
.sLike div {
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    position: relative;
    margin: 0;
    padding: 0px;
    font: bold 35px Georgia,Verdana, Arial, Helvetica, sans-serif; 
    color: #5A5655;
    border: 1px solid #CCC;    
    background-color: #F8F8F8;
    text-align:center;
    line-height:45px;
    overflow:show;
    height:50px;  
    width:100%;      
}
.sLike div img {
    margin: 0;
    padding: 0px;
    margin-top:7px;    
}
.sLike a { 
    display:block;
    margin:0;
    margin-top:2px;    
    padding:0px;
    padding-top:1px;
    padding-bottom:1px;  
    width:100%;
    color:#FFF;
    background: #EA8511; /* padding-left:8px;  url(../images/Liked.png) 2px 3px FCFCFC no-repeat E0E0E0*/
    border: 1px solid #EA8511;  
    font: bold 13px Verdana,Georgia, Arial, Helvetica, sans-serif;
    text-align:center;
    text-decoration: none;    
    outline-style:none;    
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;  
}
.sLike a:hover {
    color:#000; 
    background: #8CC63F; 
    border: 1px solid #8CC63F;
}
.sLike a.liked {
    color:#000;
    background-color: #8CC63F; /*FCFCFC  E0E0E0*/
    border: 1px solid #8CC63F;
}
.sLike a.liked:hover {
    color:#FFF;
    background-color: #EA8511; /*FCFCFC  E0E0E0*/
    border: 1px solid #EA8511;
}