/* CSS Document */
body{
	margin:0px; 
	padding:0px; 
	color:#000; 
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.tblMain{
	padding:0px;
	margin:0;
	border: 0;	
	width:100%;
}
.tdTopbar{
	padding:0px;
	margin:0;
	border: 0;	
	height:48px;
}
.tdContent{
	padding:0px;
	margin:0;
	border: 0;   
	height:480px;
	background: #FFF; 
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
.tdFooter{
	padding:0px;
	margin:0;  
	height:35px; 
	color:#CCCCCC;
	border:0;
	border-top: 1px solid #D7D7D7; 
	border-bottom: 1px solid #CCCCCC; 
  background    : url(../images/top_bg.gif) 0px -15px repeat-x #F7F7F7;
}
.tdFooter a{
	padding:0px; 
	width:100%;
	color:#5A5655;
	text-decoration:none;
}
.tdFooter a:hover{
	color:#EA8511;
	text-decoration:none;
}

.dataTable{
	padding:0px;
	margin:0;
	border: 1px solid #CCCCCC;
  background: #F9F9F9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    	
}
.dataTable tr{
	border-bottom: 1px solid #CCCCCC;
}
.dataTable td{
	padding:5px;
}
.dataTable td.main{
	padding:8px;
  background: #F1F1F1;	
}

/* TOP BAR STYLES */
.topBar{
	position      : fixed;    
	padding       : 0px;
	height        : 45px;
	top           : 0;
	left          : 0;
  width         : 100%;
  border-bottom : 2px solid #EA8511;
	background    : url(../images/top_bg.gif) 0px -10px repeat-x #F7F7F7;
	z-index       : 1500;  	
}
.logoMain {
	height: 33px;
  padding: 3px 0px 0px 5px;
  margin-top:4px;
  margin-left:5px;
  margin-right:10px;
}

/* BOX STYLES */
.contentBox {
  font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color: #5A5655;
  margin: 1px 1px 1px 1px;
  border: 1px solid #D8D8D8;
  padding: 15px;
  text-align:left;
  min-height:450px;
  overflow:visible; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.contentBox a {
  color : #0678BE;    /* 3151A2  0464BB */
}
.contentBox a:hover {
  color : #EA8511;    /* 3151A2  0464BB */
}
.aboutMeBox {
  font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #FFF;
  margin:             5px 5px 5px 5px;
  border:             1px solid #EA8511;
  padding:            25px;
  text-align:left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
}
.aboutMeBox .high{
  position:relative;
  float:left;
  font: bold 35px Verdana, Arial, Helvetica, sans-serif;
  height:30px; 
  line-height:30px;
  clear:both;      
}
.loginBox {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #FFF;
  margin:             5px 5px 5px 5px;
  border:             1px solid #EA8511;
  padding:            5px 5px 5px 5px;
}
.loginBox #title{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: bold 14px Verdana, Arial, Helvetica, sans-serif; 
  color:              #FFF;
  background-color:   #EA8511;
  padding:            5px 5px 5px 10px;    
  border:             1px solid #EA8511;
  text-align:left;
}
.userBox{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  padding:            5px 5px 5px 5px;    
  border:             1px solid #CCCCCC;
  text-align:center;
}
.userBox a{
	padding:0px; 
	color:#5A5655;
	text-decoration:none;
}
.userBox a:hover{
	color:#EA8511;
	text-decoration:none;
}
.filterBox {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #FFF;
  margin: 1px 1px 1px 1px;
  border: 1px solid #CCC;
  padding: 3px;
}
.filterBox .title{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #F7F7F7;
  padding:            3px 3px 3px 8px;    
  border:             1px solid #CCC;
  text-align:left;
} 
.filterBox .filters{
  padding: 8px;    
  text-align:left;
}
.filterBox .lnkToggle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: url(../images/menu_down_arrow.gif) no-repeat center center;
  border:1px solid #CCC;
  color:#CCC;
  display:block;
  float:right;
  height:13px;
  margin:0 2px 0 0;
  outline-style:none;
  padding:0;
  position:relative;
  text-align:center;
  text-decoration:none;
  width:15px;
}                           
.filterBox .lnkToggle:hover {
  color:#EA8511;  
  border:1px solid #EA8511;  
}
.filterBox .down{
  background: url(../images/menu_down_arrow.gif) no-repeat center center;
}
.filterBox .up {
  background: url(../images/menu_up_arrow.gif) no-repeat center center;
}
.pageTitle{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:  #5A5655;
  border: 1px solid #CCCCCC;
  padding: 3px 5px 3px 10px;
  background : #F7F7F7; 
  margin: 1px 1px 1px 1px; 
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.pageTitle h1, .pageTitle h2, .pageTitle h3 {
  margin: 0;
  padding: 0;
  font: normal 18px Verdana, Arial, Helvetica, sans-serif;  
}

.contactBox {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #FFF;
  margin:             5px 5px 5px 5px;
  border:             1px solid #EA8511;
  padding:            5px 5px 5px 5px;  
}
.contactBox #title{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #FFF;
  background-color:   #EA8511;
  padding:            5px 5px 5px 5px;    
  border:             1px solid #EA8511;
}
.feedbackBox {
  font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color: #5A5655;
  background-color:   #FFF;
  margin: 2px 1px 1px 1px;
  border: 1px solid #EA8511;
  padding: 5px 5px 5px 5px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;   
}
.feedbackBox .title{
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #FFF;
  background-color:   #EA8511;
  padding:            5px 5px 5px 5px;    
  border:             1px solid #EA8511;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.feedbackBox .lnkToggle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #F7F7F7 url(../images/menu_down_arrow.gif) no-repeat center center;
  border:1px solid #CCC;
  color:#CCC;
  display:block;
  float:right;
  height:13px;
  margin:0 2px 0 0;
  outline-style:none;
  padding:0;
  position:relative;
  text-align:center;
  text-decoration:none;
  width:15px;
}                           
.feedbackBox .lnkToggle:hover {
  color:#EA8511;  
  border:1px solid #EA8511;  
}
.feedbackBox .down{
  background: #F7F7F7 url(../images/menu_down_arrow.gif) no-repeat center center;
}
.feedbackBox .up {
  background: #F7F7F7 url(../images/menu_up_arrow.gif) no-repeat center center;
}
.validation-true
{
  display:none;
  margin: 0;
  margin-left: 2px;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(../images/true_icon.png) 0px 0px no-repeat #FFF;
}
.validation-false
{
  display:none;
  margin: 0;
  margin-left: 2px;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(../images/false_icon.png) 0px 0px no-repeat #FFF;
}
/* Button Styles*/
.btn{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  font                            : bold 12px Verdana, Arial, Helvetica, sans-serif;
  background                      : #5A5655;
  clear                           : both;
  color                           : #FFFFFF !important;
  margin                          : 0px;
  padding                         : 3px 10px 3px 10px;
  text-align                      : center;
  border                          : 1px solid #5A5655;    
  text-decoration                 : none; 
  cursor:pointer;
}
.btn:hover{
  background      : #EA8511;
  color           : #FFFFFF;
  border          : 1px solid #EA8511; 
  text-decoration : none; 
}

.btnsmall{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  font                            : normal 12px Verdana, Arial, Helvetica, sans-serif;
  background                      : #5A5655;
  color                           : #FFFFFF;
  margin                          : 0px;
  padding                         : 2px 5px 2px 5px;
  text-align                      : center;
  border                          : 1px solid #5A5655;    
  text-decoration                 : none; 
  cursor:pointer;
}
.btnsmall:hover{
  background      : #EA8511;
  color           : #FFFFFF;
  border          : 1px solid #EA8511; 
  text-decoration : none; 
}

/* Input Styles */
.txtBox {
  border: 1px solid #CCCCCC;
  width: 230px;
  padding-top:2px;
  padding-bottom:2px;  
	padding-left:2px;
	padding-right:2px;	
	font: normal 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
}

.txtBox:focus {
  border: 1px solid #EA8511;
}

/* Message Styles */
.msgErrorBox  
{  
  background-color: #ffebe8;  
  border: 1px solid #dd3c10;  
  color: #333333;  
  padding: 5px 10px 5px 10px;  
  font: normal 13px Verdana, Arial, Helvetica, sans-serif;   
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
}
.msgInfoBox  
{  
  background-color: #FFFFDD;  
  border: 1px solid #FFD700;  
  color: #333333;  
  padding: 5px 10px 5px 10px;  
  font: normal 13px Verdana, Arial, Helvetica, sans-serif;   
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
}

/* Image Styles */
.screenshotImage 
{  
  background-color      : #FFF;
  border                : 1px solid #CCCCCC;  
  padding               : 2px; 
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;     
}

/* Link Styles */

.screenshotLink 
{  
  background-color      : #FFF;
  border                : 0;  
  padding               : 0px; 
  text-decoration: none;
  text-align: center;       
}

.specialLink 
{  
  background-color      : #FFF;
  border                : 0px solid #CCCCCC;  
  padding               : 0px;
  color : #0678BE;    /* 3151A2  0464BB */ 
  font: normal 13px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;   
}
.specialLink:hover 
{  
  color : #EA8511;    
}
.specialLinkNewTarget 
{  
  background-color      : #FFF;
  border                : 0px solid #CCCCCC;  
  padding               : 0px;  
  text-decoration: none;      
}
.specialLinkNewTarget img{
  border                : 0;
}

/* List Styles */

.itemList
{
  display: block;
  list-style: disc;
}
.itemList li
{
  margin-top: 5px;
}
.itemList li h3
{
  margin: 0;
  padding: 0;
  font: normal 17px Verdana, Arial, Helvetica, sans-serif;  
}
.itemList li a
{
  display: block;
  text-decoration: none;	
  color:#0464BB;  
}
.itemList li a:hover
{	
  color:#EA8511;  
}

/* Heading Styles */

.subTitle{
  margin: 5px 0 12px 0;
  padding: 0 0 5px 0;
  border-bottom : 1px solid #5A5655;
  font: normal 18px Verdana, Arial, Helvetica, sans-serif;
} 
.stepTitle{
  margin: 5px 0 12px 0;
  padding: 0 0 5px 0;
  font: normal 17px Verdana, Arial, Helvetica, sans-serif;
} 
/* Donate Box */

.donateBox {
  position: relative;
  margin: 1px;
  padding: 5px;
  font: normal 10px Verdana, Arial, Helvetica, sans-serif; 
  color: #5A5655;
  border: 1px solid #CCC;    
  background-color: #F8F8F8;
  text-align:left;
  overflow:visible; 
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;        
}

.donateBox .title{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:              #FFF;
  background-color:   #EA8511;
  margin: 0 0 3px 0;
  padding:            4px 0px 4px 5px;    
  border:             1px solid #EA8511;
  text-align:left;
}
.donateBox p{
  margin: 0;
  padding:5px;    
}

.summaryBox {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #FFF;
  margin: 0px;
  border: 1px solid #CCC;
  padding: 3px;
}
.summaryBox .title{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: bold 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #F7F7F7;
  padding:            4px 3px 4px 8px;    
  border:             1px solid #CCC;
  text-align:left;
}
.summaryBox .content{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  padding:            4px 4px 4px 4px;    
  text-align:left;
}
.summaryBox a{
  text-decoration: none;
}
.adBoxSideBar {
  margin: 7px 1px 1px 12px;
  padding: 0px; 
  color: #5A5655;
  border: 0;        
}

/* ToDo */

.todo {
  margin: 0;
  border: 0;
  padding: 0;
  margin-bottom:3px;
}
.todo .container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #F7F7F7;
  margin: 0px;
  border: 1px solid #CCC;
  padding: 3px;
}
.todo .icon{
  background-color:   #CCC;
  padding:            4px 3px 4px 8px;    
  border:             1px solid #CCC;
  text-align:left;
  height:10px;
  width:10px;
}
.todo .title{
  font: bold 12px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  padding:            4px 3px 4px 8px;    
  text-align:left;
}
.todo .desc{
  font: normal 11px Verdana, Arial, Helvetica, sans-serif; 
  padding: 4px 3px 4px 8px;    
  text-align:left;
}

.todo .toolbar {
  font: normal 11px Verdana, Arial, Helvetica, sans-serif; 
  color:              #5A5655;
  background-color:   #F7F7F7;
  margin: 0px;
  border: 1px solid #CCC;
  padding: 1px;
  height:15px;
  border-top:0;
  margin-left:8px;
  margin-right:8px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;  
}

.todo .toolbar ul {
  display:block;
  list-style-type:none;
  margin: 0;
  padding: 0;
  text-align:left;  
  margin-left:5px;
}

.todo .toolbar ul li{
  position: relative;
  display: inline;
  float: left;
  margin-right:5px;  
  line-height: 10px;    
}

.todo .toolbar ul li a{
  display: block;
  background:transparent;
  color: #666666;
  text-decoration: none;
  margin:0;
  margin-top:2px;
}

.searchBox .searchResult a{
  display: block;
  text-decoration: none;
  background-color: #F8F8F8;
  color: #000;
  padding-left: 15px;
  padding-top:3px;
  padding-bottom:3px;
  font-weight: normal;
  margin-top: 1px;  
}
.searchBox .searchResult a:hover{
  background-color: #EDEDED;
  border-left: 5px #8BC53E solid;
  padding-left: 10px;
  color: #000;
}