<table>
    <tr style="vertical-align:top">
        <td style="width: 67%;">
            <div class="ContainData" style="border:1px solid #CDCDCD;position:relative;margin:0">
                <div class="legend tintucs ActiveTask_tt" style="float:left"><a href="javascript:void(0)" onclick="click_tabs_tintuc(this,1)" link="/admin/tintucs/lists">News</a></div>
                <div id="tintucs_cover" class="term_r scroll">
                    <span id="tintucs"></span>
                    <div id="list_tintucs_more">
                        <span id="list_more"></span>

                    </div>
                </div>
            <div>
        </td> <!--END TIN TUC-->
        <td id="DanhSachLichHop_td">
            <!--DANH SACH LICH HOP-->
            <span id="lichhops"></span>
        </td>
    </tr>
</table>
<div id="DuongNganCach">
    <center><hr></center>
</div>

<table style="background-color: #d3d3d3;">
<tr style="vertical-align:top">
    <td style="width: 67%" style="padding:0;padding-right:5px">
        <!--TASK-->
        <div class="ContainData BgWhite">
            <div class="ContainDataTitle"><?php if($loai == 2) echo 'PURSURED'; ?> PROJECTS</div>
            <div class="ContainDataNoidung">
                <span id="scroll_tasks"></span>
                <div id="tasks"><?php echo $congtrinhs; ?></div>
            </div>
        </div>
        <!--END TASK-->

    </td>
    <td style="padding:0;" id="menu_rg">

        <!-- 160712 Doan them -->
        <div class="ContainData BgWhite">
            <div class="ContainDataTitle">DAILY SCHEDULE</div>
            <div class="ThemMoiLoinhanMainRight">
                <?php echo $this->Js->link( "New", "/admin/mains/them_loinhan_right/Loinhancongviec",
                        array(
                            'before' => '$(\'#loading\').show()',
                            'update' => '#window_content',
                            'title' => 'Thêm mới lời nhắn',
                            'success' => '$("#loading").hide();window_show();'
                        ) );
                ?>
            </div>
            <div id="loinhancongviecs" class="ContainDataNoidung"></div>
            <span id="scroll_loinhancongviecs"></span>
        </div>
        <!-- 160712 Doan them -->

        <div class="ContainData BgWhite">
            <div class="ContainDataTitle">ANNOUNCEMENT</div>
            <div class="ThemMoiLoinhanMainRight">
                <?php echo $this->Js->link( "New", "/admin/mains/them_loinhan_right/Loinhanphongit",
                        array(
                            'before' => '$(\'#loading\').show()',
                            'update' => '#window_content',
                            'title' => 'Thêm mới lời nhắn',
                            'success' => '$("#loading").hide();window_show();'
                        ) );
                ?>
            </div>
            <div id="loinhanphongits" class="ContainDataNoidung"></div>
            <span id="scroll_loinhanphongits"></span>
        </div>

        <!-- 160616 Doan them -->
        <div class="ContainData BgWhite">
            <div class="ContainDataTitle">SHARED EXPERIENCE</div>
            <div class="ThemMoiLoinhanMainRight">
                <?php echo $this->Js->link( "New", "/admin/mains/them_loinhan_right/Loinhanchiase",
                        array(
                            'before' => '$(\'#loading\').show()',
                            'update' => '#window_content',
                            'title' => 'Thêm mới lời nhắn',
                            'success' => '$("#loading").hide();window_show();'
                        ) );
                ?>
            </div>
            <div id="loinhanchiases" class="ContainDataNoidung"></div>
            <span id="scroll_loinhanchiases"></span>
        </div>
        <!-- 160616 Doan them -->

        <!--SINH NHAT-->
        <!--SINH NHAT-->
        <div class="ContainData BgWhite">
            <div class="ContainDataTitle">.</div>
            <div class="ContainDataNoidung" id="birthdays"></div>
        </div>
    </td>
</tr>
</table>

<?php echo $this->element("footer_thongtinchung"); ?>
<?php //echo $this->element("thongbaohethong"); ?>
<?php //echo $this->element("thongbao_canhan"); ?>

<?php //if(isset($tracnghiems))echo $tracnghiems; ?>

<div id="refesh"></div>

<script type="text/javascript">

    var arr_url = [];
    arr_url.push({div_id: "tintucs", url: "/admin/tintucs/lists"});
    arr_url.push({div_id: "lichhops", url: "/admin/lichhops/congviec_tuan"});
    arr_url.push({div_id: "birthdays", url: "/admin/users/birthday"});
    //arr_url.push({div_id: "list_more", url: "/tintucs/lists_more"});

    arr_url.push({div_id: "loinhanphongits", url: "/admin/mains/loinhan_danhsachloinhan/Loinhanphongit"});
    arr_url.push({div_id: "loinhanchiases", url: "/admin/mains/loinhan_danhsachloinhan/Loinhanchiase"});
    arr_url.push({div_id: "loinhancongviecs", url: "/admin/mains/loinhan_danhsachloinhan/Loinhancongviec"});

    var idx_url = 0;

    function get_all_with_ajax(){
        $.ajax({
            url: arr_url[idx_url].url,
            timeout: 15000,
            error: error_handler,
            success: function(html){
                console.log(idx_url);
                $("#" + arr_url[idx_url].div_id).html(html);
                idx_url += 1;

                if( idx_url < 22 ){
                    get_all_with_ajax();
                }
            }
        });
    }


    $(function(){
        get_all_with_ajax();

        window.setInterval("refesh_not_lost_login()", 1200000);
    });



    function refesh_not_lost_login()
    {
        $.ajax({
            url: "/mains",
            timeout: 15000,
            error: error_handler,
            success: function(html){
                $("#refesh").html(html);
            }
        });
    }
</script>

<style type="text/css">
    div.ActiveTask_tt,.ActiveTask_tt{background-color:#FFF}
</style>
