<table>
	<tr>
		<td>
			<a href="http://camera.spaceaa.com:81/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:81/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera.spaceaa.com:89/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:89/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera.spaceaa.com:88/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:88/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://camera.spaceaa.com:84/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:84/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera.spaceaa.com:85/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:85/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera.spaceaa.com:82/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:82/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://camera.spaceaa.com:90/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:90/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera.spaceaa.com:86/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Bình Quới</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera.spaceaa.com:86/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera_hl.spaceaa.com:93/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Him Lam</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera_hl.spaceaa.com:93/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
	</tr>

	<tr>
		<td>
			<a href="http://camera_hl.spaceaa.com:90/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Him Lam</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera_hl.spaceaa.com:90/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera_hl.spaceaa.com:91/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Him Lam</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera_hl.spaceaa.com:91/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
		<td>
			<a href="http://camera_hl.spaceaa.com:92/CgiStart?page=Single&Language=0" target="_blank">Camera Văn Phòng Him Lam</a><br>
			<iframe style="width: 320px; height: 241px;" marginwidth="50px" scrolling="no" scrolling="no"
			src="http://camera_hl.spaceaa.com:92/ImageViewer?Direction=&Resolution=320x240&Quality=Standard&Size=STD&PresetOperation=Move&Data=0&Frame2=PanTilt&Type=&Language=0&RPeriod=65535&Sound=Enable&Mode=JPEG&SendMethod=1&View=Normal">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</td>
	</tr>
	</tr>
</table>