<?php if(isset($this->request->data[0])){
	foreach( $this->request->data as $traloi ){ ?>
<div class="div1NoiDungTraLoi" id="<?php echo $modeltraloi; ?>_<?php echo $traloi[$modeltraloi]['id']; ?>" onmouseover="$('span#xoa_traloi_ajax',this).show();" onmouseout="$('span#xoa_traloi_ajax',this).hide();">
	<div class="content_traloi">
		<?php if(is_numeric($traloi[$modeltraloi]["nguoitao"])){
				if(isset($traloi["Nguoitao"]["avatar"]))$avatar = $traloi["Nguoitao"]["avatar"];
				else $avatar = $traloi["Nguoitao"]["hinh"];

					echo $this->element("avatar_view",array(
						"created" => $traloi[0]["created"],
						"dataUser" => $traloi["Nguoitao"]
				));
			}else{
				if(isset($traloi[$modeltraloi]["hinh_kdv"]))
				{
					$traloi["Nguoitao"]["avatar"] = $traloi[$modeltraloi]["hinh_kdv"];
					echo $this->element("avatar_view",array(
						"avatar" => $traloi["Nguoitao"]["avatar"],
						"created" => $traloi[0]["created"],
						"username" => $traloi[$modeltraloi]["nguoitao_kdv"]
					));
				}else{
					$traloi["Nguoitao"]["avatar"] = $traloi[$modeltraloi]["avatar_qlda"];
					echo $this->element("avatar_view",array(
						"avatar" => $traloi["Nguoitao"]["avatar"],
						"created" => $traloi[0]["created"],
						"username" => $traloi[$modeltraloi]["nguoitao_qlda"]
					));
				}
			}
		?>:
		<?php if( (strtotime($traloi[$modeltraloi]["created"]) + 129600) > strtotime("now") ){ ?><img src="/img/icon_new.png" /><?php } ?>
		<?php echo str_replace("\n", "<br>", $traloi[$modeltraloi]["noidung"]); ?>
		<?php if(isset($admin) || AuthComponent::user('id') == $subdata[$modeltraloi]["nguoitao"]){ ?>
			<span id="xoa_traloi_ajax" style="display:none"><em><a href="javascript:void(0)" onclick="xoa_ajax('<?php echo $modeltraloi; ?>',<?php echo $traloi[$modeltraloi]['id']; ?>,'<?php echo $model_loinhan; ?>')">Xóa</a></em></span>
		<?php } ?>
	</div>
</div>
	<?php } ?>
<?php } ?>