<style>td{height:32px;}</style>
<?php echo $this->Form->create($model); ?>
	<table>
		<tr>
			<td>Chọn người upload:</td><td><?php echo $this->element( 'users_search', array("field_usersearch" => "Main.manager") );?></td>
			<td><input value=" <?php echo __('Tìm kiếm file'); ?> " type="submit" class="Button" id="btnsearch"></td>
		</tr>
		<tr>
			<td colspan="2"><?php $l_models = $arr_loai;$l_models[] = "Tất cả";
	echo $this->Form->input('model', array('style' => 'width:78px;float:left','options' => $l_models, 'empty' => '----', 'label' => 'Chọn loại ','onchange' => 'tim_search("#'.$controller.'_Tim")'));?></td>
		</tr>
	</table>
	<?php foreach($models as $model){  if(isset($dataall[$model][0])){ ?>
	<table class="CssTable" cellpadding="0" cellspacing="1" width="100%" border="0">
		<tr style="vertical-align:top">
			<td style="width: 60px;"><?php echo __("STT"); ?></td>
			<td style="width: 74px;"><?php echo __("Loại"); ?></td>
			<td><?php echo __("Công trình"); ?></td>
			<td style="width: 200px;"><?php echo __("Tiêu đề/Chú thích"); ?></td>
			<td style="width: 100px;"><?php echo __("Người upload"); ?></td>
			<td><?php echo __("File"); ?></td>
		</tr>
		<?php $STT=1; $i=1;
			foreach($dataall[$model] as $data){ if(isset($data["File"][0]) && file_exists(DIR_UPLOAD.$data["File"][0]["file"]))continue;?>
		<tr class="row<?php echo $i; $i = 3 - $i;?>">
			<td><?php echo $STT; ?></td>
			<td><?php echo $arr_loai_model[$model]; ?></td>
			<td><?php if(isset($data["Congtrinh"]))echo $data["Congtrinh"]["tieude"]; ?></td>
			<td><?php if(isset($data[$model]["tieude"]))echo $data[$model]["tieude"]; else echo $data[$model]["mota"]; ?></td>
			<td><?php echo $data["Nguoitao"]["username"]; ?></td>
			<td><?php foreach($data["File"] as $file){ if(file_exists(DIR_UPLOAD.$file["file"]))continue;?>
				<div id="<?php echo $controller;?>_file_<?php echo $file["id"];?>"><?php echo $file["name"]; ?> <em>(<?php echo $file["dungluong"]; ?>B)</em>
					<?php echo $this->Js->link( __("upload file thay thế"), "/".$controller."/upload_miss_file/".$file["id"],
						array( 'before' => '$(\'#loading\').show()','update' => '#window_content',
					   'success' => '$("#loading").hide();window_show();','title' => __('Chỉnh sửa file bị thiếu') ) );?>
				</div>
				<?php } ?></td>
		</tr>
		<?php $STT++; } ?>
	</table>
	<?php } } ?>
<?php echo $this->Form->end(); ?>