<legend>Sửa Lời Nhắn</legend>
<?php echo $this->Form->create($model); ?>
	<h3>Tiêu đề (*):</h3>
	<?php echo $this->Form->input($model.'.tieude',  array('size' => '50'));?>
	<?php //echo $this->Form->hidden($model.'.modified', array('escape' => false));?>

	<br>
	<h3>Nội dung (*):</h3>
	<?php echo $this->Form->input($model.'.noidung',  array('rows' => '10', 'cols' => 50));?>

	<br>
	<h3>Loại (*):</h3>
	<?php echo $this->Form->hidden($model.'.type_old');?><br><br>
	<?php echo $this->Form->input($model.'.type',  array('options' => $type_loinhan));?><br><br>

	<center>
		<?php echo $this->Js->submit( 'Lưu', array(
				'before' => '$(\'#loading\').show()',
				'class' => 'Button',
				'success' => "handle_response_sua_loinhan_task(data);"
		));?>
	</center> <!--handle_response(data, "tasks")-->
<?php echo $this->Form->end(); ?>

<script type="text/javascript">
function  handle_response_sua_loinhan_task(data){

	$("#window_content").dialog("close");

	$("#loading").hide();

	if( data == "move_task_type" )
	{
		$("#Task_<?php echo $id; ?>").fadeOut();
	}else{
		alert("Sửa thành công! Refesh (F5) để thấy kết quả.");
	}
}
</script>