<?php ?>
<legend>Thêm lời nhắn</legend>
<?php echo $this->Form->create(); ?>
    <h3>
        <!-- <img src="/img/icon/<?php echo $controller;?>_danhsachloinhan.png" /> -->
        <img src="/iconiki.ico" />Nội dung (*):
    </h3>
    <div style="height:5px;">&nbsp;</div>
    <?php echo $this->Form->input($model.".noidung",  array("rows" => 10, "cols" => 80, "label" => false));?>
    <center>
        <?php if( is_numeric($div_update_paging) && $div_update_paging == 1 )$div_update_paging = "";
            echo $this->Js->submit( "Lưu", array(
                "class" => "Button",
                'before' => '$("#loading").show()',
                //'update' => '#' . $div_update_paging,
                //'success' => '$("#loading").hide(); $("#window_content").dialog("close")',
                'success' => "handle_response(data, '".$div_update_paging."')"
        ));?>
    </center>
    <?php //echo $this->element("upload_attach_file"); ?>

    <?php if( !in_array($model, array("Loinhansinhnhat", "Loinhanngoaikhoavt")) )
            {
                //echo "Thông báo cho: ".$this->element("giaoviec");
            }
    ?>
<?php echo $this->Form->end(); ?>