<style type="text/css">
	.Btn{
		border:solid #827026 1px;
		padding:2px;
		background-color:#063;
		text-decoration:none;
		color:#FFF;
		padding: 3px 9px;
	}
</style>
<div align="center" style="position:absolute; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; visibility:hidden; width:180px; height:85px; background:#EDEAE4; left: 43%; top: 40%;" id="progress">
	<!-- <img align="middle" id="progress_image" style="padding-left:5px;padding-top:5px; text-align:center" src="../../../images/icons/loading4.gif"> -->
	<br />
	Đang xử lý, vui lòng chờ...
</div>
<div style="margin-left: 0px; margin-top: 0px; margin-bottom:7px" id="bottom">
	<a title="Vẩn giữ files góc trên hệ thống và tạo ra một file mới đã được thay đổi" class="Btn" href="/uploaders/view_download/<?php echo $file['id'] ?>/new">Lưu với phiên bản mới</a>
	&nbsp;
	<a title="Xóa hoàn toàn file góc trên hệ thống và thay vào đó là file đã sửa đổi" class="Btn" href="/uploaders/view_download/<?php echo $file['id'] ?>/update">Lưu thay thế file hiện tại</a>
	&nbsp;
	<!-- <a class="Btn" href="#" title="không lưu và đính kèm gửi email" onclick='attach("viewonline.php?save=yes&fileid=&type=attach&docid=");'>Đính kèm email</a> -->
</div>

<iframe src="/<?php echo $file_temp ?>" frameborder="0" width="100%" height="100%"></iframe>