/* CSS for fixed-fluid layout */

.fixed {
	width: 150px;  /* the fixed width required */
	float: left;
}

.fixed + div {
	 margin-left: 150px;  /* must match the fixed width in the .fixed class */
	 overflow: hidden;
}


/* CSS to ensure sidebar and content are same height (optional) */

html, body {
	height: 100%;
}

.fill {
	min-height: 100%;
	position: relative;
}

.filler:after{
	background-color:inherit;
	bottom: 0;
	content: "";
	height: auto;
	min-height: 100%;
	left: 0;
	margin:inherit;
	right: 0;
	position: absolute;
	top: 0;
	width: inherit;
	z-index: -1;
}
#DivNav ul#Nav li ul li a {
	width: 168px;
}

#DivNav ul#Nav > li {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #3B5998;
}
ul.Numeric li, ol.Numeric li {
  list-style-type: decimal;
}
ul.Numeric, ol.Numeric{
	padding-left: 21px;
}
.ui-datepicker-title option{
	color: #000;
}
#saved-success{
	background-color: #D9E7D7;
	color: green;
	position: fixed;
	bottom: 4px;
	right: 40%;
	padding: 2px 9px;
	font-size: 16px;
	display: none;
}
#saved-failed{
	background-color: #FFC2CD;
	color: rgb(255, 4, 32);
	position: fixed;
	bottom: 4px;
	right: 40%;
	padding: 2px 9px;
	font-size: 16px;
	display: none;
}