<?php if( isset( $datas[0] ) ){ ?>
<div id="TitleSinhNhat" style="font-size:17px;color:#3366FF">
    <!-- <center><h3 style="color:#3B5998;margin-bottom: 10px;">SINH NHẬT THÁNG <span style="color:#23BA21"><?php echo date("m"); ?></span></h3></center> -->
    <center><h3 style="color:#3B5998;margin-bottom: 10px;">HAPPY BIRTHDAY</h3></center>
</div>
<center><table border="0" id="SinhNhat">
    <?php $arr_day = array(0, "Thứ Hai","Thứ Ba","Thứ Tư","Thứ Năm","Thứ Sáu","Thứ Bảy","Chủ Nhật");
        $count_birth = count($datas); $data_today_birth = array(); $check_show_loinhan = false;
        for( $i=0; $i<$count_birth; $i++ ){

        echo "<tr>";
        for($j=0; $j<2; $j++){ //CHAY 2 LAN TD
            $i = $i + $j;
            if(!isset($datas[$i]))break;

            $data = $datas[$i];

            if( !$check_show_loinhan )
            {
                $time_tmp = strtotime( date("Y")."-".substr( $data["User"]["birthday"], 5, 5 ) );
                if( ( substr( $data["User"]["birthday"], 5, 5 ) == date("m-d") )
                    || ( $time_tmp < strtotime("now") && ( ($time_tmp + 259200) > strtotime("now") ) ) )
                $check_show_loinhan = true;
            }


            $arr_tmp = split("-", $data["User"]["birthday"]);
            if( $arr_tmp[2] == date('d') )
            {
                $data_today_birth[] = $datas[$i]["User"];
                for($f=($i+1); $f<1000; $f++){
                    $i=$f;
                    if(!isset($datas[$i]))break; // không tồn tại thì break

                    $data = $datas[$i];
                    $arr_tmp = split("-", $data["User"]["birthday"]);
                    if( $arr_tmp[2] != date('d') ){ break; } // ngày sinh nhật không phải hôm nay cũng break

                    $datas[$i]["User"]["realname"] = mb_convert_case($datas[$i]["User"]["realname"], MB_CASE_TITLE, "UTF-8");
                    $data_today_birth[] = $datas[$i]["User"];
                }
                // Hiển thị những user tiếp theo mà ko có sinh nhật hôm nay.
                if(!isset($datas[$i]))// nếu không tồn tại thì thoát FOR,
                {
                    if($j==0)echo "<td colspan='2'><td>";
                    else echo "<td><td>";
                    break;
                }
                $data = $datas[$i];
                $arr_tmp = split("-", $data["User"]["birthday"]);
            }
            $data["User"]["birthday"] = $arr_tmp[2]."/".$arr_tmp[1]; ?>
            <td style="width: 180px;">
                <div style="float:left;margin-bottom: 3px;">
                    <?php echo $this->Thumbnail->show( array( 'src' => W_UPLOAD.$data["User"]["avatar"], "w" => 37, "h" => 47 ) ); ?>
                </div>
                <div style="font-weight:bold;">
          <?php echo " &nbsp; ".$data["User"]["realname"]." <br><span style='margin-left: 9px;'>(".$data["User"]["birthday"].")";
                if( $arr_tmp[2] > date('d') ){ ?>
                    <em>(<?php echo __("còn ");echo ($arr_tmp[2] - date('d')); __(" ngày nữa");?>)</em></span>
          <?php }else{ echo "</span>"; }
            ?>
                </div>
            </td>
        <?php } ?><!--CHAY 2 LAN TD-->
    <?php echo "</tr>";
         } ?>
        <!--XUAT RA SINH NHAT NHUNG NGUOI TRONG NGAY-->
        <?php if(isset($data_today_birth[0])){ ?>
        <thead><td colspan="2" style="padding-left:47px;padding-bottom:14px;">
            <?php foreach($data_today_birth as $todaybirth){ ?>
                <div style="float:left">
                    <a href='/admin/trangcanhan/xem/<?php echo $todaybirth["id"]; ?>'>
                    <?php echo $this->Thumbnail->show( array( 'src' => W_UPLOAD.$todaybirth["avatar"], "w" => 60, "h" => 70 ) ); ?></a>
                </div>
                <div>
                    <span id='RealName'><?php echo $todaybirth["realname"]; ?></span>
                    (<span id='DayBirth'><?php echo date("d/m", strtotime($todaybirth["birthday"])); ?></span>)
                    <img src="/img/birthday.gif" style="width:39px;height:39px;"/>
                </div><div style="clear:both;margin-bottom:6px;"></div>
            <?php } ?>
        </td></thead>
        <?php } ?>
</table></center>
<?php }else{ ?><div style="text-align:center;font-size:19px"><?php echo __("Không có sinh nhật nào trong tháng"); echo date("m"); ?></div><?php } ?>

<div id="scroll_loinhansinhnhats"></div>
<div class="MenuHorizon">◌ Birthday ◌
    <?php $display = "";
        if(!$check_show_loinhan){ $display = 'style="display:none"'; ?>
    <span id="loinhansinhnhats_SpanMenuHorizon" class="SpanMenuHorizon">
        <a href="javascript:void(0)" onclick="show_thongtin_loinhan_main( 'loinhansinhnhats', 'Loinhansinhnhat' )" title="Xem lời chúc sinh nhật">More</a>
    </span>
    <?php } ?>
</div>

<div id="loinhansinhnhats_hidethongtin" <?php echo $display; ?>>
    <div class="ThemMoiLoinhanMainRight" id="CHUCSINHNHAT">
        <?php echo $this->Js->link( "New", "/admin/mains/them_loinhan_right/Loinhansinhnhat",
                array(
                    'before' => '$(\'#loading\').show()',
                    'update' => '#window_content',
                    'title' => 'Thêm mới lời nhắn',
                    'success' => '$(\'#loading\').hide();window_show();'
                )
            );
        ?>
    </div>
    <div id="loinhansinhnhats" class="divsubcontent"><?php if($check_show_loinhan){ echo $this->requestAction("/admin/mains/loinhan_danhsachloinhan/Loinhansinhnhat", array("return")); } ?></div>
</div>
<?php echo $this->Js->writeBuffer(); ?>